[2016-04-12 20:42] atarijookie opened #1 "Webserver: can't enter @ in config screen"
E.g. in password and other fields @ is silently ignored.
Probably a problem with the keyboard normalization/conversion to St keys.

[2016-04-13 07:23] tuxie01 opened #2 "No special chars in network share password field"
There is no possibility to use special characters in the network share password field. The special characters are not safed.

Special Chars like , _- #

[2016-04-14 07:41] atarijookie opened #3 "CE_DD fails to run PRGs from translated drive when other driver is present"
At least 2 different reports have been made about CE_DD not launching PRG, when there is HDDRIVER or ICD Pro present on SD card - once with crashing with few bombs, the other was just endlessly hanging after trying to run a PRG.

Might be solved (or not) with the new Pexec() through RAW image emulation. Reported by Ferry R.

https://www.youtube.com/watch?v=KIOnvFKG2Po

[2016-04-14 07:54] tin-nl commented on #3
Key point here might be booting ce_dd first and then starting ICD/Hddriver. My setups boot SD card first and then ce_dd via auto folder - no problems.

[2016-04-14 07:54] atarijookie opened #4 "CE main app doesn't do retries on network tasks"
Tasks like:
- retrieve date / time
- retrieve update version
- connect to shared folder

...seem to fail, when the device is started with only wifi, because wifi isn't immediately up, CE main app tries and fails, and it doesn't do further retries. Reported here:
http://www.atari-forum.com/viewtopic.php?f=103&t=29674

Saving the config while the wifi is up seems to help, as that forces those networ

[2016-04-14 07:58] atarijookie opened #5 "Floppy emulation might not work on start"
User reported that floppy emulation doesn't work, but after saving one config, then other config it suddenly started to work.

My guess is that Franz chip was restarted and configuration wans't resent.

When Franz has issues to start (doesn't respond to CE main app), it might get restarted by CE main app. The settings are sent to it only once on start, and then on change. This could have lead to t

[2016-04-14 08:00] atarijookie opened #6 "TT doesn't boot CE_DD from SCSI, if SD card has ID assigned but SD card is missing"
Have CE with SCSI interface.
Enable SCSI IDs for CE_DD and SD.
When SD card is present in the slot, CE_DD boots fine.
When SD card is missing, it gets stuck with the 'CE bs' message, unable to continue.

This needs either Hans fix, or CE main app fix.

[2016-04-14 08:02] atarijookie opened #7 "IKBD emulated keyboard key(s) get stuck as pressed after restart"
Adam Klobukowski reports:

It seems, that sometime, keyboard state remains after power cycle. I'm playing with remote api atm. and it might be related to this. This sound strange, but happens to me a lot.

Some background
I'm using CE to remotely control STE, to record SNDH tunes into mp3s. I do this using STj player on STE and control it from PC via CE api, I want to encode whole archive, so I ha

[2016-04-14 08:04] atarijookie opened #8 "CE_DD isn't compatible with 040 / 060 accelerator"
CE_DD will probably fail (I've never tested that, don't have an accelerator) with 040 or 060 accelerator. This might have something to do with the caches or memory manager or something, I don't know - MiKRO and ggn had some ideas, both know those CPUs...

[2016-04-14 08:08] atarijookie opened #9 "CE_DD bootsector might need reworking"
There are two different CE_DD bootsectors:
- CE_DD ACSI bootsector - for ST and TT through ACSI
- CE_DD SCSI bootsector - for TT through SCSI and Falcon, which does detect TT or Falcon and behaves differently on them

As I've noticed in the competing driver, it can work with one bootsector both through ACSI on ST and through SCSI on TT (I use single SD card for testing on both), so it probably use

[2016-04-14 08:11] atarijookie opened #10 "CE_DD fails on nested Fsfirst() / Fsnext() sometimes, randomly"
Run TST_FSYS.PRG, see if nested Fsfirst() / Fsnext() test result (test: 0x310). It might succeed for the 1st time.
Then run it again, and possibly again, and the test will fail - it will find less files than it should.

This is a problem of either CE_DD or CE main app (or both).

[2016-04-14 08:13] atarijookie opened #11 "CE_DD doesn't support Fseek() on write operations well"
CE_DD wasn't tested on Fseek() when doing WRITE to files, so it will be most probably wrong. There are no tests in it in TST_FSYS.PRG

It will most probably fail for files doing READ/WRITE operations over the single file, too.

The Fseek() for READ operations has been fixed just recently, and there are also tests for that in TST_FSYS.PRG

[2016-04-14 08:19] atarijookie opened #12 "flash_xilinx takes too long to flash XC9572"
There's something weird when flashing XC9572, it takes around 42 seconds, although it should take only like 5 seconds. Extra delays have been added there, because it fails otherwise to flash it at all.

Before, when only XC9536 was used, flashing took only like 5 seconds.

[2016-04-14 08:23] atarijookie opened #13 "CE_DD screenshot functionality causes crashed / weird behavior"
When the screenshots functionality is enabled in CE_DD, the TOS and currently running app might misbehave - they might either crash, or not react to keyboard, or receive fake key down after each communication with CE in VBL.

One issue is that it shares the hddIf structure with the rest of CE_DD, this needs some external semaphore / mutex.

The other issue is that it either corrupts stack, or does

[2016-04-14 08:25] atarijookie opened #14 "CE_STING routine from VBL causes crashes / misbehaviour"
When CE STiNG is loaded and there is an open connection (socket) and / or ICMP handler registered, the TOS and currently running app might misbehave - they might either crash, or not react to keyboard, or receive fake key down after each communication with CE in VBL.

This issue might be harder to spot as when no network app is running, the CE STiNG doesn't do communication with CE in VBL, but thi

[2016-04-14 08:27] atarijookie opened #15 "CE_STING doesn't let AFTP know something, so it loops endlessly"
When you cancel FTP LIST (or similar longer operation) in AFTP, it probably waits for something, and it waits endlessly.

Either CE_STING doesn't notifiy AFTP correctly somehow that something has happened, or some structure (CIB / CAB) wasn't updated, or something similar.

[2016-04-14 08:28] tin-nl commented on #7
I'll have a look if the Rest API has some state here. Doubt it, but possible.

[2016-04-14 08:30] tin-nl commented on #13
Shouldn't this be true for screencast too, then?

[2016-04-14 08:37] atarijookie commented on #13
Yes, might be true even for screencast... But the screencast was made by you, and I copied parts of it into STiNG and screenshots in CE_DD, so I might have had screwed up a bit ;)

[2016-04-14 08:43] atarijookie opened #16 "CE main app IKBD emulation needs some fixing"
There have been a report on USB keyboard / USB mouse misbehaving in some game, I can't find the topic on atari-forum right now.

It would help with the fixing to:
1) create a 'unit' test for IKDB mouse / joy / keyboard (like with TST_FSYS.PRG and TST_STNG.PRG) to learn, describe and automatically validate behavior of IKDB commands
2) fix everything with CE using that test

The filesystem test and

[2016-04-14 09:25] tin-nl opened #17 "Fast boot from SD card"
The ST currently doesn't boot from CE when CE and ST are powered up at the same time. The reason is a) that the CE does somehow disrupt TOS while waiting for the ACSI bootsector by resetting Hans (the HD controller, so to speak) and b) the CE takes to long until the main app is up and running (>30sec in a WiFi and DHCP environment, 11sec with static IP).
To solve this, the main idea is to implemen

[2016-04-14 09:30] tin-nl commented on #17
Jookies ideas about this (taken from a mail):

I've made the CE preinit app:
https://subversion.assembla.com/svn/atarijookie/trunk/ce_preinit

It's basically cut down version of the full CE app, but only single thread, just sending ACSI IDs and replying E_WAITING_FOR_MOUNT error code to any other commands, which is used in ZIP DIRs for waiting until the mount finishes, and the plan is to implement

[2016-04-14 10:39] atarijookie opened #18 "CE main app terminating too quick results in segmentation fault"
When the CE main app starts, hit Ctrl+C almost immediately after start (within the 1st second), and:
- the app might take up to 5 seconds to terminate (due to waiting on timesync)
- the app will terminate wil segmentation fault

While both might not be an immediate issue, and even with it it might not cause problems in the most cases, in some cases it might result in further issues (on update, on

[2016-04-14 10:48] atarijookie opened #19 "CE config console gets broken sometimes when accessed through web interface"
Open web interface, open config console through it, and in main menu hold down the arrow key for a while - the cursor will move through menu items, sometimes causing the screen to break for a while.

This is due to the silly way that ce_conf_on_rpi.cpp : sendCmd() is done, which is utilized by webserver/api/resource/configresource.cpp .

This is not bug in the web interface itself, but might need

[2016-04-14 10:53] atarijookie opened #20 "CE main app IKBD enhancements"
Possible tasks:
- separate IKDB config screen
- move joy0/1 option from **other** to **IKDB config** screen
- mouse wheel as arrows up / down enable / disable
- keyboard keys ASDW as emulated joystick for those who don't have a joystick

[2016-04-14 23:28] miniupnp commented on #2
I think I can fix it !

[2016-04-15 10:06] miniupnp commented on #10
On my STE the test always takes more than 5sec to complete. I increased the timeout to 15 secs and added a message
please confirm it fixes the problem :)

[2016-04-15 11:16] miniupnp commented on #2
@tuxie01 : can you test new code ?

[2016-04-15 11:32] tuxie01 commented on #2
at the weekend i have time to work on the ce, yesterday i prepaired a development environment with a Linux install inside a Virtual Maschine (VirtualBox)

[2016-04-15 11:32] tuxie01 commented on #2
Sorry clicked the wrong button...

[2016-04-15 11:34] miniupnp commented on #2
I still have a problem with ,
Next step is to use credential file

[2016-04-15 17:57] tin-nl commented on #17
1) should be no problem

2) if this will present itself as a problem in this context, I guess it's already a problem now esp. regarding some of the less prominent copy instabilities that creep up now and then (have to see one myself yet on the newer versions though)

4) I don't think that any of the mentioned components (Bootsector/CE_DD) should wait per se - we want to use as much of the initiali

[2016-04-16 17:05] tin-nl commented on #1
Definitely the key conversion. CEs config console takes IKBD keycodes, not chars. Without knowing the actual Key layout of the ST (or the TOS lang version for that matter), it's somewhat hard to convert to the right keys. I somewhat dodged that one on the remote by adding the ST keyboard you can click at.
However: any idea to probe the STs key layout without CE_DD having to be loaded or even ACSI/

[2016-04-16 17:33] #19 closed, assigned to tin-nl

[2016-04-17 11:03] tin-nl commented on #7
Asked the original reporter what included the power cycle exactly.
STe and CE were power cycled at the same time. Unfortunately he has no logs of this.

There goes the "some state left" idea. IKBD as well as ce_main as well as TOS should have resetted their state then.

Next question: did this happen without any involvement of the Rest API or the physical keyboard during powerup?

Also: TOS might

[2016-04-17 17:19] tin-nl commented on #13
Added the mutex, fine so far. Have yet to test it with STiNG.
Screencast should be fine, that uses flock as mutex against Harddisk-Drivers, CE_DD etc.

[2016-04-17 18:49] tin-nl commented on #7
Confirmed: TOS sends $8001 (IKBD reset) and IKBD should answer with $F1 (latter not tested).
GEM sends on initialization $08 (Relative mouse mode), $0B0101 (Mouse Threshold 1,1), $10 (Y=0 on top), $0700 (default mouse button mode).

[2016-04-17 18:53] tin-nl commented on #7
@Jookie: what exactly happens, if CE doesn't relay IKBD commands? Does Bit 1 of $ffffc00 (=Tx data register empty) remain 0? Nothing is transmitted, after all...
If so, TOS blocks at the first ikbdws call until this bit gets 1 (AKA ce main app getting ready).

[2016-04-17 19:33] tin-nl commented on #9
This one might be simple: there is XBIOS 42 (yes, indeed) DMARead. This is available on TT/F030, don't know for MSTe. See http://toshyp.atari.org/en/00400d.html#DMAread
So we'll have that for the newer machines and hardware DMA calls for older TOSes (all ACSI machines).

[2016-04-18 11:28] tuxie01 commented on #2
It is working now :) great

[2016-04-18 11:32] tuxie01 opened #26 "ce_dd.prg isnt working when mint is used"
ce_dd.prg isnt working under mint.. maybe we need kernel moduls for mounting the translated devices like shared drive, config drive and usb devices.
Maybe we can ask mint developers for helping us?

[2016-04-18 12:00] atarijookie commented on #26
Someone got it working on ST, see here:
http://www.atari-forum.com/viewtopic.php?f=103&t=27285&sid=3e6822a41ce9868ea179d54956035a50#p293621

I wonder if this Mint on ST is somehow different from the one on TT, because if not, then it should work just fine without kernel modules.

[2016-04-18 12:06] atarijookie commented on #7
My guess is that the TX empty flag or something similar should work the same no matter if there is something connected (answering) or not, as this only indicates that hardware was able to push one byte out of the serial line.

When CE is down (either just the linux app, or the whole device), the commands are not handled, so even that 0x8001 command will not be registered.

There could be an improv

[2016-04-18 12:16] tuxie01 commented on #26
This is a very early MultiTos version, with Mint Kernel 1.12.4. The last Version is 1.19. Nobody uses this old version today. Only on Small ST Systems, but on TT030, F030 CT60 Falcon or so the newest Version is used. There you have no direct Access to the Hardware

[2016-04-18 13:08] atarijookie commented on #26
Ah, I see... Then there's definitely a need for some extra work there.

The other thing is, that CT60 would need some more fixing because of the 060 CPU, like mentioned here:
[Issue 8](https://github.com/atarijookie/ce-atari/issues/8)

So if someone is able to make it run on CT60, then the same person could help us fix it for TOS (without MiNT) on CT60 :)

[2016-04-18 13:30] tuxie01 commented on #26
For Mint we need it as Kernel modul...

[2016-04-18 19:24] tin-nl commented on #9
Untested prototype: [https://github.com/atarijookie/ce-atari/tree/ce_dd_unified_bootsector]
Only tested on ST for now, I have to test TT/F030/MSTE yet.

[2016-04-18 22:53] miniupnp commented on #9
disassembled ICD bootsector : https://gist.github.com/miniupnp/ea25f58e39872556c30a1c1a7c238b23
but this is ACSI only :)

[2016-04-19 05:25] #2 closed, assigned to nobody

[2016-04-19 06:21] atarijookie commented on #9
@tin-nl - great stuff, but I can't see the untested prototype - it says 'Page not found' when I click it
@miniupnp - the other driver, which does work through SCSI too, would be more interesting, although I wouldn't put the disassembly publicly then ;)

[2016-04-19 06:26] atarijookie commented on #1
Are we talking about accessing the CE config console through web? I'm bit lost about what we are talking about (sorry)...

[2016-04-19 07:31] tin-nl commented on #1
Yes, via web. The internal console in ce_main takes ST scancodes (through sendCmd or sth like that). For special chars like @, umlauts etc. the browser key has to be converted to the matching IKBD scancode. This is somewhat difficult without knowing the STs keyboard layout...

[2016-04-19 07:39] tin-nl commented on #9
@atarijookie: sry, should work now, it's only a link to the corresponding branch (forgot to mention the issue number there, that's why its not linked here automaticly).
@miniupnp: what jookie said. So better refrain from posting possibly copyrighted disassemblies, one can never know. I'm quite positive we found a solution without that :)

[2016-04-19 07:55] atarijookie commented on #1
OK, I'm totally not getting what is wrong ;) If I press the '@' on my keyboard in ce_config through linux console in Config -> Network -> WPA SSID edit line, I see it's being added there. When I do the same in ce_config through Chrome and web interface, I still see the '@' sign added there. The '@' sign (ascii 64, or 0x40) is in the log file:

[code]

Sooo, what's wrong here? I understand that if

[2016-04-19 08:13] tin-nl commented on #1
Hm, let me retest that with @, that's probably me being retarded :)

Regarding Umlauts: many people use those in their passwords - maybe we should at least show on the screen what can be entered and what can't. Or simply show the password fields in plain text.
 As you said - matching the IKBD codes to the right TOS language is difficult. At least I don't know an automatic way without using ce_dd t

[2016-04-19 08:21] miniupnp commented on #9
about ICD Pro : as everybody consider it as "Free", I thought it should not raise any concern...
Of course the other commercial hard disk drivers are another thing...

[2016-04-19 08:23] atarijookie commented on #1
I could understand that in shared drive password, but I don't use that in Wifi stuff - I can't enter special slovak / german characters even on my cell phone, so even when using my wifi through my (android) cell phone, I would fail. So I don't use that in passwords, but I can imagine some people could. Maybe a test could be added to the config screen saving, which would probe for not allowed chars

[2016-04-19 09:14] tuxie01 commented on #1
Be careful with post / get transaction, you can get a lot of problem with the encoding, sometimes you get Problems with a bom (byte order mark) problem. The only simple way is using utf8 as transaction in web (transaction over web interface to the PI).. i see the webinterface self is set to utf8 and is the code inside the pi also set to utf8 ?

[2016-04-19 16:57] tin-nl commented on #1
@atarijookie: do you use an english keyboard by any chance? @ with english keyboard (Shift+2) works, @ with German keyboard (AltGr+Q) doesn't. Probably a problem in term.js. I'll have alook.
@tuxie01: we post integer key codes via json, so no UTF8 problems on the PI side :) And BOM is a file marker, so it wouldn't interfere in a POST request anyways.

[2016-04-19 17:03] tin-nl commented on #9
@miniupnp: no problem, just sayin: :-)

[2016-04-19 17:27] tin-nl commented on #1
It is indeed a bug in term.js - it tries to derive a char from e.keyCode instead of using the char in e.key directly. But I won't fix that for now as it a) involves adding a hack to term.js and doesn't b) fix the other instances. I set this to wontfix for now, there are bigger fish to fry indeed.
Here's the diff for future reference:

[code]

[2016-04-19 22:53] atarijookie commented on #1
@tin-nl : yes, I'm using the english keyboard. In Slovakia it's almost like non-written rule (or at least people near me have it), that you have two keyboard layouts / settings under Windows - one is english for computer stuff (writing e-mail with that @ sign, programming, ...), and one is slovak for documents writing (with national / umlaut characters) which I don't use most of the time.

OK, I'm

[2016-04-20 18:51] tin-nl opened #29 "Screencast has undefined behaviour for non-ST screen resolutions"
At least a warning for unsupported Screen resolutions would be nice, followed by a list of supported ones.
Supporting higher resolutions would be nice, but ACSI bandwidth might be a very limiting factor here - the HDD should remain usable after all.

[2016-04-21 19:57] tin-nl commented on #9
This looks good so far and was as easy as hoped. As mentioned in commit: tested on ACSI: ST (TOS 1.0), STE (TOS 1.06/2.05), MSTE (TOS 2.05), TT (TOS 3.x), SCSI: F030 (TOS 4.x)
Successfully, even.

Two things are missing to see this into beta:
1. someone has to test this on TT SCSI (I can't due to a missing cable)
2. someone has to re-test the ce_main / bs combo on F030

_Explanation regarding 2: I

[2016-04-22 07:47] atarijookie commented on #9
I will test it in the following days, I got the SCSI cable for Falcon, but I can't find the Falcon to VGA cable in the mess I have in my man cave.

offtopic: anyone has a good way how to keep your room and things tidy? (to avoid big mess) :)

[2016-04-24 01:20] atarijookie commented on #14
AFTP - had a crash from time to time, but after one connection to FTP there's this keyboard input issue
Litchi - GXALLOC errory - out of ram - on some directories
IRC.TOS - chat.freenode.net, default port (6667?), ##Atari, seems to work fine
CAB 1.5 - can't open anything, it just opens local dir listing
CE STiNG test PRG - if there is the VBL routine running, the keyboard input issue is frequent

[2016-04-24 08:31] tin-nl commented on #14
Hello Jookie,

tried to do some STINg tests with screencast/screenshot yesterday, so your report comes at the right time :)

I hit a small problem though - I can't get network connections to work. It's probably because I stopped using Ataris for day to day work before this thing called "Internet" came along...
Do you have any tips? How do I configure ce_sting? The CPX of the original Sting won't s

[2016-04-25 07:33] atarijookie commented on #14
There is no configuration. If there will be some, it will be through ce config menu, but no standard config through CPX, ini files and so on is needed.

I guess your problems might be caused by:
- not using yocto / using raspbian - there are some changes when it comes to what can be done without additional permissions (at least for ICMP packets, but maybe for more)
- not using eth0 but using wlan0

[2016-04-25 08:20] atarijookie commented on #20
"separate IKDB config screen" is now done.

[2016-04-25 13:07] atarijookie commented on #18
Added checking of sigintReceived to other places in MfmCachedImage, now ends without seg fault when encoding and the sigint is received. It would be better if the order would be changed a bit to completely avoid this issue - first terminate floppy encoding thread, then delete data (now it happens somewhere in the opposite order and still could cause a crash, but now behaves almost fine :) )

[2016-04-25 13:07] #18 closed, assigned to nobody

[2016-04-25 14:33] atarijookie commented on #4
Added retry on date/time - 1 minute if failed, 30 minutes if success.
Added retry on update list - 1 minute if failed, 30 minutes if success.

[2016-04-25 18:14] tin-nl commented on #7
Here's an interresting case. While testing CE_STiNG, I saw several keyboard failures (via CE IKBD injector) that manifest themselves in an unresponsive keyboard and mouse (on ST as well as remote).
A few checks later, I had a reproducable case: start Bugaboo, enter "reset" (or try to), see "r" repeating endlessly until ce_main is restarted.
The gist:

[code]

This is a Mega ST with TOS 1.02, the C

[2016-04-25 18:45] tin-nl commented on #7
(Btw, just tested - same device, same injector and keyboard work flawlessly on a MSTE)

[2016-04-25 19:42] tin-nl commented on #13
Tested with ce_sting and litchi, taking several screenshots while downloading ftp://ftp.funet.fi/pub/atari/demo/ :

![screenshot-000 1](https://cloud.githubusercontent.com/assets/18448788/14796564/53345fd4-0b2e-11e6-95a4-0ab8c35c7b3c.png)
![screenshot-001](https://cloud.githubusercontent.com/assets/18448788/14796569/590bc546-0b2e-11e6-9df2-d120add9b1e7.png)
![screenshot-002](https://cloud.githubus

[2016-04-25 22:22] atarijookie commented on #7
Wow, that's crazy... I can't say out of my head if the behavior could be improved on the problematic machine, but it sounds like the resistor patch didn't help completely, and with combination with some IKBD emulation bug it fails miserably.

The first thing I would to help with this is that IKBD 'unit' test mentioned before in the issue #16 , that could accidentally fix the thing ;) and if not, i

[2016-04-25 22:28] atarijookie commented on #13
Now that looks nice ;) I'm not sure whether you're asking if the CE_DD + screenshots + mutex is OK this way, or the CE sting is OK this way, but I would say it's an improvement if it seems to work fine. Good job, tIn. Will you merge the ce_dd mutex branch now? :)

[2016-04-26 00:22] #9 closed, assigned to nobody

[2016-04-26 00:27] miniupnp opened #32 "TRANS.TBL support"
As 8.3 filenames are a bit limited, it could be great to support TRANS.TBL in translated drives.
I remember using such files on old CDROMs with MSDOS.
https://en.wikipedia.org/wiki/TRANS.TBL
As they are text files, they can easily be parsed by tools on the atari, or even be displayed to the user

[2016-04-26 00:37] atarijookie commented on #9
OK, so I've tested it on TT and it had some minor issue (not updating the SCSI ID when it should). So I've fixed that, then I've found out that there's another place where it replaces the ACSI / SCSI ID, this could be removed as now we don't need to reload the boot sector based on ACSI / SCSI usage.

Then it was working fine on TT, and I've also tested it on Falcon - without real video, just by th

[2016-04-26 00:39] atarijookie commented on #6
It seems that when the (improvement / ) Issue #9 was done, this issue disappeared - I don't know whether it's caused by the improved boot sector, or by the fixed ce_main_app, but let's keep it open for a while and if it won't appear again, I'll close it later...

[2016-04-26 00:42] atarijookie commented on #13
Btw., how did the ce_sting thing go? Any weird behavior? How about the transfer speed? (I guess the transfer speed could be low as the ST apps use too small buffers, and it would be much better if they just used larger ones).

[2016-04-26 01:37] atarijookie commented on #32
Now the main question would be - how the Atari users would use that? I would assume more than 50% of them don't use any special software which could handle TRANS.TBL...

The support for long filenames is good in MiNT and MagiC, but that requires much effort (changing  / extending the translated drive features). The support under bare TOS is not present. Could you describe the usage a bit more? May

[2016-04-26 01:53] atarijookie commented on #10
I have run the test on my STFM 3x in a row, all succeeded, so I guess it's fine. Thanks for finding out that it was just a bad test timeout :)

[2016-04-26 01:53] #10 closed, assigned to nobody

[2016-04-26 07:45] tin-nl commented on #16
As you mentioned in #7, this would be usefull to find edge cases and/or questionable hardware. How would you go about this? At some point this integration test needs to inject Keycodes via ST keyboard. The only way I can think of doing this w/o CEs involvement (which is under test after all) and aside from user pressing keys would be an 6800 IKBD programm. We do only have 128 bytes there, but it m

[2016-04-26 07:46] #13 closed, assigned to tin-nl

[2016-04-26 07:52] atarijookie commented on #16
Depends on what we would test:
- tests like reset, get mouse position, and so on can be handled without anything other from ST code directly
- tests for mouse, joystick, keyboard would require the user to type / move stuff, and I would be fine with that, as this doesn't need to be fool proof test for anyone, just for fixing stuff - e.g. it would configure absolute mouse reporting, show on screen m

[2016-04-26 08:58] tin-nl commented on #16
I'm not sure if we get enough edge cases w/o an IKBD client program. But you are right, for a first, basic tests the above would be the easiest to implement. I see if I can cough up a little console-based framework where w can more tests easily.

[2016-04-26 09:05] atarijookie commented on #16
That would help me a lot, as I remember last time I did something with IKBD it required some asm, in which I'm not good ;) With a minimal framework, which would hook itself to IKBD stuff and forward everything to some C function, which would then handle the rest, I could easily fill the test cases...

[2016-04-26 09:06] tin-nl commented on #7
I'll test this on another Mega ST. AFAIR I had the same behaviour on an STE too back when there was no ikbdlog - unfortunately the DMA there is seriously shot (bit flips, so no ACSI boot and some chars/bytes appear changed opposing to the original disk content), so I can't test that one.

[2016-04-26 12:01] miniupnp commented on #32
I just remember how we got around 8.3 limit back in the old days.
on PC I was using 4DOS which displayed additional data with dir. It was stored in a DESCRIPT.ION file if I remember.
I don't know if TOS applications have a usual way to do...

Anyway, don't waste any time on it if there is no user need :)

[2016-04-26 12:31] miniupnp opened #34 "CE_DD API / trap handler"
I'm wondering if ce_dd should expose an API to programs (or other drivers)
It's already handling trap 1 for gemdos functions, some functions could be added for :
- checking if a drive is translated
- sending ACSI / SCSI commands to the CosmosEx (useful for fakeSting driver / media player / etc.)
- etc.

[2016-04-26 12:50] atarijookie commented on #34
I was thinking of something similar, but instead of poisoning the trap 1 even more, I would add a cookie with pointer to that API, and to avoid many function pointers, I would suggest having just one function (API) pointer which you would call with a pointer to struct like:

[code]

That way the API handler could do something like:

[code]

This way we wouldn't have to add more pointers to API, bu

[2016-04-26 13:33] miniupnp commented on #34
indeed adding functions to trap 1 should be done in a sensible way, and so that all the atari coding community is aware and the functions are added to public documentations ( http://toshyp.atari.org/en/005013.html ?)
The cookie approach looks also good. You could use a variadic function :
DWORD CE_DD_Api(WORD number, ...);
so any number of argument is on the stack and it's easy to do the calls in

[2016-04-26 13:45] atarijookie commented on #34
If possible, I would like only one DWORD (4 bytes, pointer or something on 4 bytes) to be stored on stack, as different compilers store it differently on stack (calling conventions):
- with gcc you get every parameter (even a single byte) stored as 4 bytes
- with Pure C the DWORD is stored on 4 bytes, and WORD and BYTE are stored on 2 bytes
- something other (GFA Basic?) might use even something e

[2016-04-26 13:58] miniupnp commented on #34
I guess the "official" Atari ABI for TOS is 16bit, what you describe as Pure C calling conventions. In fact it's how 68000 works (byte and word  being pushed as 2 bytes on the stack, and long as 4 bytes)
That's a shame GCC ABI is not the same.
In that case, passing anything other than pointer/DWORD is dangerous as structs are depending on ABI too.
let say the function need a WORD and a DWORD as ar

[2016-04-26 14:00] miniupnp commented on #34
you could also define your own calling convention (using registers, for example :) and provide a small ASM "trampoline" for each C calling convention.

[2016-04-26 18:01] tin-nl commented on #34
How did others in TOS-land solve this?
 I definitely see the cookie (at least to check availability). The pointer idea is viable, but the ASM wrapper is, too. I second to get as far away from calling convention hell as possible.
So, what's driving the decision? It should be usable for ASM as well as for C coders, right? What else should the API dispatcher achieve?

Some examples (bad or good) prob

[2016-04-26 18:08] tin-nl commented on #13
I do have to test ce_sting thoroughly, yet. I just was so excited that Litchi worked, that I simply had to do some screenshots for proof ;-)
Well, and there was the not-crashing of said screenshots while ce_sting was doing things, too.

[2016-04-27 08:00] atarijookie commented on #34
Maybe the only thing there needs to be done is to do it in any kind of way, and then just create a skeleton / example for gcc, Pure C, asm and GFA Basic, which would:
- detect the presence of CE_DD, retrieve the API pointer (or something)
- have the wrappers, which would call all those API fuctions

That way it could be used by any language by developers no matter what calling convention they use,

[2016-04-27 08:14] atarijookie commented on #34
The only thing that I would like to achieve / stress here with the API is to have the function number as a first parameter, so there could be a large switch(functionNo) in the dispatcher / handler. Everything else (calling convention conversion, structure alignment / packing) can be handled inside of individual functions and I'm fine with that.

[2016-04-27 13:39] atarijookie commented on #4
The retry of mounting of shared folder is already there, so closing this task.

[2016-04-27 13:39] #4 closed, assigned to nobody

[2016-04-27 13:45] atarijookie commented on #3
Asked the user to update to newer version of the software. He reports that he still got issues:

[2016-04-27 22:13] miniupnp commented on #11
should the test be included in test_filesystem/test05.c test058x() ?

I think I can write a test that :
write a file (like n bytes) then Fseek / Fwrite / Fseek / Fwrite / Fseek / Fread / etc.
then close the file, open it again and verify everything is a expected.

[2016-04-28 04:59] atarijookie commented on #16
@tin-nl , did you start making that IKBD test app? Because if not, I could start that today - I just want to avoid doing something which you already did or already started.

[2016-04-28 05:23] tin-nl commented on #16
I did, just didn't came around pushing it yesterday.

[2016-04-28 06:14] atarijookie commented on #16
Holy cow, that's awesome ;) Let me add some tests there ;)

[2016-04-28 06:48] atarijookie opened #40 "FileNameShortener in CE main app doesn't refresh when files are added on host"
1. Open a shared folder on ST and see the files
2. Create a file or folder with long filename on PC in that shared folder
3. Hit ESC on ST to refresh folder content on ST, see if the new folder (created on PC) did appear
4. Try to open the new folder on ST - this fails, if I remember correctly.

In 3. the files / folders are processed with DirTranslator::buildGemdosFindstorageData().
In 4. the fil

[2016-04-28 07:05] atarijookie opened #41 "Extend filesysten test and CE main app by testing the FileNameShortener"
This hasn't been done and much tested before, so it would be nice to add this and possibly fix any issues that might arise.

The current filesystem test uses only TOS functions for creating files and directories, so all the created things don't need the FileNameShortener. So to test the FileNameShortener and it's corner cases, we would either:
**A)** create a set of special commands in the CE main

[2016-04-28 07:25] atarijookie commented on #11
I would create another test and not add it to READ+SEEK test :)

_(Don't take the following as I'm telling you what to do, I'm writing it here so I would remember it + to note the possible test cases, you might drop doing this if it's too much work or something.)_

We need many simple tests for that (not a single huge one), so the tests should be like:
- open file for Writing, write bytes, seek to

[2016-04-28 08:43] tin-nl commented on #34
Does sting provide a good example for a shared Library/API? It is used by many applications, after all.

[2016-04-28 08:51] tin-nl commented on #34
Other thing: there are some functions that are very nice to use in your own PRG, but for some reason (**cough** low memory used in demo fx **cough**) ce_dd can't be loaded. I use st_print a lot for example for logging from ST to CE, but have to link it statically.
So it would be nice to have this layer of helpers that can be added to ASM/C programs as includes, that build a base for the CE_DD api.

[2016-04-28 08:55] atarijookie commented on #34
`Does sting provide a good example for a shared Library/API? It is used by many applications, after all.`

No, because it has pointer to each function, so you can't do switch(functionNumber); plus then you get always a newer version of structure when you extend the API - with single API function() we could avoid that, and it would nicely respond to non supported function number.

And also it has t

[2016-04-28 09:00] atarijookie commented on #34
Static helpers are fine with me, too. The more options to use the CE for anything more is good.

[2016-04-28 09:17] atarijookie commented on #34
gcc has some macros and assembly code:
/cygwin/opt/cross-mint/m68k-atari-mint/include/mint/osbind.h

...which have the original functions (like Fsfirst()) mapped on macros (like trap_1_wlw(n,a,b)) which then have asm code in them and they move the data on stack manually.

It's done the same way for clients in gcc for Sting:
#define TCP_open(w,x,y,z)  STinG_wf_LWWW(tpl->TCP_open, (w),(x),(y),(z))
.

[2016-04-28 14:07] atarijookie commented on #20
Started to do implementation of joysticks emulated on keyboard.
Ikbd joy 0/1 config moved from Others to separate IKBD screeen.
Created separate IKDB screen in config, where you can disable mouse wheel
and enable joysticks emulated on keyboard.
Some char \* changed to const char *.

USB mouse wheel not tested. Keyboard joysticks just started, and for USB keyboard at this moment - will add code for

[2016-04-28 17:47] miniupnp commented on #34
if you use gcc only because you can cross compile, just configure it to psuh 2 bytes on stack for WORDS. that is -mshort switch :
       -mshort
           Consider type "int" to be 16 bits wide, like "short int".
           Additionally, parameters passed on the stack are also aligned to a
           16-bit boundary even on targets whose API mandates promotion to
           32-bit.
also use  -mno

[2016-04-28 21:31] miniupnp commented on #41
I found bugs today. ;)

[2016-04-28 21:33] miniupnp commented on #40
I think what should be done is that DirTranslator::buildGemdosFindstorageData() updates the dirTranslator stored data, thats all...

[2016-04-28 22:43] miniupnp commented on #40
I do not have the bug anymore. I think it was because 2 shortener were kept for same path (because code used both path with and without trailing slash) which were not in sync.
Test with my latest patches :)

[2016-04-28 22:52] miniupnp opened #44 "FAT attributes on translated disks"
as far as I see, the ce_main_app doesn't read FAT attributes on translated disks/sticks.

there are some solutions using ioctls : http://stackoverflow.com/questions/1644416/how-to-read-vfat-attributes-of-files-in-linux-using-c

Also my FAT32 sticks and my network shares are filled with Mac OS X crap (.AppleDouble .DS_Store, etc.) which shows at .APP .DS_ on the ST.
theses dot files are supposed to

[2016-04-29 06:18] atarijookie commented on #34
The usage of '-mshort' in CEDD could help the API thing, but I guess without further changes it would break the functionality of the CEDD, so either I would do it other way, or in this moment I'm too lazy to do all the changes to CEDD to keep it functional :-D

Anyway, as @miniupnp and @tin-nl seem more experienced and capable in this, I'm leaving this thing up to you, guys :) Just don't break any

[2016-04-29 06:41] atarijookie commented on #40
OK, I will do a test on my Atari once I get to it (this or the next night). I really miss a way of testing things like these without the Atari - either unit tests, or something else...

[2016-04-29 08:02] tin-nl commented on #34
@minupnp: just to coordinate; what's the next step? My coding time is a bit rare (aka nonexistent) in the next days. But I have to push the IKBD test harness one of these days anyway, so while I'm at it, I can at least search for and clean up my st_print ASM code for static usage.

[2016-04-29 12:54] atarijookie commented on #20
Keyb joys added to config - specifying individual keys, enabling, loading, saving.
Handling (translation) of USB kyeboard to keyb joys, and also ST keyboard to keyb joys done.
Now needs to be tested (and possibly fixed).

[2016-04-29 14:41] miniupnp commented on #34
@tin-nl : I'm asking help to old atarian coders :)

[2016-04-29 16:01] atarijookie commented on #34
And by that you mean tIn, or someone else from the scene? ;)

[2016-04-29 16:07] miniupnp commented on #34
someone from the french atariscene... :) It says to do it the Sting way.
I will do more brainstorming :)

[2016-04-30 12:02] tin-nl commented on #34
@miniupnp: Anyone one might have met at STNICCC?

[2016-04-30 12:07] tin-nl commented on #16
Finally came around to push this.
A) a test lives in /tests and consists of the usual init/run/teardown functions
B) tests have to be added to main.c
C) I've only added simple examples, didn't have time to add the mouse example (hence this test failed as it's not implemented)
D) I've included alle the ACSI/SCSI stuff, we might need this to check back with the PI for some tests

Hope this is somewh

[2016-04-30 21:42] atarijookie commented on #16
Holy cow, this is much more code than I thought! :) Great job, tIn, thanks.
I will check it out in detail and extend it during the work days, as my time during weekend is limited. Then I'll report on the progress.

[2016-05-01 00:01] atarijookie commented on #20
Keyb joys tested using JOYMOUT.PRG from original keyboard and from USB keyboard, they seem to work fine.
Mouse wheel to up/down tested with Everest, feels nice ;)
Closing this enhancement task, and if there will be issues with it, either I will reopen this one, or create a bug here.

[2016-05-01 00:01] #20 closed, assigned to atarijookie

[2016-05-01 00:03] atarijookie commented on #40
I tested it before merging (pulling) your changes to my local git repo and I didn't experience this one, so either I can't reproduce it (am I doing something wrong?), or it was already gone... Closing this issue.

[2016-05-01 00:03] #40 closed, assigned to nobody

[2016-05-01 00:19] atarijookie commented on #6
Works fine on TT through SCSI, so I guess it's gone after improvement #9 . Closing.

[2016-05-01 00:19] #6 closed, assigned to atarijookie

[2016-05-01 00:27] tin-nl commented on #16
It's not that much code as it seems - many things are copyied from acsi test (I guess we need most of it) :) I'll happily clean up unused parts later, so you can just focus on the tests.

Btw: at some point i the future we should move this boilerplate code that we copy/pasted around either into a lib or at least in a directory where the PRG makefiles can pick what they need...

[2016-05-01 01:05] atarijookie commented on #16
Naah, screw it, I'll figure it out and maybe even clean it myself later :)

Aaah, that merging, reusing, then branching because the lib / merged version can't do something and we don't want to break the rest :-D At least the ACSI / SCSI part could be later done through the (future) CE_DD API, I'm not sure about the rest - if it's so reusable.

[2016-05-01 12:18] tin-nl commented on #16
that's the idea, only things like device discovery, ACSI/SCSI transfers, Cookie, XBRA, the real standard stuff.

 I don't think that we should set CE_DD as a requirement for the test or the screencast, sting etc. It's better if those can be used indepently. I guess that those routines don't take much memory after all.

[2016-05-01 19:03] tin-nl opened #45 "Disk image containing status info"
Esp. the SCSI version currently often only gets connected via Floppy interface - many people lack the SCSI cable and/or are curious while waiting for one. Often they don't know they can connect the CE to the Network and if they know and/or do, they can't figure out the IP address.
It would be very helpfull in those cases, if drive A would contain a readme.txt that Contains CE info like IP address,

[2016-05-01 22:43] Gunstick commented on #44
Would need to know if TOS even respects the attributes. Else there is no need to emulate them. Still, removing the display of . files can be useful. Maybe add an on/off switch in the config, like for the ZIP files.

[2016-05-01 23:01] atarijookie opened #46 "GEM version of ST apps"
Some ST apps for CE could really use GEM user interface instead of the text only interface, e.g. the fdd management tool... some people really disliked the text version of that. I don't have experience with GEM programming :)

[2016-05-01 23:13] atarijookie opened #47 "Transition to Raspbian"
Tin and tuxie are already looking into this...

Apart from creating the raspbian ce image, there is also need for:
- detecting the linux image type from code
- disable functions which rely on raspbian when running on yocto
- possibly start releasing 2 builds of ce main app - one for yocto, one for raspbian
- fix things which work differently on these two
- on update download the right update packa

[2016-05-02 06:11] ggnkua commented on #44
According to the compendium (http://www.yardley.cc/atari/compendium/atari-compendium-GEMDOS-Function-Reference.htm)

FA_READONLY 0   Read-only flag
FA_HIDDEN       1   Hidden file flag
FA_SYSTEM       2   System file flag
FA_VOLUME       3   Volume label flag
FA_DIR      4   Subdirectory
FA_ARCHIVE      5   Archive flag
     -      6...    Currently reserved

So at least these should be alright. I

[2016-05-02 06:51] atarijookie commented on #45
Yes, it inserts an empty image...

But why would you want to find out the IP of your device from that status file?
When I want to find the IP of my device (which gets assigned from DHCP), I either look in the client list of my router (through web interface), or use Angry IP scanner to scan the whole network.
I understand that looking into a single file would be simpler though...

[2016-05-02 07:05] tin-nl commented on #45
Of course, we do it like that, but as I said, many users don't know how. They often even don't know that the ST can't configure the CE w/o ACSI connection.

That way the "I don't read/understand FAQs" crowd would at least stumble upon the webinterface. So a "welcome" disk image would go a long way for trial-and-error users.

[2016-05-02 07:33] atarijookie commented on #45
Hmm, once there will be write support on the floppy interface, you theoretically could configure the CE even through FDD without ACSI ;) But you're right, let's help those people to get started.

[2016-05-03 00:32] atarijookie commented on #14
AFTP crashed on me with VBL enabled (2 bombs), then the keyboard misbehaved. When turned off the VBL, it didn't happen. Maybe I should c&p tIn's mutex from CE_DD and try it with that...

[2016-05-03 00:52] atarijookie commented on #14
AFTP: VBL caused crash + keyboard misbehaving, then VBL turned off, download speed: 6.2 kB/s
Litchi: doesn't list the dir content

[2016-05-03 02:19] atarijookie commented on #3
**SD as 0**, SD contains ICD Pro, the CE_DD in AUTO folder (ICD Pro won't let CE_DD boot after it has booted)
**CE_DD as 1**
-- everything fine

**CE_DD as 0**
**SD as 1**, SD contains ICD Pro
-- can't run stuff from config drive - on my machine it just waits endlessly, on reporter's machine it throws bombs

Now the weird thing - I expected it will get stuck in loading or something, but when I loo

[2016-05-03 02:49] atarijookie commented on #3
I had an idea to check if the Rwabs() vector got replaces (e.g. by ICD Pro), and if it's so, then I would replace it again, but that didn't help... (and also replacing all Rwabs() / Mediach() / Getbob() didn't help neither).

[2016-05-03 11:48] atarijookie commented on #14
Sqward writes in a PM on atari-forum:

[2016-05-03 12:35] atarijookie commented on #14
Sqward writes some more:

[2016-05-03 12:43] miniupnp opened #49 "Pexec issue ? Demos not loading"
I don't understand exactly why, but some cool demos don't run from a translated drive anymore (release_ce_main_app-2016-05-01)

Fantasia (big .TOS file) is still running fine, but it only requires 1.7MB of free RAM
Sea of colors is going back to desktop directly.
We Were @ is saying it needs a STE with 4MB (which I have :)
DHS / Summer Delights display a GEM error message box complaining there is

[2016-05-03 12:45] sqward commented on #14
As discussed in PM messages. Your handler shouldn't block any interrupts. ACIA has no FIFO so this is causing keyboard acting weird.

[2016-05-03 12:57] atarijookie commented on #14
@tin-nl - do we have a reason for blocking those other interrupts while we're handling VBL?

[2016-05-03 13:05] atarijookie commented on #49
I wonder if it was working fine with release_ce_main_app-2016-04-24:
- if 2016-04-24 would work fine and the 2016-05-01 doesn't work, that could be related to ce_dd_unified_bootsector (improvement by @tin-nl ), which might have had not released all the unnecessary RAM on start...
- if even 2016-04-24 would cause trouble, then I'm not sure... :)

You could do a simple test - let CE_DD boot directly

[2016-05-03 13:16] tin-nl commented on #14
AFAIR we did this to have an atomic transfer in case flock isn't considered (unfortunately old Hddriver doesn't check flock and other drivers have this problem, too). We had so many issues with the transfers back then, that this surely was one of those "just in case" things we threw at those problems. Have to check the IRQ priority to see if this is necessary. Interestingly screencast has a quite

[2016-05-03 13:38] miniupnp commented on #49
It's maybe only my STE which has an issue with the 2nd bank of RAM.
SYSINFO now detects only 2MB :(

[2016-05-03 13:41] atarijookie commented on #49
OK, and this is with CE_DD not loaded, right? (just to rule out CE_DD messing up something even for SYSINFO).

[2016-05-03 13:43] miniupnp commented on #49
yes I unplugged the CE :(

[2016-05-03 13:44] miniupnp commented on #49
bank 1 shows as 0 Kbytes :(

[2016-05-03 13:44] #49 closed, assigned to nobody

[2016-05-03 22:23] miniupnp commented on #15
I've got aFTP 1.55b, I'm trying to cancel operation

[2016-05-03 22:27] miniupnp commented on #15
I cannot get Atarirc to work. Which version could you advise for my TOS 1.06 STE ?

[2016-05-03 23:28] miniupnp commented on #34
@tin-nl : I don't know if he went there. Do you know zerkman ?

[2016-05-04 06:39] atarijookie commented on #15
Well, if you're talking about AtarIRC from Lonny Pursel, that is intended only for newer machines with newer TOS (TT, Falcon, and clones?), so Lonny told me it won't work properly on ST because it lacks something in TOS / AES, and he recommended IRC.TOS - I can't find it now online, so you could get it from here:
https://www.dropbox.com/s/27kkzwfexx0evcf/irc_tos.zip?dl=0
or this one:
https://www.d

[2016-05-04 06:51] tin-nl commented on #34
I do at least know of his MPP fame :) The Sector One guys where at a neighbour table, we talked to some nice guys, but I don't particularly remember talking o Zerkman, probably a shame if he was there.
So any chance to convince him or others (there was one of them particularly interested in the CE IIRC) to get a CE and join in? We need more Scene people!

[2016-05-04 06:59] tin-nl commented on #29
In preparation for this currently adding (aka copy&paste) SCSI support, so F030 resolution check can be added, too. Pushing the branch as soon as it's not totally broken anymore.

[2016-05-04 07:09] atarijookie commented on #29
Great, looking forward to that :) In the meantime I'm waiting for PCBs for the Falcon SCSI adapters ;)

[2016-05-04 07:11] miniupnp commented on #34
I've been trying to convince him, but he currently doesn't want to get his STF or his Falcon out of the attic. He's doing all his Atari dev with Hatari :)

[2016-05-04 08:17] tin-nl commented on #29
Woohoo! I'm desperate to get rid of that Frankencable I currently use (but don't tell Frankencable, it's pretty scary) ;-)

This is for the external SCSI-2 conector, I presume? AFAIK @tuxie01 is working on an internal adapter atm.

[2016-05-04 08:29] atarijookie commented on #29
Yes, as I assume that most of the people will be lazy to open Falcon and install the device inside.

Yeah, I saw it - he showed me ;) If there would be a demand for that one too, I could have made that one also, but now that tuxie is making them, there's no need for me to do the same thing :)

[2016-05-04 08:41] tin-nl commented on #47
The current plan is to keep a failsafe distribution (Yokto) on the stock SD card. Unfortunately the latest Jessie(s) switched the boot/kernel (aka the first partition with config.txt and the like) to an incompatible version. Yocto and ce_main itself runs, but e.g. cifs mount won't work anymore. Unfortunately there's not enough space on the boot partition of the Stock yocto image to keep two kernel

[2016-05-04 09:06] atarijookie commented on #47
OMFG, that's complicated, and that means it has more opportunities to get broken :-/ And as there is no real way to show progress of the whole, people will be inpatient, turn it off too soon screwing it somewhere in the middle.

The easiest way to show the 'progress' would be just to connect RPi to TV using HDMI and watch as it reboots, does stuff and so on, but most of the people will be lazy to

[2016-05-04 09:29] tin-nl commented on #47
With the cur yocto it's not possible, the system has to run from sth ot than the write target or it would crash. That might be ramfs or USB. The procedure stays almost the same.
That's a m current script uses your double buffer idea - create new dist on SD car and switch to that one. Unfortunately the PIS boot partition cna't b configured.

That's the thing whe I woul be great to have some numbers

[2016-05-04 09:34] tin-nl commented on #47
And we surely don't need to wait for this upgrade path to switch to raspbian. Except @tuxie01 s kernel (which might o might not be as fast booting as yoctos, last checked it was much slower, but those were first tries) and the dist detection, everything else should be a go so far (disregarding t build processes of course).

[2016-05-04 09:56] atarijookie commented on #47
Then what about just adding some script, that would copy the minimal yocto to ramfs on the next boot, start that one instead of the one on the SD card, and then write the whole image from USB?

Well, I don't have any numbers... I was thinking about adding something for reporting the app version  and serial number to the server, so at least I could create a table like:
this serial number - that app

[2016-05-04 12:16] miniupnp commented on #11
I added a small test.
It pass without problem in hatari and on a real STE with the Floppy (100% sure the floppy has the right TOS behaviour :)
but it fails right away on a translated USB stick. It looks like Fseek(0, f, SEEK_CUR) is not even returning the proper position after a write

[2016-05-04 12:21] miniupnp commented on #11
My test is pretty basic, we can enrich it later.
However, I'm checking the return of each function
and at the end the whole content of the file.

[2016-05-04 13:05] miniupnp commented on #11
For some reason the CE receive 2 Fseek commands... it rewind to the begin of file...

[code]

[2016-05-04 13:07] miniupnp commented on #11
SEEK_CUR is 1, SEEK_SET is 0. The firt Fseek should not happen

[2016-05-04 13:10] miniupnp commented on #11
ok the problem is coming from ce_dd.prg, some weird stuff is going on in fseek_cur

[2016-05-04 14:19] atarijookie commented on #11
There was the same / similar issue with Fseek() when doing **read** operations:
1) first it was implemented on a bad idea,
2) then the bug was reported
3) the issue was fixed by reimplementing it on a new idea

It was copied and pasted on write operations in step 1), that's why the write is still broken, and there hasn't been any 2) and 3) yet.

So I suggest looking at Fseek() on read operations,

[2016-05-04 14:43] miniupnp commented on #11
I had a look at how it works. I guess I will indeed reimplement the Fseek/Fread/Fwrite

[2016-05-04 14:53] miniupnp commented on #11
anyway, any feedback on how I implemented the test is welcome. I'm not sure I named the function or called the log properly

[2016-05-04 15:01] miniupnp commented on #14
@sqward : commit 6ff6614 is removing the interrupt masking

[2016-05-04 15:27] miniupnp commented on #15
thanks, IRC.TOS works well.

I've just tested litchi 1.1j
It does try to connect, but I've got "Authentication failed" in the console along with "connected to 192.168.10.254"
In the log, it looks like 2 connections are open :

[code]

[2016-05-04 16:12] miniupnp commented on #15
I think I have the same bug with litchi that you have with AFTP

[2016-05-04 16:19] tin-nl commented on #15
Can you have a test with ftp://ftp.funet.fi/pub/atari/ ? Does this work for you? Which hdd driver do you use and is your ce_sting with or w/o vbl?

[2016-05-04 16:34] miniupnp commented on #15
it works a bit better with ftp.funet.fi. it says the authentification succeeded but never get the directory listing.
I'm using the "'without vbl" driver, maybe it matters.

[2016-05-04 16:50] miniupnp commented on #15
is litchi working for someone ?

[2016-05-04 16:52] tin-nl commented on #15
That's interresting - I was able to dl complete directories from there (9 days ago, see #13).
Which HDD driver are you using? Maybe that's the difference?

[2016-05-04 16:52] miniupnp commented on #15
only CE_DD

[2016-05-04 16:54] miniupnp commented on #13
@tin-nl which version of Litchi are you using ?

[2016-05-04 16:58] tin-nl commented on #15
Could you try the same with a native driver and an SD card as write target? Maybe the missing C drive poses a problem here.

[2016-05-04 16:59] tin-nl commented on #15
(I was using the non-vbl version, too, btw.)

[2016-05-04 16:59] miniupnp commented on #15
I'm not even getting file listing... I'm using Litchi 1.1J with TOS 1.06, what versions are you testing ?

[2016-05-04 17:35] tin-nl commented on #15
AFAIK the latest, litchi 1.3f. TOS 1.04.

[2016-05-04 18:07] tin-nl commented on #47
I guess Yoctos probably too big for that, but I'l check.

Yeah, I'll see. But I'll suspect that at least the Wifi image DLs should exist in some logfile somewhere? That would at least give us a ratio how many first-batch-people took the hard way to update.

Absolutely! We don't need a custom kernel - @tuxie01 just wants to see if he can generate a significantly faster time-to-network by cautiously

[2016-05-04 18:37] miniupnp commented on #15
OK. lichi 1.3f works, lichi 1.1 doesn't. (I tested both on my TOS 1.06 STE)
according to the log, they are not using the same Sting functions.
lichi 1.1 makes use of CNget_chars()
lichi 1.3 only of CNget_block().
I guess there is a bug in ce_sting implementation of CNget_chars()

[2016-05-04 18:40] tin-nl commented on #15
Good find! :)

[2016-05-04 18:47] miniupnp commented on #15
@atarijookie does AFTP uses CNget_chars() ?

btw, does anyone know where there is a proper Sting API documentation ? I only have the "DEV-KIT" from Sting with the .h files...

[2016-05-04 18:54] tin-nl commented on #14
Double checked all the usual drivers - none of them uses MFP vectors, so removing the sr mask is probably safe.

I still don't know why this doesn't produce problems with the screencast.
@atarijookie: Does sting remain in VBL longer than screncast does? E.g. has more transfers there?

[2016-05-04 21:35] miniupnp commented on #11
The issue was simpler that I though... the pointer was just not updated after Fwrite !
we could add a few Fseek() in the other existing tests, just to check that theorical position matches the position returned by Fseek()

[2016-05-05 06:48] atarijookie commented on #15
Might be, but the test for CNget_char() in test_sting prg seems to succeed. Maybe I'm missing something there...

There is this Sting guide, I have one copy here:
[http://joo.kie.sk/cosmosex/sting_docu.zip](http://joo.kie.sk/cosmosex/sting_docu.zip)

...and you can view it through your browser, by using Opichal's online viewer, e.g. like this:
http://phoenix.inf.upol.cz/~opichals/libhyp/hypview.cg

[2016-05-05 06:52] atarijookie commented on #14
Well, it's hard to say and just compare without real numbers:
- screencast transfers more data - 32 kB + 0.5 kB
- ce_sting reads only 0.5 kB, but then processes the data in that VBL - puts it in the structs, possibly calls ICMP handlers if there are any registered (most of the time there aren't any).

[2016-05-05 07:01] #14 closed, assigned to nobody

[2016-05-05 07:04] #11 closed, assigned to nobody

[2016-05-05 11:26] miniupnp commented on #15
Thanks a lot !!!

[2016-05-05 12:09] miniupnp commented on #15
I have improved my test : a540d7ee6fedda753c3a058f63a08e9c20f88189
It now shows there are "data mismatch" at random times

[2016-05-05 12:14] atarijookie commented on #15
Wow, good find and... damn, how does that happen? :-o

[2016-05-05 12:30] miniupnp commented on #15
Can someone else test with the new test to see if its not my setup.
It would be great to check if the test run with real sting

[2016-05-05 12:32] miniupnp opened #53 "ce_main_app in endless loop"
during my Sting test, I have made main app go in endless loop.
The log is :

[code]

[2016-05-05 12:33] atarijookie commented on #15
I can check it with my device, and I can (and will) check it with real sting during this night - around 00:00 - 03:00, when I'm doing atari stuff instead of sleeping...

[2016-05-05 12:33] miniupnp commented on #53
the ST cannot communicate with CosmosEx anymore.
Only way out is "killall cosmosex" ;)

[2016-05-05 12:53] atarijookie commented on #53
Hmm, I see that receiving of ICMP packets fails when too much packets have been received and the slot ageing doesn't work properly, so the data doesn't get received... weird.

[2016-05-05 13:08] miniupnp commented on #15
I added a menu to the test program : afaaa03f9675f3be8ba49ef7fe5479f3580df64c
interestingly, my test (020a) always fails when I run all tests, but not when I run only 02xx tests...

[2016-05-05 13:22] miniupnp commented on #53
how it starts :

[code]

[2016-05-05 14:05] miniupnp commented on #53
I think I understand the bug :

[code]

if recvfrom() return anything but -1, it is supposed to have succedeed.
But  "The return value will be 0 when the peer  has  performed  an orderly shutdown."
for some reason linux can return 0 here ? (even if it is not logical for a ICMP socket)

[2016-05-05 15:48] miniupnp opened #54 "JPEG view with MPP on ST/STe/Mega"
A cool new feature would be an image viewer using MPP http://zerkman.sector1.fr/index.php?post/2012/10/08/Atari-ST-Multipalette-Picture-file-format
It necessitate CPU power to build the MPP image that would then be transfered and displayed on the ST

[2016-05-05 15:51] miniupnp commented on #54
MPP 1.1 : http://zerkman.sector1.fr/index.php?post/2013/12/10/MPP-version-1.1

[2016-05-05 15:54] atarijookie commented on #54
Yeah, having a fast picture viewer for GIF / JPEG / PNG would be nice, I agree ;) Although I guess mp3 playback and possibly video playback would be better ;)

[2016-05-05 18:29] #53 closed, assigned to nobody

[2016-05-05 23:12] atarijookie commented on #15
I'm sorry, I just can get to that commit :-( I'm still having a mess with the git, branches and your fork with branches...

I've done git pull on my ce-atari, the test isn't there because it's probably in your fork / branch... So I did 'git clone' on your ce-atari repo, and the test still isn't there. So I've tried to watch for branches in your and mine repo, and it only shows master, while in the

[2016-05-05 23:18] atarijookie commented on #15
...and it went like this:

[code]

[2016-05-05 23:26] miniupnp commented on #15
WTF ?
Don't clone my repository, one local repository is enough !
you should have "remote" repositories set.
For example, on my PC :

[code]

on your PC it should be something like

[code]

To add a remote you do
`$ git remote add miniupnp https://github.com/miniupnp/ce-atari.git`
and then
`$ git fetch --all`
It will fetch my branches
just `$ git branch -a` to list all branches (local & remote)
yo

[2016-05-05 23:48] atarijookie commented on #15
I know, I know - I'm lost and doing weird things while trying to get things done. I'm not used to git, and I still haven't touched anything but like 5 main command... In cases like this I spend too much time figuring out stuff instead of doing coding and testing.

OK, so now I've got your test_sting branch, I'm going to try those things.

[2016-05-06 00:30] atarijookie commented on #15
The test_sting fails terribly in that branch, and I guess in master branch it fails terribly, too, like this:
https://dl.dropboxusercontent.com/u/50798228/STNG_TST_new.txt

I've checked out the version under the tag release_ce_main_app_2016-05-01 (dfcc57850a08e4a1ae5e917de7f994d78fd12bad), and the test succeeds with all OK:
https://dl.dropboxusercontent.com/u/50798228/STNG_TST_old.txt

...so this

[2016-05-06 00:40] atarijookie commented on #15
The issue seems to come from CE_STING.PRG, as with newer ce_main_app but older ce_sting it works, but with newer ce_sting it doesn't work....

[2016-05-06 00:51] miniupnp commented on #15
the only difference I see in cosmosex_fakesting is the VBL handler not installed :
https://github.com/atarijookie/ce-atari/compare/release_ce_main_app-2016-05-01...master
I'm going to test further tomorrow

[2016-05-06 09:24] miniupnp commented on #15
I'm doing complete cross tests and I think I understand what's going on

[2016-05-06 09:25] miniupnp commented on #15
many test fails if VBL handler is not installed. It is installed by last tests (ICMP). So if I launch test program twice, it works on 2nd time...
many stuff to fix to have this "without vbl" working properly !

[2016-05-06 09:38] miniupnp commented on #15
I also have to fix my test020a !

[code]

[2016-05-06 10:44] atarijookie commented on #15
Well, the original idea was to utilize the VBL for the connection status update, so without the VBL it's more like the remake to fit the idea without VBL ;)

Looking forward to any improvement there will be, keep up the good work! :+1:

[2016-05-06 10:46] miniupnp opened #55 "NetAdapter: recvfrom() bad file descriptor"
I have some strange errors in my logs :

[code]

errno 9 is `#define   EBADF            9      /* Bad file number */`

[2016-05-06 11:04] miniupnp commented on #15
I think everything is related to bug #55

They are timing differences with vbl / without. So the bug appears depending on the time the functions are called.
Clearly that ICMPWrapper is receiving stuff from other sockets ! I'm fixing that and we'll test more later :)

[2016-05-06 11:10] miniupnp commented on #15
with my fix for #55, not all tests pass, but the 010x are OK.
It was really strange ti worked for UDP but not TCP.
I know understand the IcmpWrapper somehow "stole" data from TCP socket, but not the other one

[2016-05-06 11:15] miniupnp commented on #55
this is caused by IcmpWrapper::rawSockFd property not being reset when rawSock->closeIt();
that's the danger of keeping the same fd in 2 places : rawSockFd and rawSock->fd

[2016-05-06 11:20] miniupnp commented on #55
hum now I can merge myself :)

[2016-05-06 11:22] #55 closed, assigned to miniupnp

[2016-05-06 11:42] atarijookie commented on #55
Wow, good find :+1:

[2016-05-06 13:02] miniupnp commented on #15
@atarijookie I've got a great improvement in litchi 1.1 working with this patch : fc137d8280cfced70050c990d433b6a5c84ca723
Is it making sense to you ?

[2016-05-06 13:41] atarijookie commented on #15
Yes, it makes sense... In case there isn't any data, the nc->readWrapper.peekBlock() could return -1 -- inside of peekBlock() the tcpBytesWaiting() shouldn't anything less than 0, but there isn't a check if the:
totalCount = tcpBytesWaiting();
didn't return 0 as totalCount, so then the:
res  = recv(fd, tmpBuffer, size, MSG_DONTWAIT | MSG_PEEK);
could return that -1 in this case, where no data is a

[2016-05-06 13:42] miniupnp opened #56 "missing bytes in data sent from ST to CosmosEx"
I have a nasty issue that is way beyond my competences.
I noticed that 2 bytes are missing from a block sent from the ST to the CosmosEx (main app):

[code]

The data sent by the ST is P:\MUSIQUES\FATALS_P.ICA\PAMPLEMO.USS\FATALS~1.MP3
notice "_P" after "FATALS".
Everytime it happens, it is the 2 bytes at offset 0x20 and 0x21 (32, 33) that are missing.

The problem is not always there, but once it

[2016-05-06 13:54] miniupnp commented on #56
I filled the buffer with recognizable data and so I see that only 2 bytes are missing.
notice the two "00" at the end of the received buffer.

[code]

[2016-05-06 18:35] atarijookie commented on #56
First thing: run CE_TSTHD.PRG from config drive and:
- if there's some errors there, there might be issue with your config, and I will run the test at my place to see if it fails or succeeds
- if there is no error, see if the data there in the test is random enough to find the issue - e.g. that it doesn't repeat too much, so data from previous transfer could look like the real data fromcurrent tra

[2016-05-07 11:46] #15 closed, assigned to nobody

[2016-05-08 01:41] miniupnp commented on #56
I've had the "bytes missing" error a couple of time in a row, then launched CE_TSTHD.PRG immediatly.
CE_TSTHD.PRG transfered 100MB with no error yet :(

[2016-05-08 05:26] atarijookie commented on #56
Did you use the ACSI routine from CE_DD or CE_TSTHD?
Was the STE DMA playback running at that time?
Did you transfer many transfers one after another (bulk / batch), or just a single transfer here and there?

[2016-05-08 08:22] miniupnp commented on #56
the failing transfer is done by my media player. It happens before DMA playback is active.
it is a single transfer.
I will implement retry

[2016-05-08 18:48] tin-nl commented on #29
Tested on ST-ACSI, TT-ACSI, F030-SCSI. Have to test TT-SCSI.

https://github.com/atarijookie/ce-atari/tree/screencast_res

[2016-05-09 01:19] atarijookie opened #58 "CE_STING speed improvement"
The transfer speed of CE_STING is too low, this needs improvement. I got ~5kB/s on download with AFTP. The linux sockets can do more than 1MB/s, the ACSI interface can do 1MB/s, so there's just something wrong in the client or server side of CE_STING implementation...

[2016-05-09 03:10] atarijookie opened #59 "CE main app memory overwriting / overflowing..."
When I launch my ST + CE_DD + CE_STING, then I run AFTP and connect to ftp server, during the first connect and listing of dir I see this in the log files:

[code]

Notes:
- this Fsfirst() probably shouldn't be there at all
- the search string there is _\etc\localtime_ which is definitely wrong, this seems like there's some memory overwriting there or something...
- this requires a good session wi

[2016-05-09 03:35] atarijookie commented on #58
By looking at the log of CE main app, when using AFTP, I see that:
- the CNget_block() function is called every ~660 ms (660, 660, 660, 660, 660, 661, 660, 659, 720, 660, 661, 660)
- the socket has enough data to be read (~ 500 kB), so the socket isn't slowing it down

So that makes me think:
- maybe the CE_STING should call appl_yield() from time to time, to boost this? (it's mentioned in TCP_wai

[2016-05-09 07:43] miniupnp commented on #59
have you tried `grep localtime` on AFTP.PRG or whatever ?
If it is a program compiled with mintlib, it is possible it tries to open such file on gettimeofday() or something.

[2016-05-09 07:52] miniupnp commented on #58
Which version of AFTP do you use, so I can test myself ?

what is exactly the Sting API called by AFTP during a transfer ?

[code]

and looping ? or only CNget_block() calls ?

using only CNget_NDB() would be a bit different.

[2016-05-09 07:55] miniupnp commented on #15
@atarijookie : is this bug really fixed ?
(it was automatically closed by my commit msg which stated "see if that fixes #15 ;)

[2016-05-09 08:00] atarijookie commented on #59
Hmm, indeed the AFTP contains /etc/localtime path in the file, so it might be something like you say... have to check this out at home.

[2016-05-09 08:03] atarijookie commented on #58
I'm not sure if there was anything else, I saw looping in update_con_info() and CNget_block() looping...   It could have been calling CNbyte_count(), but that's not visible in CE main app log, have to investigate more...

[2016-05-09 08:05] atarijookie commented on #15
@miniupnp I didn't see the AFTP loop endlessly in the last time, but after closing the connection the AFTP doesn't react on mouse clicks, it might be something related to it requiring (and using) something from newer AES.

[2016-05-09 08:09] atarijookie commented on #58
I'm using version 1.55:
http://www.atack.cz/atari/

[2016-05-10 10:02] miniupnp commented on #58
I'm using same version :
![screenshot-000](https://cloud.githubusercontent.com/assets/1070377/15142817/01945ad8-16a7-11e6-9c02-42f3da75cba3.png)

[2016-05-10 10:31] miniupnp commented on #58
after several try (it bomb often, and don't support well directories with lot of files..) I've got same results at you. Very slow transfer (4000 CPS)

There are lots of Fseek() call, should be on the LOGFILE, but it looks like it takes time : (
   _edit: no it's on the downloaded file, see the offsets..._

[code]

[2016-05-10 10:32] miniupnp commented on #58
Litchi 1.3F is WAY faster (took 2 or 3 seconds to download a 261KB file) so I think AFTP is slow for more reasons than just CE_STING slowness

[2016-05-10 10:50] miniupnp commented on #58
I see at least two problems in AFTP code :
1) 4096 bytes of data are received with one CNget_block() (that's good) but written with 2 Fwrite() : 3072 bytes + 1024 bytes.
2) each Fwrite() is preceded by 5 ! Fseek.
that surely kill the performance.

By the way, the Fseek(0,  SEEK_CUR) should not be sent to CosmosEx, as it is a ftell() call , CE_DD should return file pointer directly.

But I don't un

[2016-05-10 11:23] miniupnp commented on #58
hum looking at ce_dd_prg/gemdos.c, it is not AFTP which does 5 Fseek, just the Fseek() implementation in CE_DD  :( have to be fixed

[2016-05-10 11:43] atarijookie commented on #58
Might be, but they take only little time, e.g.:
09498875 - 09498824 = 51 ms

The slowness is definitely the AFTP trying to get data not too often. Maybe it relies on some info, which might not be correctly updated with CE_STING (e.g. some struct, which might contain info like that).

Doesn't that happen on write only? If I remember correctly, it was changed a lot on Fseek() when doing read, but yo

[2016-05-10 11:51] miniupnp commented on #58
you're right, AFTP waits 650ms between the end of the 2nd Fwrite and the next update info

[2016-05-10 11:52] miniupnp commented on #58
how is speed comparaison between litchi 1.3 a and AFTP 1.55b on other Sting implementation ?
with CE_STING, Litchi is more than 20x faster...

[2016-05-10 11:59] atarijookie commented on #58
I have no idea, I've used real Sting only to create that Sting test. If I'm not asleep this night, I could try it, and I will let you know.

[2016-05-10 12:01] atarijookie commented on #58
Btw., I had this (weird) idea taking the sources of Litchi, converting them from GFA basic to C sources, removing the network communication and ftp implementation, and replacing it with some forwaring to CE, where libcurl would handle all the networking stuff, thus making a special build of Litchi for CE, which could be fast as hell ;)

[2016-05-10 20:42] miniupnp opened #62 "Translated Fseek() implementation need rewrite"
as seen in #58 Fseek is kind of crazy.
But it does work at the moment, so this is not top priority.

[2016-05-10 20:49] miniupnp commented on #47
I'm sorry to ask, but what are the reasons for switching to raspbian, apart from being relatively easier to use for developers (which we shouldn't care as long as users are satisfied ;) ?

[2016-05-11 07:36] atarijookie commented on #47
1. supporting RPi 2 and RPi 3 - users want to use the newer, more powerful devices, plus the original RPi B+ are now getting harder to buy as they are being replaced by RPi 2 and RPi 3
2. easier to add newer features based on libs and apps which are available on Raspbian, but aren't available on Yocto (mp3, video, vnc, fuse-zip, anything)
3. as mentioned - easier for developers - crosscompilation,

[2016-05-31 21:24] aligator opened #63 "strange problem with sd (uppercase / lowercase)"
hi,

I have some programs, wich don't run when they are on the SD-card, but on the Translated-USB, the work.

The first program is "Krabat 0.0a for ATARI ST" (a chess game). It says: "Where are the Picture Files"
But the files are there. And when I copy it over to the translated USB-Stick, I can run the game without any problem.

The second game is "Pacman for GEM v. 0.2.5".
It had a similar probl

[2016-05-31 21:56] miniupnp commented on #63
SD-card access is not done through the PI.
What Hard disk driver do you use ?

Translated USB disk => CE_DD driver
SD-Card or RAW USB disk => hard disk driver + TOS

[2016-05-31 22:33] aligator commented on #63
I use HDDriver (newest version)

[2016-06-01 06:54] tin-nl commented on #63
As @miniupnp said - the CE behaves almost exactly like an ultrasatan for SD card - no involvement of the PI here.

A few questions:
-which TOS version are you using?
-did you check the file system for possible damages (e.g. kobolds check tool)?
-anything unusual in your auto folder?

[2016-06-01 22:09] aligator commented on #63
TOS 1.04.
I formated the SD with HDDriver --> Pacman works now. but the chess does not
And I replaced the SD-card with another one. --> same ^
I have only this programs in AUTO:
CE_DD.PRG
MACCEL3.PRG
NVDI.PRG

At the moment the only program that has this problem is the Chess game. And I can play it, when I copy it to the USB-stick. So it's not so important...
But I would be interested in what caus

[2016-06-01 23:18] miniupnp commented on #63
I would try without anything in the AUTO folder.
It could be a strange side effect of CE_DD on HDDriver...

[2016-06-02 15:46] aligator commented on #63
No, even without anything in AUTO it doesn't work...

Bevor the CE I used a harddisk with the ICD driver. Ihaven't tested it with HDDriver on the harddisk, yet.

[2016-06-20 03:09] mikrosk commented on #26
I plan to take a look at this as soon as I receive my Falcon. So actually it's gonna be the other way around -- I'll try to solve the MiNT issue first as I have only standard Falcon available (at least until the moment the CT60e is released).

[2016-07-10 02:32] mikrosk opened #64 "Using the cross compiler toolchain"
Hi fellas,

has anybody tried this? http://www.yoctoproject.org/docs/1.8/ref-manual/ref-manual.html#cross-development-toolchain-generation

It's just I'm lazy / not really motivated to use another RPi image with gcc & friends installed, I'm a cross compiler person. ;-) Is there any reason why it shouldn't work?

[2016-07-10 02:37] mikrosk commented on #59
Agreed, this most likely comes from aFTP's mintlib.

[2016-07-10 03:04] mikrosk opened #65 "Considering much faster alternatives"
While I understand the point of #47, I'm not really excited to jump on board, from developer's point of view I'm fine with #64, no need to have "developer friendly" image for me. I'd like to discuss (and possibly look into) much faster alternatives because after quick research it's clear you will never be able to strip Raspbian & co under 15s because even with the kernel starting in 1-2s, the user

[2016-07-10 03:18] mikrosk commented on #47
Wouldn't help here if we could boot straight from the usb? You know, the user would download & dd the image to his USB stick, put it into the CE, rebooted the device and let it do its magic.

[2016-07-10 07:10] tin-nl commented on #47
Hello Mikro, nice to have you here! :-)
Booting to USB would be nice (and was considered of course), but unfortunately the kernel changed and the yocto kernel is too old to run certain drivers. The dist would boot, but unstable and is missing e.g. network and god knows what else is.

Also, "put it into the CE, rebooted the device and let it do its magic." won't work on PI (at least not this straig

[2016-07-10 07:11] tin-nl commented on #47
Oops :-)

[2016-07-10 07:27] tin-nl commented on #65
That's the difficulty - fast boot time vs more support from developers. Cross compilation won't help with the latter, as people would like to do features via Python, using audio/video codecs etc. you name it (basicly with everything that's not included currently :) ).
The current 6 seconds boot time "to ACSI" is nice, but needs some added seconds time until mount and Networking is available and al

[2016-07-10 07:54] mikrosk commented on #47
I still don't get it. One minute google results:

_Use dd or winimage to write the image to the USB stick rather than the sdcard.
Format the sdcard as FAT and copy the files from the FAT partition of the USB stick onto the sdcard (only needs to be about 64M in size)._

_Change cmdline.txt on sdcard from root=/dev/mmcblk0p2 to root=/dev/sda2_

Or even better: http://jonathanmh.com/boot-raspberry-pi

[2016-07-10 07:59] mikrosk commented on #65
Well, but how many people want that? As we discussed in the email -- developers could download a full featured Raspbian, install all the crazy stuff, develop, debug and test it and then _ask the maintainers to include it into the official image_. Which would have been delivered "over the air" as an update. I can't think of anything simpler, users would have the razor fast boot times and developers

[2016-07-10 08:26] tin-nl commented on #47
Well, those google results don't handle custom dists like yocto, and they oversimplify (which is ok in most use cases).

The kernel is (always!) located on SD card on the boot partition and can't be loaded from USB stick. PI boots the GPU from that boot partition, which boots the CPU kernel which loads the device tree.
 The CE kernel is old and doesn't work well with current Raspian (which switche

[2016-07-10 08:37] mikrosk commented on #47
I see. I think the key point here is this: "we have to either write an update script that unfortunately can't go back if anythings going wrong or ask the user to remove and rewrite the card".

My school of thought ;-) says, yes, let's do it like that. If the user messes up the USB stick (pull it out, incorrectly copies it, ...) we can always say "dude, get a new usb stick, 'dd' it, plug into the C

[2016-07-10 08:44] tin-nl commented on #65
To make it absolutely clear: I'd like that, too - my first suggestion was a buildroot/ramfs thingy. But we should acknowledge that esp. Python and PHP and whatnot tinkerers have a much less steep learning curve (and are probably used to) apt-get on their target and do their stuff. AFAIK we are not targeting professional developers here. They google, and 99% of the results (see your results in the

[2016-07-10 08:57] tin-nl commented on #47
We would need a yocto (or at least a minimal dist with that kernel version used there) for usb, which handles the dd. And an option in the CE config to upgrade, which checks for the correct usb stick inserted and then changes the boot config to USB and reboots.
@jookie: what's the easiest/low complexity way to send progress from CE to ST? A binary that just sends a ACSI sector to the ST and then e

[2016-07-10 09:09] mikrosk commented on #65
Maybe I shouldn't write in such rush, what I meant is that there would be two images to download (actually, as they are now):
1. User image, the super fast boot one with zero tweaking ability but starting as fast as the ST needs it to start.
2. Developer image, plain Raspbian really, slow as molasses but with the apt-get functionality. So you install python, php, mono ;), create your amazing addon

[2016-07-10 09:23] mikrosk commented on #47
After some thinking... what about this:
1. An update delivers a set of scripts.
2. A script will verify existence of a "recovery partition" and its content. If exists, skip to 5
3. Using scripted `fdisk` commands we create another partition.
4. Reboot && `mkfs.ext2` && download from Internet/USB the recovery image && `dd` to recovery partition
5. Set boot flag to the recovery partition
6. Reboot
7

[2016-07-10 09:48] tin-nl commented on #47
That's more or less what my upgrade script does, except there's no mkfs in CEs busybox/yocto (I use e.g. dd to "mkfs" an empty dl partition) and it dls the new dist, not a recovery. In the current state the workflow described above (May 4) works (san the kernel problem) but inplace, w/o need of USB stick. And the automatic restarting of the update script after reboot is missing. I have to revisit

[2016-07-10 10:18] mikrosk commented on #47
_And the automatic restarting of the update script after reboot is missing_

But if the user switched off the ST during `dd`, the system is bricked, isn't it. But you're right, using `dd` instead of `mkfs` makes much more sense, we actually don't need to copy anything, just verify the result.

Sure, I'd love to see the scripts, go ahead!

[2016-07-11 05:29] atarijookie commented on #47
Depends if you want to send one progress update, or send more of them in a cycle, but that what you describe should be it. Could be based on the simple-boot / fast-boot binary...

[2016-07-11 05:39] atarijookie commented on #47
Btw., this update thing from one to another is either slowing the whole transition down, or we (I) don't need to wait for it :) Before the next batch of devices I need to get Raspbian working with it, even if it would be only remove_SD - write_image - reinsert_SD style, because the older RPi's are now hard to get, and the Yocto doesn't work with the new ones.

[2016-07-11 06:00] mikrosk commented on #47
Yeah, those are two separate things (and I admit it may be my fault of hijacking this thread for the update process). Making Raspbian working on the CE has definitely higher priority than a nice update process.

[2016-07-11 18:36] miniupnp commented on #64
I prefer compiling on the real machine (even if it is so sloow :) but I don't see any reason for cross compiling not to work !

[2016-07-11 18:42] miniupnp commented on #47
isn't it possible to buiid a new kernel for the yocto ?

[2016-07-20 09:50] mikrosk opened #66 "Strange issues out of the blue"
Hi guys,

this is not exactly great bug report but I was really shocked. When I got my CE, everything worked perfectly -- running games/demos from the USB stick, putting an USB mouse into one of the slots and immediately using, using the original keyboard along with the mouse etc...

Now, a few days after that I basically couldn't get CE working reliably at all:
- when booting with USB mouse, the

[2016-08-04 22:25] mikrosk commented on #47
I guess you've seen this already: https://www.raspberrypi.org/blog/pi-3-booting-part-i-usb-mass-storage-boot ... wont help the old units but maybe new devices could be equipped with the RPi3.

[2016-09-01 00:24] atarijookie commented on #47
OK, I'm back from dead (probably). No activity here for 4 months, so for now screw the nice update from Yocto to Rapsbian, I need to make it work on Raspbian without the nice update option now.

@tin-nl I remember you mentioned that you already are using CE under Raspbian - do you need to use newer version of the bcm2835 library? (I guess so, as the newer seems to support RPi 2, and older does not

[2016-09-01 07:40] tin-nl commented on #47
@atarijookie: I'm currently in summer hiatus, too - let me check the details in the next few days. From the top of my head: I think I didn't try to run the raspbian build with yocto, only t he other way around.

[2016-09-04 16:39] tin-nl commented on #47
@atarijookie: I used the repositories libbcm2835-1.35. Did not Test on Pi2 though.
The libcivitweb.a that's checked in is used as is.

[2016-09-04 16:58] tin-nl commented on #47
@atarijookie: regarding quicker startup under raspian - the easiest way to achieve this is to start comsosex main app via init.d and add it to the appropriate runlevels.

Here's a gist with the needed files to do that:
/ce/init.d/cosmosex (Start/Stop script)
/ce/ce_boot.sh (Startup script)
/ce/cesuper.sh (slightly modified watcher)

https://gist.github.com/tin-nl/62ff6131fc30b8dc2e0ff5959b576932

[2016-09-04 22:22] mikrosk commented on #66
This seems to be combination of multiple issues:
- the non-working / slow keyboard seems to be caused when I forget auto-fire (or constant joystick input) on; while I can't be sure this was the original cause mentioned above, I'm unable to reproduce the bug anymore
- faulty USB stick (yeah...)
- actually, this really was related (or it seems that way at least) to the PSU -- if I power the CE from

[2016-09-04 22:22] #66 closed, assigned to nobody

[2016-09-06 22:03] mikrosk commented on #47
Hmm, have you heard of this? http://www.pibakery.org ... maybe it could be of a help?

[2016-09-07 07:20] atarijookie commented on #47
@tin-nl Thank, I'll take a look ad that.

@mikrosk Yes, saw it, had a run, but in its current state it lacks some good templates / steps which you could use - it's mostly empty, and your options to add there through the UI are like 'run this command' or 'install this app' - and we don't need a UI app to do that :)

[2016-09-12 07:46] atarijookie opened #67 "date/time not preserved when copying from Atari to PC"
reported by dhedberg, through PM on atari-forum:

I noticed that when copying a file from the Atari (Falcon) to the shared drive on my Windows machine (NTFS) the date/time of the file is not preserved even if you specify this in the (TOS v4.04) copy file dialog box. The created date/time is set to the current date/time while the modified and accessed date are set to Jan 1, 1970 / 00:59:59. It woul

[2016-10-09 12:26] atarijookie opened #68 "add slot selection option on the floppy mount after double click on .st file"
user writes in PM on atari-forum:

Floppy mounting is so easy. Opening the thumb drive drive, double clicking a .st file and you are good to go. But I was wondering if you could add a 3 second pause to specify what slot to mount it on. Much like what your CE_DD does on boot. There's a 3 second pause to say what I want to boot from (A: C: O:). Could you add that to the mounting screen to give 3 sec

[2016-10-11 03:46] atarijookie opened #69 "Raspbian issues"
Notes for Jookie follow, others don't need to react on this :)

1) something wrong when copying new scripts in app:
`/tmp/newscripts/copynewscripts.sh: 1: /tmp/newscripts/copynewscripts.sh: function: not found
/tmp/newscripts/copynewscripts.sh: 4: /tmp/newscripts/copynewscripts.sh: Syntax error: "(" unexpected (expecting "}")`
-- was caused by differences in shell, FIXED

2) Ctrl+C in console does

[2016-10-11 03:58] atarijookie commented on #69
4) needed just to enable serial port using raspi-config

[2016-10-12 11:23] atarijookie commented on #67
user comment:
I looked at the code and made some tests and the problem is most likely in the setNotGet==true branch of TranslatedDisk::onFdatime(BYTE *cmd) or possibly custom_fdatime( void *sp ) on the Atari side. The uTimBuf.actime and uTimBuf.modtime is set to messed up values in TranslatedDisk::onFdatime(BYTE *cmd), either the date/time conversion from Atari to time_t is incorrect or the date/t

[2016-10-12 12:51] atarijookie commented on #69
1) is caused by differences in shell, will be fixed in the next commit

[2016-10-13 08:52] miniupnp commented on #67
TranslatedDisk::onFdatime() calls linux utime() which changes last access and modification times, it should be ok
I'm looking why uTimBuf.actime and uTimBuf.modtime are set to messed up values.

[2016-10-13 08:53] atarijookie commented on #69
3) was not really a problem, just warning on not creating already existing dir

[2016-10-13 08:54] atarijookie commented on #69
5) add linux distro to some config screen, so user could see if he's running yocto or raspbian

6) add flag to main app which would fake old app version, so update process of app could be tried again and again...

[2016-10-13 09:14] miniupnp commented on #67
it looks like the conversion from struct tm to time_t is failing (returning -1)

[2016-10-13 09:19] miniupnp commented on #67
I found the problem.  Utils::fileDateTimeToHostTime() needs fixing, doing now :)

[2016-10-16 05:18] atarijookie commented on #67
Wow, thank you, Thomas :) Merged, not tested yet.

[2016-10-16 05:43] atarijookie commented on #69
2) Haven't been able to figure out what's wrong with this one yet.

It might be handled by some linked library or something, like some other (SIGILL) was handled by libcurl4-openssl-dev (which caused gdb to stop when not configured to ignore SIGILL), so libcurl4-openssl-dev was now replaced with libcurl4-gnutls-dev, but this still doesn't solve the Ctrl+C thing, but at least it doesn't break the g

[2016-10-16 05:56] atarijookie commented on #69
2) added some printf()s, the handler seems to be OK, but still not handling the SIGINT as expected.
Man pages recommend using sigaction() instead of signal() to register the handler, I wonder if this has different behavior on Raspbian than on Yocto.

[2016-10-16 05:59] #67 closed, assigned to nobody

[2016-10-16 06:10] atarijookie commented on #69
2) Interesting thing - if you send kill -2 (SIGINT) to cosmosex through other console, it works just fine. If you press Ctrl+C in app, it doesn't work...

PS: sigaction() didn't help ;)

[2016-10-16 12:24] atarijookie commented on #69
OK, I definitelly have no idea what's wrong with 2)
- I see using cat /proc/pidof_cosmosex/status that the SIGINT and SIGHUP are ready to be caught (SigCgt lowest 2 bits)
- the app doesn't react to Ctrl+C (SIGINT), Ctrl + Z (SIGSTOP), Ctrl+\
- if I remove registering the signal handler, I see that the SigCgt bits are not set
- the Sig flags in /proc/.../status are the same as on Yocto

Any ideas,

[2016-10-17 01:53] mikrosk commented on #69
@atarijookie can you point me to the source file where this is handled?

[2016-10-17 07:00] atarijookie commented on #69
The handler is registered here:
https://github.com/atarijookie/ce-atari/blob/master/ce_main_app/main.cpp#L97-L103

...and the handling function is at the end of that file, but it's never called on Raspbian (works fine with Yocto).

[2016-10-17 10:30] mikrosk commented on #69
I'm a little bit confused. So if you do *not* register the handler, the app refuses to kill, too? If so, the problem is much deeper and most like it is as you say caused by some library. I'd start with a clean main() and go from there (if it doesn't work even with clean main, the problem is much deeper).

[2016-10-17 11:20] atarijookie commented on #69
Yes... I'll take that clean_app_to_full_app approach and see where this goes. Thanks for the hint. (y)

[2016-10-18 00:01] atarijookie commented on #69
OK, so it's this part of the code which makes the Ctrl+C unresponsive:
https://github.com/atarijookie/ce-atari/blob/master/ce_main_app/main.cpp#L109-L124

It's there so user can access the linux terminal from Atari, which runs in fork() . Any ideas on how to work around this issue? ;)

[2016-10-18 01:22] mikrosk commented on #69
Yeah, I was about to write the same -- you call dup2(), shell, then exit and god knows what happens to the input handler. Maybe you could try to write it more cleanly -- that the child would register its own handler (if needed) and the parent as well, after the fork() call. Perhaps others have more insight, it has been some time since I played with forks and kids. ;)

[2016-10-19 11:47] atarijookie commented on #69
**5)** done

Also now showing config status line based on where it's viewed (not always now shows 'F5 - refresh, F8 - console, F10 - quit' but only relevant info).

**2)** added possible solution in branch 'console'

**7)** ./cosmosex ce_config doesn't work

[2016-10-19 14:27] atarijookie commented on #69
6) is done in master.

[2016-10-21 00:56] atarijookie commented on #69
8) linux console through ce_conf.prg is otaly broken on yocto (and possibly on raspbian)

[2016-10-21 01:21] atarijookie commented on #69
9) openin 'Floppy config' menu item in CE_CONF causes SEGFAULT:
[code]

[2016-10-21 01:38] atarijookie commented on #69
is 9) a out of RAM issue?

[code]

[2016-10-21 12:20] miniupnp commented on #3
has some one looked into HATARI implementation of Pexec() ?
https://hg.tuxfamily.org/mercurialroot/hatari/hatari/file/033e65abf7da/src/cart_asm.s#l46

[2016-10-21 14:00] atarijookie commented on #69
Possible fix for 2) which fixes Ctrl+C and even seems to not break linux terminal is in branch console2:
https://github.com/atarijookie/ce-atari/blob/console2/ce_main_app/main.cpp#L108-L117

Have to test this on real device though...

[2016-10-21 20:43] miniupnp commented on #56
it still happens. when the ST and the CosmosEx are hot. If I turn everything off for a while there's no problem :)

[2016-10-21 20:58] miniupnp commented on #44
have a look at my branch "attributes" :
https://github.com/miniupnp/ce-atari/tree/attributes
I've not enabled the "ARCHIVE" bit because of this comment : https://github.com/miniupnp/ce-atari/blob/9d5b9c77fe58f48f6c391712211f38ca7f927a51/ce_main_app/translated/dirtranslator.cpp#L292

[2016-10-24 23:10] atarijookie commented on #69
2) verified on Yocto and Raspian, both work fine, so now it's in the master

[2016-10-24 23:22] atarijookie commented on #69
10) Can't write STM32 firmware - probably just something with UART...
[code]

[2016-10-24 23:27] atarijookie commented on #69
7) test IKDB injection
- with RPi 1, works OK
- with RPi 2 works fine without further changes
- with RPi 3 had to add dtoverlay=pi3-disable-bt, now seems to be OK

8) create starting script for raspbian
-- done.

9) add machine model to config, bellow distro
-- done

10) NTP gets and sets bad date/time when SIGINT received while waiting for response
-- done

11) Added binary renaming script which

[2016-10-24 23:58] atarijookie commented on #69
10) and 11)
http://raspberrypi.stackexchange.com/questions/45570/how-do-i-make-serial-work-on-the-raspberry-pi3
http://raspberrypi.stackexchange.com/questions/47379/uart-problems-on-my-pi3

[2016-10-25 00:16] atarijookie commented on #69
13) add machine model to config, bellow distro
[code]

[2016-10-25 08:39] atarijookie commented on #56
@miniupnp I've probably asked this before, but:
-  what power supply you use to power CE?
- do you have your ST power supply upgraded / fixed / noticing any issues?
- do you have a top cover on your CE?
- do you have your CE mounted inside of your ST?
- would a fan / some sort of cooling make a change when this starts to happen?

[2016-10-25 11:25] atarijookie commented on #69
13) is now done in master

[2016-10-25 12:31] atarijookie commented on #69
10) 11)
on **Raspbian**: use /dev/serial0 - on RPi 3 will use “mini-uart” aka /dev/ttyS0, on RPi 1 & RPi 2 will point to the hardware UART and /dev/ttyAMA0
on **Yocto**: use /dev/ttyAMA0, as there is no /dev/serial0
_-- have to change this in the app and in the bash scripts_

[2016-10-25 18:29] miniupnp commented on #56
- CE is powered through USB. Plugged on a powered USB2.0 Hub, I will try with another USB supply
- my STE power supply is original (from 1990 ?). It may need some fixing but I've never noticed any specific problem
- I use the CE outside of the ST, with the top cover.

[2016-10-26 06:56] atarijookie commented on #56
Maybe you could try it without the top cover to see if something inside gets hot when this happens, and also the other USB supply change could do something... Also the STE power supply might be causing this, I have no way of measuring it now, but one of the things that Chriss Swinson (Exxos) mentions when this might be the case is - formatting of a floppy might fail and / or the video output on th

[2016-10-26 11:38] atarijookie commented on #69
The serial port issue is weird... It worked on Yocto, it didn't work on Raspbian. Then I've tested in on Yocto and it didn't work there either. I've reflashed Xilinx on Yocto, and the UART line seemed to be floating sometimes (bad connection?), so I've moved the internal cable a bit, and it worked then on Yocto, and then also on Raspbian...

So either the Xilinx flashed under Raspbian was badly fl

[2016-10-26 12:16] atarijookie commented on #69
Usage of the right serial port device now added in the code and scripts - based on distro and based on existence of /dev/serial0

[2016-10-27 06:57] #44 closed, assigned to nobody

[2016-10-27 08:41] atarijookie commented on #69
14) NTP gets and sets bad date/time:
[code]

[2016-10-27 10:18] atarijookie commented on #69
14) was not related to Raspbian, rather to badly handling TimeSync by NTP when interrupted by SIGINT... Now fixed in master.

[2016-10-27 13:37] atarijookie commented on #47
@tin-nl -- in the gist mentioned above, I'm taking a look at the cesuper.sh, and the only difference I see is that it uses '-e' to check for the existence of the update script instead of '-f' -- is that all, or am I missing something? And is it better to use '-e' instead of '-f'? (just asking, I have no idea :) )

[2016-10-27 19:38] miniupnp commented on #47
-e will work even if the file is not a standard file (a symbolic link for example)

[2016-10-28 07:19] atarijookie commented on #47
@miniupnp thanks :) I thought that using -f for checking if it's a regular file would be better, but I didn't consider the possible existence of symlinks, so for that case it might be better :+1:

[2016-10-30 02:52] mikrosk opened #73 "Keyboard as joystick definitions should be based on scan codes"
So I've had finally some time to play with the CE, explore its features etc. I was really pleasantly surprised to find the feature to map keyboard keys onto joystick 0/1, esp. that it works from the atari keyboard!

However, I'm missing two things here:
- ability to use keys like UP/DOWN/LEFT/RIGHT and then of course CONTROL/numlock etc. I think I know why the directional keys are disabled (it mes

[2016-10-30 05:19] atarijookie commented on #73
I missed one out of these two things
- either commenting out the /etc/inittab line, or
- removing 'ttyAMA0' from /boot/cmdline.txt

That does block the serial port of Raspberry and has to be done before you want to use the serial port (which handles the IKBD communication).

See here:
http://raspberrypi.stackexchange.com/questions/10503/enabling-the-uart-port-on-a-raspberry-pi
http://www.hobbytron

[2016-10-30 05:32] atarijookie commented on #73
...and if you want to use the dev image as full image, then you should also:
- create the symlink in the /etc/rc...something from /ce/ce_start.sh to start the main app after boot
- so if you start the device normally, the main app would start
- and if you will do the development, you first execute /ce/ce_stop.sh to stop the app
- if you want also wifi on that image, you will also have to copy all

[2016-10-31 00:20] atarijookie commented on #69
12) test flash_stm32 and flash_xilinx on RPi 3
-- tested on ACSI interface, flashing worked fine, ACSI HD test was fine

13) alter wpa_supplicant config for Raspbian, test wifi
-- done in master

Optional TODOs:
A) main app should get its own pid, then look for other instances of CE and stop them before running, to avoid having 2 (or more) instances of CE talking to the hardware...
-- done

B) mai

[2016-10-31 00:23] atarijookie commented on #69
11) IKBD injection tested with RPi 1, works OK

[2016-10-31 01:55] atarijookie commented on #69
16) test flash_stm32 and flash_xilins on RPi 3

17) alter wpa_supplicant config for Raspbian, test wifi

[2016-11-02 09:48] atarijookie commented on #69
Added binary renaming script which should work on app update, and also on update of old app using renaming script... Not tested with real app update.

[2016-11-07 07:28] atarijookie opened #74 "SCSI gets stuck on Falcon after a while of running HD test"
SCSI gets stuck on Falcon after a while of running HD test - it transfered 200 MB just fine on TT, but got stuck after 100 MB on Falcon - I wonder if it's a problem of a single piece device, or something that might happen on every device.

[2016-11-07 07:51] atarijookie opened #75 "Turn off key click at boot"
AdamK on atari-forum:
Could we have an option in CosmosEx to kill keyclick at boot? (ie. setable in config, happens at boot)

http://www.atari-forum.com/viewtopic.php?f=103&t=30679

[2016-11-07 08:00] atarijookie opened #76 "Data corruption on Falcon SCSI"
User reported some data corruption on Falcon:
[http://www.atari-forum.com/viewtopic.php?f=103&t=30390](http://www.atari-forum.com/viewtopic.php?f=103&t=30390)

Some device failure on Falcon SCSI has been reported through mail by Bohdan M.
https://github.com/atarijookie/ce-atari/issues/74

Investigating.

[2016-11-07 08:14] atarijookie opened #77 "Allow HDD images to be used on ACSI"
User request from atari-forum.com:

[http://www.atari-forum.com/viewtopic.php?f=103&t=29901](http://www.atari-forum.com/viewtopic.php?f=103&t=29901)

[2016-11-07 08:15] atarijookie commented on #65
MiKRO 'promissed' again a much faster linux image in the private emails, which might or might not come in the future, so let's see if this will ever happen ;)

[2016-11-07 08:18] miniupnp commented on #77
I think it will be very useful : puting a few HDD .IMG on a USB stick
It can work the same way as the "raw" drives, except that the RPi would read/write in the IMG file instead of the /dev/sdX device

[2016-11-07 08:30] mikrosk commented on #65
Shut up. ;) But this task summarises nicely what I'd like to do.

However, first I'd like to fix some annoying problems / missing features, regardless of the distro.

[2016-11-07 09:02] atarijookie commented on #65
I'm looking forward to this since I've gave you the device, mr. Collaborator ;)

[2016-11-08 10:54] AdamKlob commented on #65
What about a dual-mode image when you can swith between developer mode/user mode on the fly?

[2016-11-08 10:59] AdamKlob commented on #58
AFTP is known to be slow, even with native TCP stack.

[2016-11-08 11:10] atarijookie commented on #65
@AdamKlob That would be awesome, thank you for offering yourself to try to do it :-D :+1:

[2016-11-08 12:03] miniupnp commented on #56
It might also be my STE DMA chip having an issue.
Since a few days, the STE doesn't boot with the CE attached. It bombs as soon as the driver is loaded.
Everything works OK when I unplug the CE and use only floppy disk.
I'm going to take my MegaST4 from the cellar to test

[2016-11-08 17:33] tin-nl commented on #47
Well, I'm late to the party, it seems :) Of course @miniupnp is absolutely right - I can't remember the exact reason I did that. I probably changed sth in the directory structure and used links in there.

[2016-11-08 18:13] tin-nl commented on #74
I can confirm this with one F030/CE combination.

First run (after cycling both systems): 66.7 MB zransferrred, failed at read with "w4stat failed on reading status byte". Continuing does, well - continue. I'll let it run for a while w/o cycling, let's see what happens...

btw: I could check with another F030, if it's needed.

[2016-11-08 19:08] tin-nl commented on #74
The aforementioned test run that choked at 66MB did continue happily until well over 1GB, no further issues.

[2016-11-08 20:03] tin-nl commented on #74
Two subsequent tests with 300MB each (both devices powercycled) show no problems, however.

[2016-11-09 03:53] atarijookie commented on #69
13) config is in /etc/wpa_supplicant/wpa_supplicant.conf

country=GB
ctrl_interface=DIR=/var/run/wpa_supplicant GROUP=netdev
update_config=1

[2016-11-10 15:00] atarijookie commented on #74
Thank you for the testing :) I will have to look into that, it's weird...

[2016-11-12 02:22] mikrosk commented on #73
OK, just for the sake of completeness:
- remove "console=ttyAMA0,115200 kgdboc=ttyAMA0,115200" from cmdline.txt (located in the root of raspberrypi partition)
- cd /etc/init.d && ln -s /ce/ce_start.sh && update-rc.d ce_start.sh defaults
- reboot

I can understand for more intensive development it doesn't make sense to start the app all the time after a reboot but it's a good start. :)

[2016-11-12 02:37] mikrosk opened #78 "Xilinx update fails on the dev image when done from UI"
What I basically did:

1. Autostarted /ce/ce_start.sh as described in #73
1. Started up ce_conf.prg
1. Saw the main app and xilinx available
1. Main app went fine but xilinx just hanged...

Repeated attempts also didn't help (even when trying the UI on Linux), I had to manually run /ce/ce_update.sh twice to make it working.

[2016-11-12 03:35] mikrosk commented on #64
Guys, now I'd give gold strips for having a good cross compiler setup. I have to compile a kernel module and for that I have to download linux source code directly to the device and compile it there. Since I still don't know how to mount my computer's folders to the CE, I had to create another partition just for the linux source tarball. :)

[2016-11-12 04:13] mikrosk opened #79 "SSID's maximum length is 32 octets"
For some reason the main app allows to specify only ~20 octets.

[2016-11-12 04:46] mikrosk opened #80 "Do we have a kernel build settings / headers for Yocto?"
Right now, if I want to build  a kernel module (I need it for my wifi dongle which is newer than the kernel itself so just copying the firmware dir wont help) I can only hope that downloading the kernel from https://github.com/raspberrypi/linux (in its appropriate branch), doing 'make prepare' and 'make modules' with all the default settings wont break anything (plus I lost symbol names and depend

[2016-11-12 06:12] ggnkua commented on #64
Hi,

From day one I tinkered with the CosmosEx main app I cross compiled. It did take a few false starts and dead ends but I just found someone who packaged arm-unknown-linux-gnueabi, stuck it in my Cygwin folder, hit make and away it went :).

After that, scp'ing the binary to the pi but beforehand shutting down the main app from the pi itself.

Let me know if you still have problems and I'll try

[2016-11-12 07:56] mikrosk commented on #64
I'm in the middle of compiling/installing a cross compiler (fortunately someone has made a arm-linux-gnueabihf-\* set of packages for Arch Linux) but one thing still puzzles me -- how can I be sure that the linked libc/libstdc++/libm/whatever uses the same ABI? I.e. I cross compile the app, nice, now I copy it into the CE and boom, it can have different library versions / ABI / god knows what.

Of

[2016-11-12 08:13] ggnkua commented on #64
When I was looking around for a cross compiler for the rpi under Windows I could only find 2 of them, one was arm-linux-gnueabihf-\* and the other arm-linux-gnueabi-*. When I compiled with the hf toolchain and sent the program to the rpi, it blew up. So I tried the non-hf, compiled, sent to the pi, it required some random lib (can't remember), so I found it and scp'd it to the pi in the /lib folde

[2016-11-12 08:48] atarijookie commented on #80
Mikro, quit experimenting with Yocto, headers and other bullshit, download and flash Raspbian:

Then you can use wifi probably without problems, have headers and standard tools from Raspbian.

[2016-11-12 09:32] mikrosk commented on #64
That's exactly what I'm talking about. ;-) Your app may work only by chance. For instance, the RPi's CPU has an ARMv6 CPU, i.e. _with_ hard floats. So the other compiler you mention is supposed to work too but I guess it came with "too incompatible" libraries / versions.

[2016-11-12 09:33] mikrosk commented on #80
Sweetie, had you mentioned this before (hint: your website), I'd have done it for sure. ;)

[2016-11-12 10:34] atarijookie commented on #80
...and if you buy a Raspberry Pi 3 and use it with that Raspbian, you will get 400% compilation speed ;) (4 cores - make -j4)

[2016-11-12 11:06] mikrosk commented on #80
`apt-get install raspberrypi-kernel-headers` is the way to go on Raspbian (beware, do not look for the generic linux-headers-\* package, Raspbian doesn't use the Debian packaging for kernel and headers). Closing.

[2016-11-12 11:06] #80 closed, assigned to nobody

[2016-11-12 12:50] mikrosk opened #81 "CE_FDD is unable to download selected disk images"
According to Jookie it's because the FTP server is down. Perhaps we could switch to http://www.exxoshost.co.uk/atari/games/index.htm ?

[2016-11-13 06:11] mikrosk opened #83 "CE_FDD.TTP shouldn't bother the user with reset and ALT"
The feature how one can double click on a MSA files and automatically mount it -- gold! But the fact we ask him to do the reset manually and press the ALT key afterwards, that's lame. Perhaps we should automate this a little.

[2016-11-13 06:22] mikrosk opened #84 "ENTER/RETURN should be equivalent to 'Save'"
Now it's pretty awkward -- you edit a field, press enter and you see a strange character instead.

[2016-11-13 07:08] mikrosk commented on #84
Similarly, ESC could pose as Cancel.

[2016-11-13 08:05] atarijookie commented on #84
Esc and Enter work on the whole page as 'Save' and 'Cancel', but it seems you would like them to work in a similar way on individual items. Feel free to work on this one :)

[2016-11-13 08:08] atarijookie commented on #78
Xilinx takes ~50 - ~60 seconds, are you sure you didn't just have to wait long enough? :)

You can't show the real progress of these because they are needed for communication with ST, but there could be an enhancement - the linux app could tell the CE_CONFIG what it will update, and CE_CONFIG then could show some fake progress...

[2016-11-13 08:52] mikrosk commented on #84
Yes, I've noticed that ENTER changes value of boolean items but if you're in a text field, it gets accepted as another character. Btw this is related to #73, where we need the exact opposite -- if you're specifying an UP key and it happens to be ENTER (or up arrow or whatever), we _want_ to have it accepted as a key.

[2016-11-13 08:55] mikrosk commented on #78
I'm not _totally_ sure but I'm _fairly_ sure I'd waited long enough. Right now I can't try again (as I'm on Raspbian already and don't have any other SD card) but it was really as straightforward as that so perhaps you can try it out.

[2016-11-13 09:04] mikrosk commented on #73
Notes for myself.

This requires:
- [x] having a global flag for entering CE_CONF -- so we wont block out arrows, enter and other important keys for navigation
- [ ] another kind of input field, which will read directly scan code of Atari/PC keyboard and transforms it into a human string afterwards (i.e. not reading text, ignoring navigation, enter, F keys etc)
- [x] making sure that the flag/lock

[2016-11-13 09:24] mikrosk opened #85 "RPi's local time shouldn't be UTC"
Right now it works like this: RPi's time is synchronised but into UTC. CE_CONF allows the user to specify the UTC offset so Atari gets correct time.

It should be the other way around -- the user specifies the UTC offset all right but then the device is set to that time and the CE just reads it!

This causes `make` a lot of headache plus it looks lame, esp. here in Australia where I have time shif

[2016-11-14 04:32] atarijookie opened #86 "Update process user notification improvement"
The current update process is still confusing / not very clear - it's because we can't send the real progress to ST when the device is updating. So there are 2 things I would like to do:

1) let the update download screen be shown for at least 3 seconds, letting the user press Enter / Escape one more time to confirm the update after download (or something similar) - now when the download is too fa

[2016-11-14 04:48] mikrosk commented on #86
IMO, 2.) can be easily solved by a simple screen which would just tell you what is the expected time of update (like the values you mention) and show a timer.

Then users can report bugs like "even though the timer says 2 minutes, update still didn't finish" or "update took unusually long, instead of the usual 30s it took one minute" instead of "I was staring at the progress bar, then it finished,

[2016-11-14 09:24] #79 closed, assigned to mikrosk

[2016-11-18 06:29] mikrosk opened #87 "CE app should wait for the system"
I have a wifi dongle and the boot process is quite painful with it (if I don't have an Ethernet connection as well).

There are several problems:
1. CE starts during the boot process, what leads to choping the CPU and CE not being able to receive / send ACSI commands ... sometimes that results into "CE boot..." and waiting for several seconds (20-30!) or just booting into empty desktop
1. CE doesn

[2016-11-18 10:18] tin-nl commented on #87
Sure, I'll have a look.
Two questions on this, @mikrosk:
-which PI are you using?
-2 is especially worrysome (because it might hide another regression) - IIRC we implemented sth way back to handle the Wlan interface always coming up late even in the yocto boot process due to DHCP. Do you mean the CE sees no interface at all (e.g. even after a while?) or "just" at startup? Unrelated to this specifi

[2016-11-18 11:54] atarijookie commented on #87
Maybe I could add some script at the end of boot of linux, which would store something to /tmp, e.g. /tmp/linuxBootIsFinished, and until that time the CE main app wouldn't do any tasks which could cause issues, e.g.:
- not restarting eth0 and wlan0 until then
- not retrieving time, update versions, other stuff from the internet
- not mounting shared drive

That way the CE main app could start soon

[2016-11-18 13:53] mikrosk commented on #87
@tin-nl : it's the B+, running Raspbian. wlan0 (internet) eventually comes up, it's just the boot process is lying. For instance it's totally normal to see "no wlan interfaces" and then open ce_app and fetch a web update. really confusing. another use case is that I open up the shared drive, waiting ages to open it or even see the infamous mount.err.

@atarijookie: I think this is all solvable wit

[2016-11-18 14:00] miniupnp commented on #87
That is possible to start the ce-main app before the Network interface is fully up and run specific tasks when the interface goes UP/DOWN.
It would also help when the network cable is plugged after start or so...
See what I've done for miniupnpd :
https://github.com/miniupnp/miniupnp/blob/master/miniupnpd/linux/ifacewatcher.c

[2016-11-18 14:07] miniupnp commented on #83
you are thinking like storing a magical value somewhere in ram and doing a soft reset ?

[2016-11-19 04:31] mikrosk commented on #87
One of the things I'm not sure about is the shared drive -- if we start the desktop before [wlan] network, what to do? Do a progress bar similar to ZIP depacking?

[2016-11-19 04:32] mikrosk commented on #83
Yeah, basically mount & wait for the game to load, no space bar, no reset.

[2016-11-19 07:32] atarijookie commented on #87
Well, I would leave that at current state - show the (empty) content when not mounted yet (or error message file), and later just show the mounted drive. There is a retry on connecting shared drive, so nothing should be needed to be added to make this mount retry to work...

[2016-11-19 08:50] miniupnp commented on #87
we could even change the icon label with "mounting". The user would know he needs to reboot later

[2016-11-20 00:53] mikrosk opened #88 "Making floppy access faster"
Same as Hatari (and others) offers, sometimes (most of the time...) you don't really need exact motor emulation for floppies, just reading sectors as fast as possible is sufficient. I was genuinely surprised how slow the loading is, first I thought it actually froze.

[2016-11-20 09:51] atarijookie commented on #88
Not possible.

WD1772 disk controller has fixed baud / bit rate, which needs to be met -
slower of faster won't work. Emularors achieve higher speed by avoiding low
level hardware emulation, whereas real floppy emulators (CE, HxC) need to
meet the exact bit stream speed.
On 20 Nov 2016 01:53, "Miro Kropacek" notifications@github.com wrote:

[2016-11-20 09:57] mikrosk commented on #88
Heartbroken. :-/

[2016-11-20 09:57] #88 closed, assigned to nobody

[2016-11-20 10:31] mikrosk commented on #87
One more thing, somewhat related -- one of the most annoying things is that keyboard doesn't work until  CE app is active (what make sense). Would it be, somehow, possible to make an early start for the IKBD emulation (just forwarding packets) so for instance CTRL+ALT+DEL works?

[2016-11-20 13:59] atarijookie commented on #87
This would require a simple HW change, which you might be able to do yourself, but as I didn't think of this sooner, no other device has this change yet. I don't meet this issue as I power up the device before my ST with a separate supply, so I didn't think that it needs a solution. So I might make this HW / FW patch in the future so individuals might be able to apply it.

[2016-11-20 22:08] mikrosk commented on #87
Thanks a lot! Btw why not to make it default? Is there any side effect when keeping this as default?

[2016-11-21 00:49] atarijookie commented on #87
It will be a default for all the next devices, which will have (might have) this new feature :) It can't be default for older devices (and current devices), because they lack this HW patch...

[2016-11-21 10:08] atarijookie commented on #76
Extended the CE_TSTHD.PRG by 'Stress test' - does read data as fast as possible, doesn't check content, just the end result (success / fail) - like the initial speed test.
On CE SCSI of Bohdan - fails after 4 rows of good reads (rows of stars - *******).
On my CE ACSI issue doesn't appear.
On my CE SCSI (same as previous) issue doesn't appear, total CE current is 0.65A during this test.

[2016-11-21 10:34] tin-nl commented on #87
@mikrosk:Just had time to follow up on 1), but with my raspbian image, not jookies. And on Pi1.
I failed to see the mentioned behaviour due to early startup and CPU overload ( which doesn't mean it isn't there). I have to check this with jookies image, but in the meantime: how exactly do you see that this is due to CPU load? Do you have any logs? Just to make sure I don't miss any obvious signs on

[2016-11-21 10:39] mikrosk commented on #87
@tin-nl: I think it's all related to that wifi dongle. I didn't experience this when Ethernet cable was attached. That's the problem here -- I think something goes wrong with the init order and while kernel is busy doing some wifi magic, ce_app blatantly pretends everything is fine and trying to start what leads to all sorts of  problems. I could live with the fact that the LEDs signalise "please

[2016-11-21 19:48] tin-nl commented on #87
@mikrosk: interrestingly, my wifi setups show no such behaviour as described in 1) - even with jookies new image, just retested several reboot cycles with and withoud ST SD card inserted.
Again: I'm not saying it doesn't exist, just that it's probably hard to check on my end what exactly happens. It might need a RPi2 or your Wifi dongle chipset to have that behaviour. Which chipset is that, btw?

[2016-11-21 22:20] mikrosk commented on #87
I'll give it a bit more testing, good to know it works for you. Too bad kernel logs use other time stamp format than we do, so it's hard so sync what's happening but I'll do my best. I can reproduce it any time -- basically what I need to do is to switch on the STE, wait for 2-3 minutes (!) and then I can be sure everything will work OK (no waiting in the boot phase, recognised wlan0, mounted NFS)

[2016-11-22 10:19] tin-nl commented on #87
i've tested with rtl8188cus and the rtl8192cu driver (back then and now). it takes Wifi 90secs to get from boot to "up". So the chipset is probably close enough. But this also means that it's not the early start per se causing this, as it probably could happen anytime.

Now _thats_ an interresting tidbit of information you withold from us :-) All the tests back then and now were done with the kern

[2016-11-22 11:04] mikrosk commented on #87
First I didn't get why would think so but then it hit me -- yes, I did enlarge the partition first (very easy procedure) so I could install all the other candies. Right now I have the CE mounted again in the STE but I didn't do anything specially, really: apt-get update && apt-get install rpi-update && apt-get upgrade; reboot; rpi-update; reboot.

This updated the kernel, made my wireless dongle n

[2016-11-23 02:07] atarijookie commented on #76
LM317 replacement didn't help.
Resoldering Xilinx didn't help, although I thought I saw one short circuit there.
It doesn't seem like it's caused by termination - the behavior is the same even if the terminators are removed (thus LM317 doesn't drive the signals).
Could it be that this not-driving of LM317 is the cause? Measure if it provides some voltage there...
The issue is easier reproducable,

[2016-11-23 02:12] atarijookie commented on #76
Possible things to try (all done, not helped):
- build Hans FW without optimisation, test if anything changed - no change
- possibly make longer XDMA / XPIO / XMSG impulses for data transfer, identify and reset  - no change
- in the Hans FW check using the debug cable what (where) is usually stops when this happens - nowhere, everything seems fine

[2016-11-23 07:26] tin-nl commented on #87
@mikrosk: Quick update: still can't reproduce 1), even with upgraded raspbian.
But found a way to reproduce your suspected root cause - the Wifi connect forces the HD test to retry one or even two times (in the same run), although without producing an error. Still have to check if this is related to every ifup (aka also happens when configuring and thus restarting wifi) or just the usb initializat

[2016-11-23 11:38] mikrosk commented on #87
@tin-nl: OK, I managed to image the card: http://mikro.atari.org/private/ce.img.gz

With this one I can always reproduce the CPU choking. However, there's one strange issue which puts some doubt into the logs -- for some reason, time seems to be delayed by minutes. So I power cycle the CE, get shell and I see a log from 10 minutes ago (there's no way the boot process took so long). First I thought

[2016-11-23 13:51] atarijookie commented on #86
Made changes to CE_CONF.PRG, main app config, download showing, termination delay, ce_conf on rpi improvements. Main app not tested with improvements of CE_CONF.PRG, have to do this on real HW.

[2016-11-23 13:54] atarijookie commented on #69
Closing this thing, when some other Raspbian issues will appear, will create a new task for that.

[2016-11-23 13:54] #69 closed, assigned to atarijookie

[2016-11-23 13:55] atarijookie commented on #47
Transition without direct update from yocto done, thanks to everyone who helped. :+1:

[2016-11-23 13:55] #47 closed, assigned to nobody

[2016-11-23 14:00] atarijookie commented on #64
If anyone manages to make the crosscompilation work - for raspbian and / or for yocto, please feel free to add the needed steps to wiki page. For now closing this thing.

[2016-11-23 14:00] #64 closed, assigned to nobody

[2016-11-23 14:01] #59 closed, assigned to nobody

[2016-11-23 14:05] atarijookie commented on #1
Closing now - a wontfix_now thing is now probably wontfix_never.

[2016-11-23 14:05] #1 closed, assigned to tin-nl

[2016-11-23 19:36] tin-nl commented on #87
@mikrosk: K, great, thanks! I downloaded the image and will commence some test with that one.

I can report that even _reconfiguring_ WiFi (e.g. changing APs) produces these chokes. So it's very likely that there are more problems on the horizon with WiFi - we can't tune niceness for drivers AFAIK.

Can you do me a favour and try this:
1. boot your CE "normally" with WiFi (aka untill you have an I

[2016-11-24 08:30] atarijookie commented on #86
Made few fixes to issues caused by adding additional isUpdateScreen + updateComponents flags to the update screen.

[2016-11-24 08:32] atarijookie commented on #84
Done in master now. It doesn't act as SAVE, but at least it goes to next component, which feels like you just finished editing the current text...

[2016-11-24 08:32] #84 closed, assigned to mikrosk

[2016-11-24 08:59] mikrosk commented on #84
Thanks Jookie!

[2016-11-24 12:07] mikrosk commented on #87
@tin-nl: yep, your hunch was right. If I change the SSID, I get one "1" instead of "*", so choking does occur.

[2016-11-24 13:21] atarijookie commented on #81
Updated imagelist.csv on server to point to exxoshost.co.uk
Added code to master/ce_main_app, which should extract the floppy image from downloaded ZIP file. Not tested.

[2016-11-24 13:40] mikrosk commented on #81
I'd test it but it hasn't been pushed. :) Ideally, if you could make a separate branch for each feature -- that way I could test the separate feature/bugfix only.

[2016-11-24 14:33] atarijookie commented on #81
I forgot to push it, sorry ;)

It's here:
https://github.com/atarijookie/ce-atari/blob/master/ce_main_app/downloader.cpp#L178-L233
...and as mentioned, it's not tested yet. I also thought about having a similar (or even that?) code in the floppy/floppyimagefactory.cpp, which would allow to upload the ZIP file to slot, floppyImageFactory would unZIP it and then use the appropriate image loading cla

[2016-11-24 15:14] miniupnp commented on #75
it is only about clearing the right bit at $484

[2016-11-24 15:46] miniupnp commented on #81
we could use https://nih.at/libzip/libzip.html to read floppy inside .zip file.

(I think such library  should also be used to improve the "mount zip as dir" feature of translated disks)

[2016-11-24 16:36] atarijookie commented on #75
plus configuration UI plus saving to config

[2016-11-24 16:39] miniupnp commented on #75
yes, that's the hard parts ;)

[2016-11-24 16:55] atarijookie commented on #81
Yeah, that would be ideal, but it would be more complicated than using the unzip command... In the 'mount zip as dir' feature would be even nicer (and less work) using fuse-zip, which would work fine on Raspbian, but I'm sure about Yocto (I guess there isn't support for fuse).

[2016-11-24 18:11] tin-nl commented on #87
@mikrosk: just had a quick test with your image (on PI1B with CE v1) - now I get almost exactly the behaviour you described. Additionally I get the following:
-unusual long steady (e.g. non-flickering or very fast flickering, hard to say) HDD light, even for a few seconds
-dropouts of IKBD
And the kicker: I seem to get this even without any network attached,
Note: I left your config as is - meanin

[2016-11-24 18:18] tin-nl commented on #87
@atarijookie; regarding the WiFi chokes when changing APs - is there anything on ST side (TOS, ce_dd, ce_boot) that you know of, that doesn't retry? I am not sure if we can prevent CPU usage spikes by drivers, even if ce_main were a kernel module...

[2016-11-24 18:48] tin-nl commented on #75
Just a thought: does anyone know the motivation behind this request?
 If it's to get rid of the annoying keyclick rampage while the CE's still booting, I'm afraid that we can't do anything about it.

[2016-11-25 00:44] mikrosk commented on #81
If there are no other issues preventing people from upgrade (except the not-yet-so-smooth upgrade process), I would forget about Yocto compatibility as whole. There so much work to be done that worrying about backward compatibility for such a huge transition isn't just worth it.

What I would do is to make a separate branch to which only critical bugfixes would go. All the candies would go to the

[2016-11-25 01:31] mikrosk commented on #87
@tin-nl: wow, that's a fascinating discovery. I can't think of anything which could result in some dramatic difference. That being said, maybe I *did* screw up something but I just don't remember. I'll try to `dd` Jookie's image, write down every step I do and if the problem reappears, ask you to do the same. ;)

[2016-11-25 03:19] mikrosk commented on #87
Hmm. Now this is getting more and more interesting.

1. `dd` ce_raspbian_2016-11-10.img (md5sum: 9a499d781157b698720f4b44a775c084)
1. apt-get update && apt-get upgrade && apt-get dist-upgrade
1. reboot
1. raspi-config -> expand
1. reboot
1. apt-get install raspberrypi-kernel-headers joe mc git
1. Install the kernel module: https://github.com/atarijookie/ce-atari/wiki/How-to-compile-a-kernel-module

[2016-11-25 06:29] tin-nl commented on #87
@mikrosk: the only difference I can see now between my (upgraded) image and yours is the NFS mount. I'm using CIFS. So my guess is that sth in there doesn't behave if network isn't up. I'll have a look into that.
Meanwhile: what happens in the testcase above in ce_tsthd if you disable nfs, disable WIFi, reeneable NFS?

[2016-11-25 06:45] mikrosk commented on #87
I think it's safe to conclude it's the NFS -- as soon as I disable shared drive, it boots as one would expect -- no network interfaces found but it continues to desktop and everything is fine. So this issue is actually about two separate things:
1. Wait for wlan0 or signalise the user that wlan0 and therefore shared drive is not available (yet)
1. Investigate why enabling NFS and not having networ

[2016-11-25 09:06] atarijookie commented on #86
Made more fixes with real CE_CONF.PRG - was totally broken, now seems to be better.
Added timeout for app restart after update.
Added heartbeat component in the upper right corner to show if the screen was just updated (stream was retrieved).

**TODO:** Refresh doesn't seem to happen on ST using CE_CONF.PRG - this might cause that update components versions are not refreshed automatically, also th

[2016-11-25 09:23] atarijookie commented on #87
@tin-nl
The retry is used by CE_DD.PRG, CE_CONF, CE_TSTHD.PRG, so hopefully the translated disks shouldn't end up with damaged data.

The retry is not used by CE bootsector, and TOS + any other driver - HDDRIVER, ICD Pro, PPera's disk driver, so using USB in RAW mode (and in future RAW disk image file) could get corrupted when the RPi chokes.

RPi choking shouldn't affect SD card access as that is

[2016-11-25 09:41] atarijookie commented on #76
c&p from atari-forum, following has the info on the issue:

[2016-11-25 09:46] atarijookie opened #91 "Make sure / fix that heavy load on RPi doesn't affect SD read / write"
When RPi is under heavy load, it doesn't respond to Hans, which affects RPi based features.

All data transfers from / to SD card are done in Hans, and thus the SD card should work fine even if RPi chokes sometimes. My guess is, however, that when Hans sends FW INFO to RPi every second, it might get stuck there then RPi is under load, and this should be improved / fixed.

TODO:
- make SD card read

[2016-11-25 10:06] mikrosk commented on #73
Just an update to this one -- it seems that Atari keyboard (as many others...) has a limit how many keys can be pressed at the same time. From my tests it seems you can have two arbitrary keys plus CONTROL and/or ALT and/or SHIFT1 and/or SHIFT2. That's it. So I'm not sure whether it makes sense to create mappings for both joysticks -- imagine the pain when two cars are accelerating and you can't t

[2016-11-25 10:16] atarijookie commented on #73
Maybe not if 2 want to play on the keyboard, but in case when:
- in one game you play on keyb_joy1 (and the possible other on real joy)
- in other game you play on keyb_joy2 (and the possible other on real joy)

That way you don't need to have a radio box for selecting as which (0/1) the current keyb_joy act... So it's not as good as being able to have 2 keyb joys, but at least it's something...

[2016-11-25 10:26] mikrosk commented on #73
OK but why would you want that?

I was thinking about quite a similar one, you remember how some games want you to have joy0 while others joy1? And we were all so pissed of to switch between mouse and joystick? So maybe for that case we could have a hotkey -- i.e. swap joy0/joy1 mapping. Maybe like a circular option -- off (no mapping) / joy0 / joy1.

[2016-11-25 10:31] atarijookie opened #92 "HW list of TODO"
Notes from Jookie to Jookie, other people can ignore this :)

**TODO:**
- wait for rj1 on atari-forum.com to test ACSI in the pull-up + drag-down mode, and if this improves ACSI communication on problematic STE, implement this in v2.2
https://www.xilinx.com/support/document ... /ug445.pdf, page 21 and later on 5V interfacing.

- consider using Dual Terminator 220/330 - Bourns resistor network, e.g

[2016-11-25 11:16] atarijookie commented on #73
That sounds nice ;) Something like Ctrl+F10 isn't used much anywhere... Will you work on that thing later?

[2016-11-25 11:20] mikrosk commented on #73
Yeah, this is the main feature I'd like to implement for CE at this time, incl. detection of CE_CONF which would translate into mapping = off, as we discussed on FB.

After that I plan to look at the floppy images (auto reset - #83), IKBD mouse issues, cross compiler and eventually on the super fast boot image. Not specifically in this order. :)

[2016-11-25 15:11] atarijookie commented on #91
Extended test_acsi (CE_TSTHD.PRG) - added SD card continuous read test, not tested (but compilable).

[2016-11-25 19:22] miniupnp commented on #77
it looks like the necessary code is already there in native/scsi.cpp and native/imagefilemedia.cpp
I'm testing it

[2016-11-25 19:34] miniupnp commented on #77
it works !
I now need to add some way to configure it and mount/unmount them easily

[2016-11-25 21:08] tin-nl commented on #87
@mikrosk: I confirmed it's NFS - just enabling it without _any_ network attached lets a kworker go haywire with 97% cpu usage and above. And it's unrelated to the boot process - it's enough to enable the NFS share at any point in time.

As soon as I'm able to think a bit (damn flu), I'll add that network check to the mounter. We need it there anyways, regardless how we communicate that the user st

[2016-11-25 21:14] tin-nl commented on #87
@atarijookie: unfortunately the Wifi and NFS kernel module run with a -20 niceness - so ce_main doesn't stand a chance :) It's safe to say that the NFS thing will be solved by adding the network check. The WiFi choke is not nearly as bad (one single retry on AP change and several 9s on NFS) - I have no idea how to prevent that.

[2016-11-26 01:05] mikrosk commented on #87
Wouldn't something as timeout = 0 help? I.e. isn't that caused by NFS trying again and again to mount?

[2016-11-26 02:02] tin-nl commented on #87
I'm not sure. timeo is set to two minutes and describes the amount of time NFS keeps retrying - but it's not the timeout itself, that's around 60s if I read correctly. Yes, I'll try timeo=0 and soft etc., but I'm not too convinced that this won't open another can of worms. There is even _netdrv (don't connect if no iface is up), but that's only supported via commandline, not via c binding. We'll s

[2016-11-26 02:32] mikrosk commented on #87
I have actually zero experience with NFS in general. ;-) I was just guessing -- if we set it to, ok, not zero but say 5s, and it wont be able to mount after that time, we can safely assume the mount point is unavailable (either because network is down or still connecting).

Because with your approach -- checking for eth0/wlan0 -- maybe there still will be problems like eth0/wlan0 available but NFS

[2016-11-26 02:47] tin-nl commented on #87
According to the docs, that's exactly something that timeo does /not/ do :) The main timeouts are set for traffic in general, timeo only sets the repeat timeframe. So it is 60s of timeout even with timeo=5.
I surely will try that (and setting the traffic timouts lower), but we should consider that these values were chosen for a reason (aka flaky wifi etc.). Sure it's better to have NFS handle that

[2016-11-26 04:37] atarijookie commented on #77
Yeah, I was using that hard drive image thing when I was doing some development back then... The configuration is the thing that worries me most :)

[2016-11-26 06:18] atarijookie commented on #86
Refresh fixed - mising of supervisor, BIOS, GEMDOS - not good. Now in supervisor only for a short needed time, calling only GEMDOS as it's not in supervisor anymore.
Also showing the update titles before they all need to be show - let's the user know what will be updated, how long will it take.

Seems much better now. Closing.

[2016-11-26 06:18] #86 closed, assigned to atarijookie

[2016-11-26 06:55] mikrosk commented on #86
@atarijookie: out of curiosity, why do you need to be in SV when calling GEMDOS?

[2016-11-26 11:08] atarijookie commented on #86
I don't need that - it was just the silly old way of doing things - switch to SV, do everything, when quiting switch back to user mode. But as mentioned, GEMDOS has issues when called from SV, and as I remade that, the issues with keyboard vs refresh disappeared :)

[2016-11-26 17:36] miniupnp opened #93 "high bit of byte 3 of command is cleared."
look here :
https://github.com/atarijookie/ce-atari/blob/master/ce_main_app/ccorethread.cpp#L492
the high bit is cleared, what ever the command.
We should check that it is a 'C' 'E' command before doing anything, right ?

@atarijookie : are CE commands only detected by tag ? also "command" should be 0, right ?

[2016-11-26 17:39] miniupnp commented on #93
yes my doc is usefull : https://github.com/atarijookie/ce-atari/wiki/ACSI-SCSI-CosmosEx-Commands
;)

fix is coming soon.

[2016-11-26 17:55] miniupnp commented on #93
@atarijookie : if it looks ok to you, you can merge my fix_93 branch

[2016-11-26 19:06] atarijookie commented on #93
Yes, you are right, it's wrong. It's OK for SD card (which is handled completely in Hans), it's OK for CE_DD, config, network, but it's very wrong for RAW USB drives and for your upcoming RAW images - I guess that that's how you noticed it, right?

Anyway, great detective work, thanks!

[2016-11-26 19:08] miniupnp commented on #93
yes I spent hours wondering why ICD wont find the C: partition

is someone using RAW USB drives ? ;)

[2016-11-26 19:11] atarijookie commented on #93
Well, I don't know, possibly yes, but there's one worse thing related to RAW USB drives and RAW images - RPi choking mentioned in #87 - I don't know how to solve that, and that might screw the RAW drives a lot...

[2016-11-26 19:14] miniupnp commented on #93
Well I'll try to fix choking then ;)
but I think I've never had the problem.

[2016-11-26 19:17] atarijookie commented on #93
As mentioned in #87 - when Raspberry is under heavy load, it might screw up the CE handling things, as there are timeouts everywhere - in HDDRIVER, ICD Pro, in Hans, in ce_main_app, and those RAW Atari drivers don't do retries. You might have not experienced this choking, as you maybe don't use wifi (connecting chokes the Raspberry) or NFS mounting chokes it a lot when there's some problem...

In

[2016-11-26 19:56] miniupnp commented on #77
I've something that works pretty well I think in my hdd_images branch.
I need to modify the configuration tool :)

Also I think I should make a CE_HDIMG.TTP tool to mount .IMG files

[2016-11-27 05:03] atarijookie commented on #77
Wow, nice :) I can try that once the whole chain (config - mounter - main app) are done, for now I'm working on other issue...

[2016-11-27 17:43] tin-nl commented on #87
Did a quick test regarding the IF-up check, @mikrosk's image boots now without choking, same as if using CIFS. Have to do the NFS options (timeo,soft etc) tests.

I can confirm that NFS is not taking a choking amount of CPU time on yocto. With yocto it's possible to provoke retries in ce_tsthd via WiFi the same way as with raspbian - but it happens much less (raspbian has this every time).

[2016-11-27 22:47] mikrosk commented on #87
@tin-nl: Isn't that an issue of the 4.4 kernel? For instance, if I do `rpi-update`, it takes ages to mount the nfs without adding `-overs=3` to the command line. So maybe NFS has been evolving since the Yocto kernel version.

[2016-11-27 22:57] miniupnp commented on #77
I've added the configuration in my [branch hdd_images](/miniupnp/ce-atari/tree/hdd_images)
I still have to do the CE_HDIMG.TTP tool to mount .IMG files directy from the ST.

[2016-11-28 04:20] atarijookie commented on #76
Turning off Hans optimization slowed speed to 660 kB/s, but didn't stop the issue from occuring.
Replaced 1 nop with 4 nops after aPIO and aDMA signal set/reset, they changed from 25 ns to 170 ns, but it didn't affect anything.
With lastErr[5] array it shows only single LOG_ERROR(1) issue, which is related to SOLO mode start, not anything related to communication - looks like everything went fine

[2016-11-28 05:10] atarijookie commented on #76
- try to add auto-reset of signals on selection (xilinx)
- could the problem be the requirement of simulatanous rise of aPIO and aDMA for Xilinx reset?
- or could the Xilinx reset be just issued too soon after status byte and should we just wait a little more?
- extend xilinx statusReg(7) to contain all the SCSI phase signals, not only BSY
- add continue / stop setting in CE_TSTHD stress test (eas

[2016-11-28 06:41] tin-nl commented on #87
@atarijookie I think this is a kernel module issue, yes - it happens with your released image and an upgraded one, but not with yocto.
The nfs3/4 connection time issue seems to be a known one. AFAIR I also tested the IF-down issue with protocol version 3 w/o positive effect. Have to retest.

[2016-11-28 07:34] atarijookie commented on #87
Thank you guys for examining it a lot, but crap - what we will do with it now? :) Recommend not using NFS with Raspbian?

[2016-11-28 08:09] atarijookie commented on #93
Your branch fix_93 merged, thanks and closing :)

[2016-11-28 08:09] #93 closed, assigned to nobody

[2016-11-28 08:18] miniupnp commented on #93
note : github is supposed to close the issue automatically when you merge into master : https://help.github.com/articles/closing-issues-via-commit-messages/

[2016-11-28 09:50] tin-nl commented on #87
My 2cents (well, 3 actually):
1. checking for an IF that is up should work around it pretty well, it should be pretty hard to produce this issue with that fix (at least in my implementation I couldn't produce it anymore). I'll check it in as soon as I rechecked it, so thers can test.
2. then we should check the timeout options mikro suggested - unfortunately this might break other working connecti

[2016-11-28 11:05] mikrosk commented on #87
@tin-nl: I agree. I'll happily test your workaround (1.) and let's then experiment with NFS timeouts and options.

[2016-11-28 19:52] atarijookie commented on #76
This reduces problem a lot, but not completely - without it the stress test fails within 3 minutes, with it it last more...
[code]

[2016-11-28 20:23] miniupnp commented on #77
https://www.youtube.com/watch?v=m-HMKKRIvNk

[2016-11-28 21:09] tin-nl commented on #87
Added the not-mounting-nfs-if-no-iface-is-up thing. Unfortunately I forgot to mention this issue in this commit. Ah, the joy of guthub not letting one reference that manually :/

Anyway, please see [here](/atarijookie/ce-atari/tree/nfs_workaround/).
@mikrosk could you give this a spin?

Edit: recommitted with reference.
Reedit: dang, ignore the reference below, points to old (deleted) branch, use

[2016-11-28 21:11] miniupnp commented on #77
@atarijookie it only needs a bit testing before merging :)

[2016-11-29 05:38] atarijookie commented on #76
Added that falling edge of SELECT is also resetCombo, and that seems to help a bit, too... That way each new selection (start of SCSI command) would release the SCSI bus by CE, if it failed to do so before.
[code]

[2016-11-29 15:06] atarijookie commented on #92
- after moving the IKBD connector a new hole for PWR switch and IKBD connector has to be made in box bottom part

[2016-11-30 08:11] atarijookie commented on #74
Made a release today with the SCSI Xilinx fix, runned fine on my 2 devices - stress test and data validity check test were running for an hour each (so 2 devices * 2 tests = 4 hours) without an issue. Waiting for user feedback if it solves their issue, and if it will, then this will be closed.

[2016-11-30 08:11] atarijookie commented on #76
Made a release today with the SCSI Xilinx fix, runned fine on my 2 devices - stress test and data validity check test were running for an hour each (so 2 devices * 2 tests = 4 hours) without an issue. Waiting for user feedback if it solves their issue, and if it will, then this will be closed.

[2016-11-30 09:01] atarijookie commented on #78
As we don't know what happened, and as the new CE_CONF.PRG will report the progress nicely (in the next update, not in this one), then don't know what to do with this one, so closing :)

[2016-11-30 09:01] #78 closed, assigned to nobody

[2016-11-30 09:03] atarijookie commented on #77
@miniupnp Unfortunately I can't do the testing now as the other stuff keeps me way to busy, so I suggest to merge it in, let the end user to try the feature, and possibly fix it later :) Soooo... should I just merge it right away, or will you do it? :)

[2016-11-30 09:05] miniupnp commented on #77
@atarijookie you can merge right away. But nobody else here can test ? @tin-nl  ?

[2016-11-30 09:31] tin-nl commented on #77
@miniupnp: sure, I'll give it a spin later. Any specifics to look at? Any images I should try?

[2016-11-30 10:03] miniupnp commented on #77
@tin-nl just try any disk image you'd like :)
I'm wondering, Is there a disk imaging tool ? I would like to backup my old megafile 44 before it dies

[2016-11-30 12:15] atarijookie commented on #77
I'm sure there is some, but if there isn't, it shouldn't be hard to make one, right?

Connecting CosmosEx with other devices (Megafile 44) might not work, so you might need to do it in a different way than just bare copy...

[2016-11-30 12:39] atarijookie commented on #77
I've merged this and it closed the issue, so I've reopened it :)

@miniupnp btw., I've also merged your media streaming some months (weeks?) ago, but I haven't tested it. Raspbian image, but I didn't merge in the Atari part (I think) - where can I find it to try it, and does it now work also on ST, or it's STE only still? :)

[2016-11-30 13:33] miniupnp commented on #77
@atarijookie I think we should open another issue for the media streaming

[2016-11-30 13:53] atarijookie commented on #77
Sure, write down everything you need in the other (media streaming) issue :)

[2016-11-30 14:06] miniupnp opened #94 "Media Streaming (MP3, etc.)"
Media streaming for audio is available in the ce_main_app
A few things need to be done for making it easily available to users :

For MP3 / OGG / WMA decoding we need a decent FFmpeg version, not the awful libav version available in some debian based distro.
I need to build a newer / smaller FFmpeg for Yocto users.  @atarijookie how much "disk" space is available on users Yocto microSD ?
Raspbian

[2016-11-30 20:31] tin-nl commented on #77
Looks good so far. Successfully mounted pperas 1GB image and hddrivers demo image.
The menu entry probably should be called "Harddisk Image" - "Disk image" might be read as floppy disk image by users.

Copied some data on there from shared drive (via TOS 1.04), that failed some files in (only 36 out of 69 copied, albeit there was enough free space). This happened after the last file (well, the fil

[2016-11-30 20:34] tin-nl commented on #77
Oh, and a warning in the config if the file does not exists (aka user can't type), would be nice, too :)

[2016-11-30 20:40] tin-nl commented on #77
Just found one bug by chance - it seems entering the "Floppy Config" and exiting with cancel clears the "Disk Image" path I entered there.
Also the display of Floppy Config doesn't clear the screen anymore before drawing (but this might be dure to the webconfig I'm using).

[2016-11-30 20:44] tin-nl commented on #77
Succesfully booted&run STMint.06.img as found on atari-forum.com. This was broken a while back.

[2016-11-30 21:27] miniupnp commented on #77
thank you for the feedback.
I'm going to try to fix the few issues you've found
I'm also wondering if we should support mounting several (up to 8) RAW drives / IMG on the same ACSI/SCSI ID, but with different LUN.
At least HDDRIVER support this.

[2016-12-01 08:22] atarijookie commented on #94
If I remember correctly, on Raspbian I've checked out the sources of ffmpeg, compiled and installed it, but there isn't anything on Yocyo (yet).

If I see it correctly, there's 60 MB free, so I guess using 40 MB would be OK ;)

[code]

I can't check that out now as I don't have RPi with Raspbian around (at work), but as mentioned - the one built from sources should be there...

Maybe it would be g

[2016-12-01 08:39] atarijookie commented on #87
OK, I've merged the nfs_workaround branch... thank you for the fix :)

[2016-12-01 08:44] atarijookie opened #96 "On Rapsbian network doesn't work when not using DHCP"
The user complains through fb messages:

Which translates to:
- if DHCP is off, it doesn't use the entered IP address, also wifi adapter is off / unusable
- if DHCP is on for eth0, everything is fine, even wifi

Have to check this out on Raspbian, which I don't have currently around... Maybe something wrong in configuration?

[2016-12-01 09:11] atarijookie commented on #77
Ow crap, that's not good. I should look at that...

I wouldn't recommend that - the other drivers (ICD Pro, PPera's driver) don't support that AFAIK, so I would stick to using one image per one ACSI ID...

[2016-12-01 11:33] mikrosk commented on #94
No need to do that, Jookie. At least as far as MOD players are concerned, my mxPlay uses XMP library which basically plays any module format on the planet. So if I were looking into RPi-based mod player, XMP would be my choice -- multiplatform, supported, easy :).

[2016-12-01 11:34] mikrosk commented on #87
Jookie, you should have waited for me first. :-) I'll try to test in following days.

[2016-12-01 11:35] mikrosk commented on #96
Well, I have noticed that with DHCP only IP address is filled out in CE_CONF. Maybe it's related?

[2016-12-01 12:21] atarijookie commented on #94
@mikrosk No, you misunderstood me - we need to implement mp3 playback on ST (not STE), that means sample playback through YM, and for that sample playback routine I suggested to take a look at the sources of some existing mod player and use that for the sample playback...

On the other hand - adding that XMP library on RPi for that kind of mod player - cool feature suggestion ;) Once the Media Str

[2016-12-01 12:22] atarijookie commented on #87
OK, let us know how it went then ;)

[2016-12-01 12:23] atarijookie commented on #96
No, that's a feature, so you could see your current IP in config if you have DHCP on.

[2016-12-01 12:29] mikrosk commented on #96
That's fine, it's just I kind of expected to see my network mask and gateway as well. ;-)

[2016-12-02 15:34] atarijookie commented on #96
This issue is due to the static network settings being in /etc/dhcpcd.conf in Raspbian. Write done in master, read is not done (currently just c&p from yocto, to be altered later).

[2016-12-03 11:40] mikrosk commented on #87
@tin-nl: thank you so much, your solution is very elegant and most importantly -- working! ;) Time needed for if up'ing wlan0 and mounting the shared drive respectively is much lower now.

[2016-12-03 11:40] #87 closed, assigned to tin-nl

[2016-12-05 13:31] atarijookie commented on #96
Reading of settings has been added, but now the device ended up with some unknown settings and I can't connect to it through network :)

[2016-12-05 15:33] atarijookie commented on #96
Fixed some issues there with loading and saving, there are still few things there:
- DNS value is wrong when using static IP
- DNS edit line is stretched to two lines and behaves odd!
- WPA PSK is stretched to two lines - done

[2016-12-05 17:07] atarijookie commented on #74
Freezing on problematic device stopped, test runs fine now.

[2016-12-05 17:07] #74 closed, assigned to atarijookie

[2016-12-05 17:08] atarijookie commented on #76
User reported good results in SCSI HD test, closing this one (although user has another issue with SD card).

[2016-12-05 17:08] #76 closed, assigned to atarijookie

[2016-12-05 22:52] mikrosk commented on #96
That's perhaps my fault, setting it to the allowed maximum (63 octets). Any idea how to solve this?

[2016-12-06 13:48] atarijookie opened #98 "NFS vs IP address change chokes the system hard"
I got manually attached NFS share on Raspbian (the CE sources from my pc), I set the new static IP adress through CE config, I get disconnected (this is OK, as the IP changed).

Then I connect again to new IP, I try to change to directory where the NFS share was mounted, and it gets stuck for a very long time (or forever?). This is not something that is in CE app, but if I would have that NFS shar

[2016-12-06 14:02] tin-nl commented on #98
See #87 - there are some settings I'm currently checking, but it's not guaranteed to help. Also, those might have a negative effect on slower NFS servers/connections.

Until then it might help to unmount before changing IP - NFS unfortunately is very sensitive regarding an interface not being up (not to confuse with not being able to connect o the NFS server).

I simply didn't test this specific c

[2016-12-06 14:43] atarijookie commented on #98
@tin-nl - thank you, you did there good examination on the issue :+1:

OK, so I'll probably add some code, which will look at current mounts (even the manual ones, which might cause such trouble) and unmount everything before ifdown...
Also having a checkbox for disabling (enabling) wifi would be nice - on RPi 3 you always have the wifi, but you might not want it... Will work on that later.

[2016-12-06 14:55] atarijookie commented on #96
@mikrosk
Yeah :) It's a nice C exercise - extend the config component, that you can set its screen size in characters, and then the full string size in characters, with inner text scrolling when moving to left or right ;)

[2016-12-06 15:42] tin-nl commented on #98
Before you add that: let me confirm wether or not timeout and retry options change anything. Would be nice to avoid ce_main having to take care of manual mounts, too....

[2016-12-06 22:14] mikrosk commented on #96
On the other hand, two line fields are also not totally bad, maybe they just need some visual improvement. Will look into this.

[2016-12-07 03:44] atarijookie opened #99 "CE_DD doesn't boot with Raspbian - sometimes"
After changing the ACSI IDs in config the CE_DD didn't wanted to boot, no matter how many times I pressed ST reset, but /ce/ce_start.sh to restart the linux app helped.

Also it didn't wanted to boot after Raspbian start... Have to investigate this thing...

[2016-12-07 04:30] atarijookie opened #100 "SD card data corruption"
Reported by two users, that copying of 1 MB files results in the files being damaged. One mentioned that he was copying from CE shared drive, so in the end it might also be bad read from CE translated drive or something...

Steps to reproduce:
- on my STFM, TOS 1.02, 1 MB RAM (user can do this on Falcon, so it's not only on my ST).
- partition SD card with ICD Pro, got partitions: C - 15 MB GEM, D

[2016-12-07 09:42] tin-nl commented on #98
It's enough to just try to use tab-completion on such a mountpoint to get the bash into a long wait. Fortunately CPU behaves as normal, so it's not related to #87 as much as I thought (fortunately).

Using smaller timeout values (e.g. "nolock,addr=192.168.0.4,intr,lookupcache=none,noac,timeo=50,retrans=1,fg") does result in, well, a shorter timeout - but the mount intself doesn't "heal".

NFS seem

[2016-12-07 09:48] miniupnp commented on #98
@tin-nl : are not «average joe»'s already using CIFS ? NFS is only used by geeks ;)

[2016-12-07 12:40] mikrosk commented on #98
I definitely not consider myself as a linux pro but my reasoning was "CIFS is for Windows, NFS is for Linux". Perhaps it wasn't that smart. ;)

[2016-12-07 12:56] atarijookie commented on #98
My choice for NFS at work is that my PC here is configured that the Windows sharing is disabled and I've managed to download and run a small NFS server service ;) (for sharing from Windows). At home where I do not suffer from such restrictions I always use CIFS. So maybe a warning in the config would be enough...

[2016-12-07 13:37] atarijookie commented on #100
The simple write / verify test has been added to CE_TSTHD.PRG, will be tested on CE later.

If the issue can be reproduced with this test, it would be nice to run it without CE_DD present - to check if the issue isn't caused by CE_DD itself... (e.g. screwing with the Rwabs() routine due to Pexec() code).

[2016-12-07 15:37] atarijookie commented on #96
@mikrosk I've just pushed the scrollable editline feature, now it looks better, and I guess we can consider this little thing as resolved (the long SSID / PSK lines).

[2016-12-07 22:14] mikrosk commented on #98
Btw guys, did you try to force version 3, as [mentioned](https://github.com/atarijookie/ce-atari/wiki/How-to-make-NFS-shares-working-(Linux)) in the wiki? I hope to get some spare time this weekend for CE so I'll do some tests as well.

I guess you know about these, but I'm not sure whether it's any help:

**hard** or **soft** — Specifies whether the program using a file via an NFS connection shou

[2016-12-07 22:23] mikrosk commented on #96
@atarijookie damn man you're so productive, thanks!

[2016-12-08 04:55] atarijookie commented on #100
Using the new test thing I now can see that:
- loading of CE_DD was skipped by pressing ALT, so it shouldn't be caused by CE_DD
- the issue with SD card appears not only when not copying, but when just writing from RAM to SD card partition
- write part doesn't complain about anything, so Fwrite doesn't get the error code that something bad has happened
- on BGM partition on 3 files sized 3 MB it a

[2016-12-08 09:12] atarijookie commented on #100
TODO:
- check if this happens also in SOLO mode - that would make the debugging easier
- add SCSI command logging - for all commands, for failed commands only

[2016-12-08 10:58] tin-nl commented on #98
@mikrosk: Yeah, exactly what I tried/meant (see option line). Do have to try nfs version 3 explicitly, tried it somewhere along the line with the CPU choking thing, but this doesn't seem to be tied to that.

[2016-12-08 11:02] tin-nl commented on #98
Oh and didn't try the alias, as a) it is a workaround in case the server IP changes and b) this doesn't seem to help with having to unmount (even those not managed by CE) all nfs mounts before changing IP anyway. Seems to be a rats nest :)

[2016-12-08 11:04] tin-nl commented on #98
@miniupnp: ex-act-ly ;) But we probably want to warn the incautious without NFS experience, that there will be dragons :)

[2016-12-08 12:53] atarijookie commented on #96
Added code for restarting only eth0 when needed, or wlan0 when needed - not always even if the settings didn't change like before, and not both if settings changed only for one.
Added also config setting for turning on/off wlan0 completely, e.g. when you don't need it and you want to save power.

The DHCP / static thing still needs more testing, with real Atari, where you can see the network statu

[2016-12-08 13:59] miniupnp opened #103 "Mouse is enabled in config program"
That is a minor bug, but mouse is enable in config program
![mouse320x200](https://cloud.githubusercontent.com/assets/1070377/21012513/b2c11e30-bd56-11e6-90e4-bb6472595207.png)

I see two possible fixes :  have the program renamed as .TOS
or manually call the Line-A function to disable mouse.

[2016-12-08 14:27] atarijookie commented on #103
You're right, I saw that one a week ago, thought that it should be fixed, but was too lazy to do it then :) I've done it now, using lineaa() and linea9() calls, pushed in master. Needs to be verified before closing this.

[2016-12-08 14:49] miniupnp commented on #77
I think we can close this, except if someone founds more bugs. @tin-nl  ?

[2016-12-08 23:17] mikrosk commented on #103
While on the topic, I have a reverse bug report -- sometimes it happens that I exit the app with F10 and I see the blinking cursor. I think renaming to .TOS is the right solution here, esp. if we want to support running it in console emulators like TosWin2 one day.

[2016-12-09 09:37] atarijookie commented on #77
I got a question based on user input (through e-mail) - what happens, if you mount .ST floppy image through this feature? OK, and while I was writing this question, I realized it will not work :-D as the floppy image might have a different geometry as a hard drive, which will just confuse the TOS....

Now that I'm thinking about it, there could be some magical piece of code, which would extract al

[2016-12-09 09:42] tin-nl commented on #77
@miniupnp: I didn't do more tests; we can always reopen if sth arises.

[2016-12-09 11:40] miniupnp commented on #77
@atarijookie you can mount any file through this image... just that the ST will not boot it.
and hd drivers will not understand it :)

about the floppy I just don't understand why you don't extract the floppy to a directory (on a translated drive) with mtools. You can copy back to the .ST image with mtools too.

[2016-12-09 11:40] #77 closed, assigned to miniupnp

[2016-12-09 12:17] miniupnp commented on #63
@aligator if there is a bug, it is in the HD Driver used. Please contact HDDriver author about it.

on SD Cards and "Raw" disks, the CosmosEx handles only low level stuff (sector access).
The file system stuff is handled by TOS and Hard disk driver.

On "translated" drives however, CosmosEx handles high level stuff (file system functions)

[2016-12-09 12:17] #63 closed, assigned to nobody

[2016-12-09 12:27] miniupnp commented on #58
Is there any "network speed test" application existing for STing ?
we could compare with Netusbee or other solutions :)

[2016-12-09 12:31] atarijookie commented on #77
@miniupnp hmm, mtools - didn't know about that one - might be an easy feature then :)

[2016-12-09 12:47] miniupnp commented on #77
@atarijookie I guess a .ST can even be mounted under linux.
`# mount /path/disk.ST /mnt/floppy -t msdos -o loop`

[2016-12-09 16:08] miniupnp opened #104 "Issues with HDDriver 10.0"
http://www.atari-forum.com/viewtopic.php?f=103&t=30854

[2016-12-10 09:21] miniupnp commented on #104
it looks like the problem is HDDriver 10 badly detected ICD extensions.
I've tested from disk image, it works

[2016-12-10 09:52] miniupnp commented on #104
below is the log of the boot of HDDriver 10.0 on a IMG mounted as ACSI ID 0
we see the ICD command INQUIRY ($12) and then READ_CAPACITY ($25)
[code]

[2016-12-10 10:50] miniupnp commented on #104
HDDriver 10 detects the ICD extension on the IMG (ACSI ID 0) but not the SD CARD (ACSI ID 1)
![hddriver_bug](https://cloud.githubusercontent.com/assets/1070377/21072768/d9c736c2-becd-11e6-8f9d-d76ffc7a4a81.jpg)

[2016-12-10 10:51] miniupnp commented on #104
In HDDRutil, when I rescan devices, everything is OK !

before rescaning :
![hddrutil1](https://cloud.githubusercontent.com/assets/1070377/21072811/f512d6b0-bece-11e6-82e3-b06f46fb61a7.png)

after rescaning :
![hddrutil3](https://cloud.githubusercontent.com/assets/1070377/21072815/ff70be06-bece-11e6-8ff8-17ec7eb240cd.png)

looks like a HDDriver 10.0 bug to me

[2016-12-11 15:15] miniupnp commented on #104
it is indeed a problem in HDDriver 10.0. It will be solved in 10.01 :
[code]
http://www.atari-forum.com/viewtopic.php?p=307241#p307241

[2016-12-11 15:15] #104 closed, assigned to nobody

[2016-12-11 17:10] miniupnp commented on #62
I think the whole translated file handling need some simplification :)
Many RAM could be saved also

[2016-12-11 17:21] miniupnp opened #106 "have all test programs on config drive"
I was thinking that we could/should put a directory TESTS (or TESTPRGS ?) on config drive with all test programs.
I do have the test the programs on O: but at the root :)
That would be easier to understand for users ?

that may be a stupid proposal, feel free to comment ;)

[2016-12-12 07:31] atarijookie commented on #106
No, it's a good proposal, I thought of something similar some time ago, also with the drivers (CE_DD, CE_STING, CE_SCREENCAST) having their own DRIVERS directory, but as I could screw up the loading of CE_DD (by not changing to new path), I didn't do this... Feel free to do this. Things to keep in mind:

- check if after change they are correctly all copied from /ce/app/configdrive to /tmp/configd

[2016-12-12 07:38] atarijookie opened #108 "Speed up start of main app after update"
I've noticed that the first app start after update takes 10 or 15 seconds - this was very visible when I made the improvements to CE_CONF and update progress thing...

There are (at least) 2 things happening on first start of the app, which delay the app start after update, and could be improved:

- generating of the CE TOOLS floppy image could be moved to the makefile (like @miniupnp did for news

[2016-12-12 13:43] atarijookie commented on #106
Sooo.... Should I put the files in TESTS, DRIVERS and rest in root in the next release? :)

[2016-12-12 22:35] miniupnp commented on #103
@atarijookie is there a reason to name the programs .prg and not .tos ?

[2016-12-13 03:54] atarijookie commented on #103
Errr, it looks nicer? :) (no, there isn't)

[2016-12-13 03:58] mikrosk commented on #103
Don't forget to remove the enable/disable mouse calls (again -- console emulators wouldn't be very happy about that).

[2016-12-13 04:16] atarijookie opened #109 "Update process should return result"
Upon finishing the update script there should be status of each update component stored somewhere, possibly the update scrip could show the results more nicely...

Also, while doing this, the update script could have verbose / quiet switch, so user could see the simpler progress of update (downloading - updating app [OK], updating Hans [OK]) instead of long texts in which it might be harder to see

[2016-12-13 09:34] tin-nl commented on #106
Good proposal! So: yes :) I'd like to add that a readme.txt would be swell to add :) I'll post a short text for this in a moment.

[2016-12-13 09:57] tin-nl commented on #106
_Sth like this?_

Welcome to the CosmosEx config drive!
Here you'll find all the tools you need to use the advanced features of your CosmosEx (meaning: features besides basic HDD functionality).
Please make sure you have read the manuals (http://joo.kie.sk/?page_id=415). For a Quickstart guide, see http://joo.kie.sk/?page_id=704. Find more in-depth info in DrCoolZics docs at http://joo.kie.sk/cosm

[2016-12-13 10:01] tin-nl commented on #106
Hm, "layout" is missing, here in a more ST friendly form:
[code]

[2016-12-13 10:45] miniupnp commented on #103
@mikrosk: are you sure about that ? can you test theses console emulators ?
(I guess they wont work on my TOS 1.06 STE :)

[2016-12-13 11:03] tin-nl opened #110 "CE Update / Version Info screen missing from config dump file"
@atarijookie: now that the update screen carries some vital information about the CE version, wether it's jumpered for SCSI or ACSI etc. it's probably best to add this screen to the overall config dump too.

Was there any reason back in the day to not include it that I don't know of and that prevents it to be added now?
If not, I took the liberty to do the tremendous amount of work to add it ;-) S

[2016-12-13 11:12] miniupnp commented on #106
to be friendly with ST, no line should be longer than 40 chars ;)

[2016-12-13 11:34] mikrosk commented on #103
As I say, this is for "one day" :) So if you have a console window running in a multitasking AES (or as an accessory), you certainly don't want your .TOS/.TTP program disabling mouse and whatnot. :)

[2016-12-13 11:34] tin-nl commented on #106
@miniupnp: ah, now your getting plain mean ;-) But of course you are right at that - fix on the way :)

[2016-12-13 11:42] tin-nl commented on #106
I sincerely apologize for my ASCII art, but here is the 40c version:
[code]

[2016-12-13 12:19] atarijookie commented on #110
Wow, nice little feature / improvement, I'm fine with it, thanks ;)

[2016-12-13 12:23] atarijookie commented on #106
Silly question - I thought it would be good to put the General stuff in the TOOLS directory, I've already changed that 3 hours ago (didn't push it yet), so the question is:
- should the general tools be in root, or
- should they go in the TOOLS subdir?

[2016-12-13 12:25] miniupnp commented on #106
I think the .TTP should be in root dir to keep the DESKTOP.INF/NEWDESK.INF as small as possible :)
I would put other general tools in root too

[2016-12-13 12:27] atarijookie commented on #103
All right, @mikrosk and @miniupnp ,
I've added those disaling / enabling mouse calls few days ago....
Today I have removed them...
...and now it seems that I should keep them there... So what should it be in the next release?
A) disable + enable mouse? or...
B) don't do anything with the mouse?

I don't want any hypothetical answers about the future, just a plain vote: A or B?

[2016-12-13 12:33] miniupnp commented on #103
It looks like the "clean" way to do it is : have VT52 progs be named .TOS / do not call Line-A to enable/disable mouse.
One exception is for drivers that have to be named .PRG to be able to be loaded in AUTO folder.
so my vote is B for tools like CE_CONF and A for drivers/TSR (which will not be run in TosWin2 anyway)

[2016-12-13 12:42] tin-nl commented on #110
Well, it was basicly done by yourself, so thanks must go to you :) I'll merge it then.

[2016-12-13 12:55] mikrosk commented on #103
@miniupnp I think you've exchanged the As and Bs :-P

In a nutshell:

- remove all disable/enable mouse calls
- rename all "UI" apps to .TOS (or .TTP if there are some taking params) -- CE_CONF, the tests, ...
- keep the drivers like CE_STING or CE_DD as a PRG but here you don't need any mouse so no dilemma with enabling/disabling

[2016-12-13 13:33] #110 closed, assigned to tin-nl

[2016-12-13 13:36] tin-nl commented on #106
I vote for general tools in root, too. I first thought a TOOLS dir would be a good idea, too, for consistency reasons etc. But especially ce_conf, ce_fdd etc. is used very often, we might not want to hide them.

[2016-12-13 14:03] atarijookie commented on #108
- ce_conf.st was now generated manually using STEEM and added to app.zip, replaces ce_conf.msa which was generated by the app on first start
- ce_conf.zip was now generated manually using zip and added to app.zip, replaces ce_conf.tar which was generated by the app on first start
- fdd_test.st was taken from my current device and added to app.zip, was generated by the app on first start
- app.zip

[2016-12-13 14:03] #108 closed, assigned to nobody

[2016-12-13 14:10] atarijookie commented on #106
I've made a release, didn't test it as I'm not at my ST (seems to work fine without ST, though).
- things moved to DRIVERS, TEST and root (as you voted)
- added tin's readme.txt
- ce_conf is now ce_conf.tos
- made many changes to first start - not creating floppy images, ZIPs, just extracting them, see #108

If anyone is fine with it, we can close this one.

[2016-12-13 14:11] atarijookie commented on #103
I've made a release now, CE_CONF is now CE_CONF.TOS, it doesn't do anything with mouse cursor (like when we started this), so if you're happy with the current state, we can close this one...

[2016-12-13 14:20] atarijookie commented on #83
@mikrosk Hey buddy, how's this task and the #73 going? ;) You have a lot of plans ahead of you few weeks ago :-D

[2016-12-13 22:18] mikrosk commented on #83
@atarijookie I've seen this question coming. ;-) It's just I work on multiple things -- [EtherNE MiNT/MagicNet driver](https://github.com/mikrosk/etherne) for my network card, [ct60tos cleanup](https://github.com/mikrosk/ct60tos) and your project. Usually I can take a look on weekends only so you can imagine. But I haven't forgotten, not at all -- the features are actually something *I* want to us

[2016-12-13 22:21] mikrosk commented on #103
@atarijookie what about the tests? Those are started from the desktop and the user can move the mouse eventually...

[2016-12-13 22:33] mikrosk commented on #106
`This driver is only needed if you want to use translated drives (e.g. windows thumb drives emulated as TOS drives or network drives), screenshots and current date. This is only needed if you don't boot from CE_DD ACSI, then it loads automaticly (see manual).`

I know I'm late to the party but in a next version I'd suggest to make this clearer because for me, whos knowledge about the CE is limited

[2016-12-13 22:36] mikrosk opened #113 "Making release process fully automated"
Just a follow-up from #108...

- generate ce_conf.zip by zip in commandline and make
- generate ce_conf.st - by mtools and make

[2016-12-14 00:50] tin-nl commented on #106
If only you told us so back then ;)
Sure, this could be more clear. But I'm not 100% sold on your version - purpose of my sentence is countering exactly, what your version is implying: you _don't_ need ce_dd at all for basic HDD use. There seems to be an astonishing amount of people thinking ce_dd somehow is needed for the CE to use the SD card (aka act as Ultrasatan). Also, it is needed if you bo

[2016-12-14 00:59] tin-nl commented on #106
Edit: made the text even more awesome.

[2016-12-14 02:00] mikrosk commented on #106
My point was that I, a stupid CE user, have no clue about this at all when I first power on the device. So what do I see? Booting CE. Where the boot stuff comes from? Some kind of *disk*. I open O: and I see this *driver*. Maybe it's an update? Maybe I have to copy it somewhere?

For instance, to this day I haven't managed to format and use an SD card, even though I'd bought one the day the CE had

[2016-12-14 13:38] tin-nl commented on #106
How about:
`Neither version is needed if you only want to use the ATARI formatted SD card and none of the other features.`
then? For orientation (also for more tech-savvy people) it should be clear what it's really needed for and when it's not.

[2016-12-14 14:26] tin-nl opened #115 "Console option F8 no longer shown in Webinterface Config"
@atarijookie: any reason the user can't use the console in webinterface? F8 was explicitly removed. AFAIR it worked before. I'd like to re-add F8 if there's no reason not to.

[2016-12-14 14:38] miniupnp commented on #113
I dont like the idea of having binary files stored in git.
But well as ATARI progs have to be build on PC and RPi on RPi we may be forced to do so.

@atarijookie : I want to make a Makefile that build all ATARI progs and generate the configdrive (on PC of course). How integrate this with your release process ?

[2016-12-14 16:55] atarijookie commented on #113
I'm not sure if we want to automatically build all the atari binaries, as
now I build and release only the one(s) which have been changed and are
considered now in a good shape... but as long as the master branch would be
considered as stable / in good shape, then it could work...

I don't have any plan or idea how to make the whole a single step process,
because as you mentioned - one is compiled

[2016-12-14 17:00] atarijookie commented on #115
There is no real technical reason for not adding console access through web
interface, only security issue - web interface and that config console
through web interface are not protected by any password, but as this is
mostly run by users on local networks, even this shouldn't be a big
concern...

The only reason I removed that F8 text from web config console is that it
didn't work / do anything l

[2016-12-14 17:08] atarijookie commented on #103
Yes, test could be renamed, too... I didn't test the ce_conf after renaming
to .TOS, but if you did or you are confident that it helped, I can rename
the rest...
On 13 Dec 2016 23:21, "Miro Kropacek" <notifications@github.com> wrote:

@atarijookie <https://github.com/atarijookie> what about the tests? Those
are started from the desktop and the user can move the mouse eventually...

—
You are recei

[2016-12-14 17:35] tin-nl commented on #115
Strange, I am pretty sure I used it already and it worked then.

However: security is the reason to leave this disabled, agreed.

[2016-12-14 17:35] #115 closed, assigned to nobody

[2016-12-14 20:08] tin-nl commented on #113
Just a note: the changes in the makefiles did make cross compiling ce_main under windows more and more difficult (e.g. code generation etc.). It would be very nice to keep cross compiling in mind before introducing more complexity to the makefiles.

[2016-12-14 20:15] miniupnp commented on #113
@tin-nl just tell me which changes causes problem. you can open issues like "build failed on cygwin..."
I will try to adapt things
I'm sorry, I'm too used to the comfort of POSIX environments :) but isn't MS windows supposed to include a GNU/Linux subsystem soon ?

[2016-12-14 20:22] miniupnp commented on #46
that's another point for renaming apps to .TOS. so there could be both .TOS (for VT52) version + .PRG (for GEM)       ;-)

[2016-12-14 21:08] tin-nl commented on #113
@miniupnp: no need to be sorry :) Normally I'd build under linux/OSX too, but in this case I'm building under windows deliberately - to make sure win cross compiling is possible and keeps being possible.
It's not that it's not working per se, it just gets more difficult (last by introducing code generation via xxd).
As said before: it would be nice to keep cross compiling in mind before introducin

[2016-12-14 22:09] mikrosk commented on #46
Trouble with GEM apps is that the CE is evolving quite fast. Right now, we can benefit from Jookie's clever solution with 'streams', so whether it's web UI, native Atari or native Linux, you still get updated all three of them with one single commit. Imagine adding combo boxes, checkboxes, popup menus...

[2016-12-14 22:36] atarijookie commented on #46
Currently I think the most important change from TOS to GEM would be only
for the CE_FDD tool - to show more easily which slot contains what, to swap
images and other things with mouse, and also the (now not working) image
download and search. The other tools are fine in console as they are now.
On 14 Dec 2016 23:09, "Miro Kropacek" <notifications@github.com> wrote:

[2016-12-14 22:37] miniupnp commented on #113
@atarijookie that kind of simple stuff can help ? https://github.com/miniupnp/ce-atari/tree/global_makefile

[2016-12-14 22:41] miniupnp commented on #46
I do prefer console apps !
About CE_FDD.PRG I just discovered it's already using AES file selectors.
it should definitely evolve to a full GEM app ;)

[2016-12-16 04:37] atarijookie commented on #100
CE knows that error happened, ST then does REQUEST SENSE but don't show any warning:
4a 00 7b 02 10 00  - 02 (CMD: write, status byte: check condition)
43 00 00 00 12 00  - 00 (CMD: request sense)

Funny thing - if you write the same file over and over, the issue disappears, so you have to write the empty partition image on SD card when trying to reproduce error.

[2016-12-16 04:59] atarijookie commented on #100
In one 2MB write these failed:
4a 00 7a f2 10 00  - sector 0x7af2, len 0x10 - status byte 02, bridge status E_OK, sense code 03
4a 00 80 02 10 00  - sector 0x8002, len 0x10 - status byte 02, bridge status E_OK, sense code 03
4a 00 79 02 10 00  - sector 0x7902, len 0x10 - status byte ff, bridge status E_OK

This is very repeatable - with same state of SD card (after image writing) even the sector n

[2016-12-17 16:17] atarijookie opened #116 "Disable update through web and linux console"
User complained that he started the update through ce_conf and update, and received a lot of errors, as the main app terminated.

I suggest on web ce_conf and linux ce_conf - instead of doing the update - show just message that this is not the right way to do the update, and either go through CE_CONF.TOS, or run the linux script /ce/ce_update.sh instead.

[2016-12-17 16:22] atarijookie commented on #113
@miniupnp Yes, something like that, but I would also add after the build something like:
- create some output (release / update dir)
- copy the files there
- ZIP them
- then sick the mtools on them

The current structure, which would be lovely to achieve using that makefile, can be found in the current app update package:
joo.kie.sk/cosmosex/update/app.zip

This is a good start :+1:

[2016-12-17 23:19] atarijookie opened #117 "Make locating the HDD images easier in config"
tIn wrote on atari-forum:

``
For a translated thumb drive (aka thumb drive windows formatted) you'll enter /mnt/sda1/[add path on thumb drive to image file here]. Use forward slashes only, especially for the last part of your path.
If you have several thumb drives it's "sdb1" instead of "sda1" for the next one etc. It does not work on RAW drives.
But - and that's where it gets interesting - it wo

[2016-12-17 23:22] atarijookie opened #118 "Extend the username and password field length"
User complained that his long username for shared folder (and password?) won't fit in the shared drive credentials edit lines. Now that we have the possibility to have scrollable longer edit lines, this one is easy to do...

[2016-12-17 23:29] atarijookie commented on #100
Hypotheses:
- many small write commands result in long(er) card busy state
- could setting the erase blocks count help with this?
- for some other magical reason the SPI bytes get eaten somewhere, resulting in card not being idle after the write (not starting write at all)

[2016-12-18 00:20] atarijookie commented on #100
- The issue happens also in solo mode, although it feels that it happens less often. But at least I can rule out that the rest of the communication with RPi is screwing this up, or that the usage of the other DMA channes are screwing this up.
- Still after one write needs a image restoration to repeat the issue, otherwise seems to be fine - is this due to card not really writing the sectors that d

[2016-12-18 01:10] atarijookie commented on #100
note: in solo mode the card insertion causes solo mode coutdown - did this insertion restart the chip, or it just triggers the code which does the solo mode detection?

[2016-12-18 02:00] atarijookie commented on #100
[https://members.sdcard.org/downloads/pls/simplified_specs/part1_410.pdf](https://members.sdcard.org/downloads/pls/simplified_specs/part1_410.pdf)

Class.

[2016-12-18 03:55] atarijookie commented on #100
Timeout stretched to 3 seconds, sending ACMD23 before multiple block write operation.

ACSI test altered, showing letters A to Z for how long the write of 128 kB took:
- D ->  3 = 0.375 s  - most writes
- K -> 10 = 1.250 s - 1 in 15 writes
- R -> 17 = 2.125 s - 1 in 200 writes

The SCSI log in Hans FW shows one error on write...

Turned off ACMD23, no write performance difference - am I doing some

[2016-12-18 22:54] atarijookie commented on #118
Now done in master.

[2016-12-18 22:54] #118 closed, assigned to atarijookie

[2016-12-18 22:55] atarijookie commented on #116
As mentioned - update through linux console ce_conf or web console ce_conf wasn't nice, so now it's disabled in master.

[2016-12-18 22:55] #116 closed, assigned to atarijookie

[2016-12-18 23:01] atarijookie opened #119 "Some keys in linux ce_conf act like Esc when they shouldn't"
This shouldn't happen on CE_CONF.TOS and also doesn't happen on CE_CONF through web console. Happens under linux when using /ce/ce_conf.sh, and to reproduce it, you can do the following:
- go to some edit line, e.g. shared -> username
- delete chars using delete key
- press '0' (to write zero) and instead of writing 0 it jumps back to main menu.

This is due to retarded way of reading and decoding

[2016-12-19 13:54] miniupnp commented on #113
ok. I'm away for vacation, I'll work on this next week ;)

[2016-12-20 02:58] atarijookie opened #120 "Status report shows SD card ID as 'Translated boot Image'"
I got CE_DD as ACSI 1, SD as ACSI 2.

The status report (through web interface) shows:
ID 1	Translated boot Image : TRANSLATED BOOT MEDIA (READ-ONLY)
ID 2	Translated boot Image : TRANSLATED BOOT MEDIA (READ-ONLY)

The ID 2 should be 'SD Card' instead. Is this related to attaching of media to IDs? @miniupnp ?

[2016-12-20 04:31] atarijookie commented on #106
readme.txt modified, closing. Thank you for help and the readme.txt :+1:

[2016-12-20 04:31] #106 closed, assigned to nobody

[2016-12-20 04:31] atarijookie commented on #103
Test renamed to .TOS, closing issue.

[2016-12-20 04:54] atarijookie commented on #91
Under almost 100% load (using 'yes') the write / verify test didn't show any signs of damaged data, so the heavy load of RPi doesn't seem to affect the SD card operations reliability. Closing.

[2016-12-20 04:54] #91 closed, assigned to atarijookie

[2016-12-20 05:53] atarijookie commented on #100
New firmware with extended timeout released, waiting for user response...
Info page about the issue and test written:
[http://joo.kie.sk/?page_id=778](http://joo.kie.sk/?page_id=778)

[2016-12-23 04:31] atarijookie opened #121 "When device is idle on Raspbian, LEDs do crazy flashing"
1. Boot device on Raspbian
2. len ST boot (no idea if it's realated, but saw it in this state)
3. don't do anything
4. after like 5 minutes ACSI and FDD LEDs on CE started some crazy flashing for 3 seconds or so
5. was fine for next 2 minutes
6. some more crazy flashing for 3 seconds

This indicates that something weird is happening there, need to investigate.

[2016-12-25 10:11] mikrosk commented on #103
OK, after a while I'm back to the CE, too. :) I've noticed that some other apps are .PRGs even if they don't need to be -- CE_FDD.PRG and CE_MOUNT.PRG (they do seem to hide mouse but then again, it's unnecessary, they should be .TOS).

Also, CE_FDD.PRG and CE_FDD.TTP are totally reduntant -- CE_FDD should be a .TTP to which if you don't  supply any arguments would run the "UI", otherwise mount.

[2016-12-26 09:28] miniupnp commented on #103
I don't agree fully. The average user would be confused when asked for arguments after double clicking on the .TTP, so having the .PRG for UI and .TTP for command line only is better in my opinion

[2016-12-26 10:14] miniupnp commented on #117
some work ;)
Anyway we should advice user to use the mount tool

[2016-12-26 13:07] miniupnp commented on #113
I'm starting to work on this.
What is fdd_test.st ?

[2016-12-26 13:50] mikrosk commented on #103
@miniupnp: well, that's a matter of personal taste. for instance, I, as an Atari veteran, know that .TTP can run also without parameters (as many unix tools do), at least as the last resort I'd always try to run it to see what parameters it accepts. :) But I'm not saying everyone shares this attitude, sure. I just didn't like two binaries for the same task.

[2016-12-26 14:26] miniupnp commented on #113
check my `update_package` branch. just "make update" to build the app.zip file !
it supposes the atari progs have been build previously (make atari_progs)
and the cosmosex_* RPi apps too

only thing to fix is fdd_test.st.

[2016-12-26 14:52] miniupnp commented on #113
@atarijookie also tell me how to make package for release ;)

[2016-12-26 20:40] atarijookie commented on #113
This is how it is generated - it was used on the first start of new ce_main_app. It's a simple image which is used for floppy testing, when using tests/ce_tstfd,tos
https://github.com/atarijookie/ce-atari/blob/master/ce_main_app/update.cpp#L513-L548

I'm not sure what you mean by that one - making that app.zip is all that is needed, then I just upload it to web (through ftp), update version and ch

[2016-12-26 20:42] atarijookie commented on #117
I'll do that some work when I'm back at my regular job after holidays.

Adding the advice to use the mount tool to the config screen is also a good idea... :+1:

[2016-12-26 22:03] miniupnp commented on #113
I suppose you are building  cosmosex_* on real devices. I'm copying them from ce_main_app/ directory, it is easy to change that part to suit your needs.
It would be great to have cross compiling toolchain so everything is built with a single make command but that's a bigger thing :)

about the fdd_test.st, I have gzipped it and I think that is ok for now :)
I was wondering : isn't there some issue

[2016-12-26 22:08] miniupnp commented on #113
@atarijookie I have rebased my branch [update_package](https://github.com/miniupnp/ce-atari/tree/update_package) so it will be easier for you to merge once you tested it

[2016-12-26 22:44] atarijookie commented on #113
Yes, and ok.

Yes, it would, but even mr. crosscompile (MiKRO) didn't get this running as far as I know.

Usually no, because almost no one is using it, and when you use it, you can load it during the test, so you won't let TOS try to boot from it and cause trouble.

If it doesn't break the old way of doing things (manual make of ce_main_app, manual make of ST apps), then I suggest that you just m

[2016-12-26 23:02] atarijookie opened #123 "Raspbian network settings issues"
1) On start there's an unlimited wait for network:

To fix this, according to:
http://unix.stackexchange.com/questions/186162/how-to-change-timeout-in-systemctl

- append in this file:
/lib/systemd/system/networking.service.d/network-pre.conf
this:
[Service]
TimeoutStartSec=15

...also (the end of that thread says) - it tries to connect to wlan, so instead of:
auto wlan0
use:
allow-hotplug wlan0

[2016-12-26 23:21] miniupnp commented on #113
The only thing I "broke" is I removed the files from git in ce_main_app/configfile

[2016-12-26 23:28] atarijookie commented on #123
2) setting hostname on Raspbian:
/etc/hostname -- ce_raspbian
/etc/hosts -- 127.0.0.1 ce_raspbian
/etc/network/interfaces -- hostname CosmosEx

[2016-12-26 23:37] atarijookie commented on #123
3. switching between dhcp and static results in weird network settings?
- empty network dns / gateway results in broken ce_conf stream - edit line
- when saving network, it doesn't check if the gateway is empty, doesn't warn, writes empty line to /etc/network/interfaces

[2016-12-27 00:08] atarijookie commented on #113
Then you didn't break anything, and please just merge it :)

[2016-12-27 00:15] miniupnp commented on #45
why not inserting the ce_conf.st image at boot ?
it is possible to add a status file in it.

[2016-12-27 00:25] miniupnp commented on #94
I'm building FFmpeg 3.2.2 on my Yocto CE, I'm pretty confident it will be about 10 or 15MB max

[2016-12-27 00:30] miniupnp commented on #113
done.
I'm closing. @mikrosk can re-open once cross-compiling for RPi is available ;)

[2016-12-27 00:43] miniupnp commented on #120
hum I should have a look.

[2016-12-27 01:39] atarijookie commented on #94
Wow... Then we just need to upload the binary to the server and create a simple script, which would user need to run to download the thing...

[2016-12-27 01:50] atarijookie commented on #123
All hopefully fixed in master, still leaving this open until user(s) verify that it's better / good now.

[2016-12-27 09:10] miniupnp commented on #94
here it is.
I need someone with a Raspbian RPi ( @tin-nl  ? @mikrosk ? ) to build the binary package. Just "make" and wait.

Also anyone with Yocto can test the install_ffmpeg.sh script. (Raspbian is detected but the package is not available yet)

[2016-12-27 13:21] atarijookie commented on #94
@miniupnp Would be ffmpeg 3.0.git enough? It's already included in the Raspbian image - I've built it like 2 months ago so it would be already there :)

[2016-12-27 13:26] miniupnp commented on #94
hum I don't remember when my patch was integrated uptream. somewhere in 3.0.x
So better test my build script :)

[2016-12-27 14:37] miniupnp commented on #120
I had the same issue, but if I kill prog and relaunch, it works...

[2016-12-27 15:28] atarijookie commented on #94
using your script, which made it easy :+1:
https://www.dropbox.com/s/scg3crlcmb5udox/ffmpeg-3.2.2-raspbian-bin.tar.bz2?dl=0

[2016-12-27 16:31] miniupnp opened #124 "Hans not updating"
I've tried to update several times, both from web interface or from ce_conf.tos, but Hans is still "2016-01-08"

![hans_not_updated](https://cloud.githubusercontent.com/assets/1070377/21503790/1990289c-cc5a-11e6-8658-e8a81f54bb6f.png)

how to update hans manually ?

[2016-12-27 16:43] miniupnp commented on #120
the patch 354171c fixes it for me. Is that OK for you ?

[2016-12-27 17:18] atarijookie commented on #124
Rewrite everythin, even which is up to date:
/ce/ce_updatr.sh

Update only hans:
cd /tmp
wget http://joo.kie.sk/cosmosex/update/ce_update.zip
/ce/update/update_hans.sh
On 27 Dec 2016 17:31, "Thomas BERNARD" <notifications@github.com> wrote:

[2016-12-27 17:21] miniupnp commented on #124
[code]

[2016-12-27 17:27] atarijookie commented on #124
Silly question: did you press the update button? Because that main app
version shouldn't let you do the update through web and show warning
instead...
On 27 Dec 2016 18:18, "Miro Nohaj" <mironohaj@gmail.com> wrote:

[2016-12-27 17:35] atarijookie commented on #124
Now that looks bad... More questions:
- can you verify that the cosmosex app is terminated before running the update_hans.sh ? There was an error few days ago that caused that cosmosex app wasn't killed when the /ce/ce_stop.sh was called on Yocto.
- you can retry the same by modifying the update_hans.sh to specify lower baud rate than 57600 when writing the firmware using flash_stm32
- you could a

[2016-12-27 17:36] miniupnp commented on #124
On 12/27/16 18:27, Miroslav Nohaj wrote:

well indeed I tried with the web interface with no success, so I tried
from CE_CONF.TOS
it did upgrade the main app, passed some time for Hans but...

I've tried to run a couple of time /ce/update/update_hans.sh
it fails at various stages :

Wrote address 0x08002c00 (46.89%) Error sending command 0x31 to device
Failed to write memory at address 0x08002c00

[2016-12-27 17:39] miniupnp commented on #124
that was the issue. I killed cosmosex it is ok now :)
just checking it is really updated

[2016-12-27 17:53] miniupnp commented on #124
It's ok now.
But we don't know why it didn't worked in the first place

[2016-12-27 17:59] miniupnp commented on #94
So I'm merging.
the ffmpeg update script should be integrated into the upgrade process somehow...

[2016-12-27 18:00] atarijookie commented on #124
Because coSmosex was blocking gpio and uart when it was running during the
flash update? :)
On 27 Dec 2016 18:53, "Thomas BERNARD" <notifications@github.com> wrote:

[2016-12-27 18:01] miniupnp commented on #124
so that's a bug, because I thought ce main app should stop during update of hans.

[2016-12-27 18:18] atarijookie commented on #124
Well, yes, I wrote that a while ago:
- the ce_stop.sh script on yocto badly detected that the cosmosex wasn't
running even if it was running - I had there:
grep -v cosmosex
Instead of:
grep -v grep

- now it's fixed and your newer ce_stop.sh should have it - in case you
installed the latest main app through normal update, which extracts the new
scripts to /ce/app/shellscripts and then copies them

[2016-12-27 18:19] miniupnp commented on #124
OK should have been something like that.

[2016-12-27 18:19] #124 closed, assigned to nobody

[2016-12-29 11:12] atarijookie commented on #121
It took more than a minute to synchronize main app with Hans:
[code]

[2016-12-29 11:20] atarijookie commented on #94
install script added to instalation - has to be triggered manually by user from shell... however there's a small mistake there on Raspbian:
[code]

[2016-12-29 11:28] miniupnp commented on #94
fixed ;)

[2016-12-29 11:56] atarijookie commented on #94
Wow, you're fast as a lightning :) I didn't expect differences in shell between yocto and raspbian, but there seems to be more things hidden than I expected... Anyway, good job! :+1:

What about the ST / STE playback app? Is the ST support already done, or should we ask someone for help with the non-STE playback?

[2016-12-29 11:59] miniupnp commented on #94
As said before the sound is awful but I will release something so there is a basis to work

[2016-12-29 14:10] atarijookie opened #125 "CE_TSTHD - test from Hans - doesn't work through SCSI"
The mentioned test works fine with ACSI, doesn't work with SCSI on Falcon - seems to work fine on TT SCSI. WIll look into it.