[2016-12-29 14:12] atarijookie commented on #99
Related to #121 - the RPi failed to sync with Hans, resulted in non-booting.

[2016-12-29 22:08] atarijookie opened #126 "On TT SCSI either boots CE_DD or HDDRIVER"
1. Switch to SCSI interface
2. configure SCSI 1 as CE_DD, SCSI 2 as SD
3. reset TT, and you see either CE_DD loading and not HDDRIVER, or...
4. reset TT, hold alt to skip CE_DD, you see HDDRIVER loading

When doing random tests using CE_TSTHD, I saw once a '_' from SD - the first test, then rest was fine.

[2016-12-29 22:10] atarijookie commented on #96
Seems to be better after the last few improvements, and by forcing user to fill in DNS and gateway...

[2016-12-29 22:10] #96 closed, assigned to nobody

[2016-12-29 22:31] atarijookie commented on #100
Add new type of test - do alternating read / write from different SCSI IDs - CE RPi vs CE SD, and alternating read write from CE RPi vs GEMDOS partition (e.g. using HDDRIVER).

[2016-12-30 03:29] mikrosk opened #127 "Doing squash merges instead of merge commits"
Not really an issue, just curious -- how everybody feels about this? Because I've finally found some time to catch up and boom, I see 150 commits behind my master. Looking into log I see it's because every PR had quite a lot of commits (which is fine, of course) but master should IMHO contain only one single squash merge so I see all right, this and this has been merged. I don't need to see that T

[2016-12-30 03:54] mikrosk commented on #96
I'm a little bit confused -- so should I expect the gateway value to be set or not? Right now, I have DHCP and I see IP and Mask but not Gateway.

[2016-12-30 07:47] atarijookie commented on #96
If you're using DHCP, it won't force you to fill those on save - no confusion.
If you're using static settings, it will force you to fill those on save - still no confusion.
If you're using DHCP, IP address is there shown for info purpose, so don't be confused here either ;)

[2016-12-30 07:52] mikrosk commented on #96
;) If it already shows the IP and Mask, what prevents us to show the gateway as well? I know it's only for information purpose, I just feel sorry for the empty field ;) and sometimes it may come in handy.

[2016-12-30 07:56] mikrosk opened #128 "Cursor blinking speed"
OK, this one will look like I have nothing better to do then to open useless issues ;) but I've been wondering whether it isn't something easy to fix -- right now, if you look at a text field with cursor inside you'll notice that it has a periodic "heart beat" which is however broken every time the refresh cycle kicks in (you can literally see it "reset" to the - \ | / - changes).

This happens de

[2016-12-30 09:55] miniupnp commented on #127
I personally prefer "rebase & merge" ;)

[2016-12-30 14:57] mikrosk opened #129 "IKBD isn't initialised correctly by default"
While trying to solve the strange problem in #73 (fire button doesn't work when implemented true ST keycode handling) I finally found it -- IKBD isn't set in good initial state -- joy1 ignores fire events while joy0 seems to be set in some kind of mouse mode (i.e. when I move joy0, I see mouse cursor moving). If I initialise the IKBD with:

[code]

i.e. setting joysticks in event reporting mode, m

[2016-12-30 15:13] mikrosk commented on #129
Oh s**t, this will be something subtler -- I see there's `resetInternalIkbdVars` which set correct mode and everything and yet it doesn't work.

[2016-12-30 16:19] atarijookie commented on #129
This will be in raspberry pi code - ce_main_app/ikbd - there is no ST side of this IKBD emulation.
We should finish the IKBD test on real ST (to fully describe the good behavior), then fix the CosmosEx IKBD emulation. If you find my IKBD code overcomplicated, you could at least help me with finishing that IKBD test, as you're much better in ST programming than me, might be easier for you, and I -

[2016-12-30 16:21] atarijookie commented on #128
This is due to the added hearth beat char in the config stream, it needs redrawing each second, and that makes the cursor blink. If you don't like the blinking (and I guess it causes linux ce_conf to flash the whole screen), then I can remove it - I thought it would be a good idea to let the user know that the thing is alive, but if the blinking / flickering is such annoyance, I will remove it.

[2016-12-30 16:23] atarijookie commented on #127
I don't care much about this, I use the big green button 'Merge pull request' on github web...

[2016-12-30 16:46] miniupnp commented on #127
@atarijookie there is small drop down option with 3 styles of "Merge pull requests"
it matters for how the git history is

[2016-12-30 16:57] miniupnp commented on #58
@atarijookie if there is no existing "network speed test" application, I could add a speed test to tst_stng.tos. What do you think ?

[2016-12-30 17:20] atarijookie commented on #58
Sure, that sounds good.. :+1:

[2016-12-31 00:34] mikrosk commented on #129
Well, at least in this case it seems CE code working, that's the problem. It seems ikbd state is somehow different frpm its initial state found in the st after reset.

[2016-12-31 00:37] mikrosk commented on #128
I agree, the alive char is sweet. Isnt possible to sync blinking to that? Or its standard tos functionality and you can't control it?

[2016-12-31 06:08] atarijookie commented on #128
Well, I don't know how to detect when the cursor blinks off and on, so I can't sync to that... There could be a guess (measurement) to do it at the same time as TOS does, but it still might be out of sync...

[2016-12-31 08:27] mikrosk commented on #129
OK, I've got it. All I needed to do was to actually read the log. ;) When booting the ST:

[code]

This is a reset command, sir! So CE just stares into the wall, minding its own business instead of sending reset to the IKBD!

[2016-12-31 10:10] mikrosk commented on #129
Also, another bug (?): I don't understand how the condition

`ceIkbdMode != CE_IKBDMODE_SOLO`

can return false during the first (sometimes even second) boot but then all the further restarts (resets) returns true. This leads to another bug and that is that we don't send "0xF0" as an OK but see above, I don't think we should send it at all, it's a real mystery to me why the IKBD doesn't answer wit

[2016-12-31 13:10] atarijookie commented on #129
You know, those IKBD tests would help us to detect these issues - in injection mode, and in solo mode ;)

[2016-12-31 13:12] atarijookie commented on #127
Sooo, do we want to switch it to the other style, or we just leave it as is? I don't care about this merge style, so the vote should be between miniupnp, mikro and tin (who is probably on some vacation as he isn't responding for a longer time :) )

[2016-12-31 14:44] miniupnp commented on #127
So @mikrosk  votes for squash merges, @miniupnp for rebase, @tin-nl has the preponderant vote ;)

[2017-01-01 00:46] mikrosk commented on #129
Right now I'd really just want to see my code working. ;) So is it a bug? Should `ceIkbdMode` be `CE_IKBDMODE_INJECT` all the time? If so, we need to fix the test as `CE_IKBDMODE_INJECT` is set only if we receive something from the injector. Isn't possible to detect this programatically somehow?

[2017-01-01 00:49] mikrosk commented on #127
Yeah, I'd say unless @tin-nl returns, democracy isn't going to help us here. ;) It's not a big issue -- I just like more compact, feature based, logs, that's all.

[2017-01-01 04:37] mikrosk commented on #129
(removed previous, misleading, comments)

OK, I'm an idiot. Obviously, I've relied on the docs too much, not realising that the TOS does some changes by itself -- so while the powerup (default) state might be with joystick event reporting on, after setting relative mouse reporting this is no longer the case.

Btw it's interesting that IKBD returns 0xf**1** after the reset/powerup instead of 0xf**0

[2017-01-01 04:37] #129 closed, assigned to nobody

[2017-01-01 04:42] mikrosk commented on #129
Just for the record, the IKBD defaults to:
- a mouse position reporting with threshold of 1 unit in either axis
- the Y=0 origin at the top of the screen
- joystick event reporting mode for joystick 1, with both buttons being logically assigned to the mouse
- after any joystick command, the ikbd assumes that joysticks are connected to both Joystick0 and Joystick1
- any mouse command (except MOUSE

[2017-01-01 09:08] mikrosk opened #130 "Shouldn't CE disable mouse in joystick mode?"
During my investigation in #129 I've found out an interesting bug/feature -- if the user instructs the IKBD to be in Joystick event reporting mode, both (ikbd) joysticks do what they are supposed to do, i.e. reporting fire/direction changes.

However, if usb mouse is connected, we feed the ST with mouse packets. This is of course cool in the desktop because it allows the cursor to move no matter w

[2017-01-01 11:07] atarijookie commented on #130
I think that the IKBD tests would map the original behavior and show exactly what everything is wrong with CE IKDB emulation :) It sounds silly to write this in every IKBD issue you open, but that is the way to go - instead of guessing what is right, what is wrong and what CE does, this would tell us exactly... This way you will open another 30 IKBD issues, which we might not be able to directly r

[2017-01-01 11:13] mikrosk commented on #130
Eh, how exactly would you plan to write a test for having joy0 and mouse connected in the same time? This is 100% CE related issue.

[2017-01-01 12:15] mikrosk opened #131 "Grid Runner reverse direction on USB"
Just to note it for myself since @atarijookie failed to create it months ago. ;)

_When playing Grid Runner (which is a mouse based game) the mouse axis is off while using a USB mouse. The left and right is fine, but the up and down is reversed._

[2017-01-02 01:56] atarijookie commented on #121
When I run the continous RPi data validity check, it alters in the patter of:
*****************__*****************__*****************__*****************__
When I look at the SPI clock, then:
- when it's good, it's around 16 MHz (speed field=7; 250/(2*(speed_field+1)) = 250/(2*(7+1)) = 15,625 MHz)
- when it fails, it's around 26 MHz (speed field=4; 250/(2*(speed_field+1)) = 250/(2*(4+1)) = 25 MHz)

[2017-01-02 02:07] atarijookie commented on #121
[code]

[code]

[code]

The CPU clock is sometimes different:
[code]

[2017-01-02 02:33] atarijookie commented on #121
spi module (seen in lsmod) and /dev/spidev0* are not needed to run CE main app - even when the spi module is removed (modprobe -r spi_bcm2385), the app works fine after restart (it probably does direct hw accesss).

Removed i2c, i2c, spi, audio from /boot/config, but the issue still appears...

[code]

[2017-01-02 04:58] mikrosk commented on #7
Having played with my STE and IKBD for tens of hours I can't say I am able to reproduce it. RESET is handled correctly and 'R' is definitely not interpreted as PAUSE. Candidate for close?

[2017-01-02 05:00] mikrosk commented on #7
@tin-nl :

$F1 is an answer to $80, $01 sequence. I.e. the ST sends RESET ($80, $01) and the IKBD replies with $f1 (OK, version number 1). However, power up is also considered a RESET, therefore you get $f1 even without $80, $01 sent first.

[2017-01-02 05:02] mikrosk commented on #75
I also don't follow why this is necessary. I'd close as "wont fix". ;)

[2017-01-02 06:45] atarijookie commented on #121
System clock freq = 250 MHz

[code]

[http://elinux.org/RPiconfig#Overclocking](http://elinux.org/RPiconfig#Overclocking)

[https://github.com/raspberrypi/linux/issues/974](https://github.com/raspberrypi/linux/issues/974)

[https://www.raspberrypi.org/forums/viewtopic.php?f=91&t=161252](https://www.raspberrypi.org/forums/viewtopic.php?f=91&t=161252)

[http://raspberrypi.stackexchange.com/questions

[2017-01-02 07:36] mikrosk opened #132 "Make IKBD TX line pass trough before CE is fully operational"
I think we've discussed it in some thread but can't find it between issues -- the symptoms are easy to spot, you boot CE and can't even press CTRL+ALT+DEL until you press the reset button for 2nd boot.

[2017-01-02 08:46] tin-nl commented on #127
Do we have a (managable) way to not lose history due to squash merging? I mean, it probably won't hurt to squash bigger feature branches, but it is information loss after all.

[2017-01-02 08:50] mikrosk commented on #127
Unless you keep your own feature branch then no, it's not possible. If we don't count the automatic list of commits which github puts into default commit message.

[2017-01-02 08:50] tin-nl commented on #126
I saw sth similar with ACSI last month IIRC. I debugged the Bootsector in Hatari (with a simple ce_dd ACSI image and a normal one) but it seemed to be correct. Couldn't reproduce it on real HW, so I dropped it.
Can have a look on TT if I can reproduce your findings in the next days.

[2017-01-02 08:57] tin-nl commented on #75
I just contacted Adam to shed light on his requests background.

[2017-01-02 09:01] tin-nl commented on #7
@mikrosk: Thanks for the clarification, I was under the impression TOS sends a $8001 at boot.

Do you have a V1 (first version with wrong resisitor)? I don't think this happens with V2, but have to retest.

[2017-01-02 09:09] tin-nl commented on #7
Just checked the TOS source - I rememberred correctly, it does send $8001 right before cartridge execution. It should have showed up in the log, hence my surprise.

[2017-01-02 09:10] mikrosk commented on #7
It does -- only for the first time (power cycle) it is no needed. So you see $F1 twice -- power up and reset from TOS. And yes, it does show up in the logs. :)

Surely V2. That "V1" I mentioned is related to IKBD protocol version number (interestingly, the IKBD manual mentions it should be 0xF0, therefore it's really a revised version).

[2017-01-02 09:13] tin-nl commented on #7
@mikrosk: Then I probably snipped that, don't remember :)

Then I'll recheck with V1 (yocto) and V2 (raspbian). Until then I tag this V1 hardware so we don't get confused.

[2017-01-02 09:15] tin-nl commented on #7
AFAIR there is only one IKBD ROM version known. Would be interresting to see revision 0 :)

[2017-01-02 09:21] tin-nl commented on #94
@miniupnp: Do you still need this test?

[2017-01-02 09:25] tin-nl commented on #94
@miniupnp: Did meddle alot with digi replay back in the days - I can have a look if you want (and I remember anything). But the ST digisound quality is quite awfull unless you use literally all available CPU time.

[2017-01-02 09:34] AdamKlob commented on #75
My problem is that keyclick sound is sooo 1985 ;) CosmosEx takes Ataris into XXI century, so, plesae add possibility to kill this annoying 1985 behavior :)

[2017-01-02 09:39] mikrosk commented on #75
Even if there's like zillions of ACCs which do exactly that, incl. the official one from Atari?

[2017-01-02 09:41] tin-nl commented on #127
Yeah, that's why I normally advise teams to merge, not squash. _But_ that also means that I don't have a lot of real-world experience with squash (and mostly bad ones with information loss).

How would we handle e.g. this simple branch with some different refactor attempts: https://github.com/atarijookie/ce-atari/commits/screencast_res

Sorry to complicate this, I'm just curious.

[2017-01-02 10:05] mikrosk commented on #127
You mean like re-doing the same merge operation from a branch which contains some additional changes? This shouldn't be a problem as git would try to apply each change again, realising that it's already there and only applying the new stuff.

[2017-01-02 10:24] tin-nl commented on #127
@mikrosk: No, just meant as an example of several features/refactors that would become just one commit. I simply would miss the "train of thought" or the path the developer walked w/o having those commits. Didn't you ever miss this information in your experience? I know it's a sensitive topic per se (aka tabs vs spaces), just curious.

@all: Regarding the decision: oh, the pressure :) I think we c

[2017-01-02 10:32] mikrosk commented on #127
@tin-nl: honestly, not really. Of course my dev branch(es) are mess, a lot of amends, even history rewrites but as soon as I settle on some final state and send patch to a mailing list (or make a PR), I rarely need to fully understand what steps I took.

I've been thinking that maybe we could actually do this by ourselves -- if I feel this PR's history is complete rubbish, I indicate I'd recommend

[2017-01-02 11:40] miniupnp commented on #127
I'll go into rebasing/squashing my branches before merging ;)

[2017-01-02 11:41] AdamKlob commented on #75
Even so. It is annoying. It has to die :)

Rationale: all that ACCs take valuable memory. One move.w in CosmosEx boot-up code is way better IMO

[2017-01-02 11:46] miniupnp commented on #94
@tin-nl ok so the quality would be bad anyway
If ffmpeg is installed to your CosmosEx (which should be the case thanks to the last upgrade) you can test ;)
https://github.com/atarijookie/ce-atari/blob/master/ce_main_app/mediastreaming/mediastreaming_commands.h

[2017-01-02 11:46] miniupnp commented on #94
CE "media streaming" commands are sending 8bit signed PCM

[2017-01-02 11:50] miniupnp commented on #75
but CE_DD will take more memory.. and then someone will ask for CE_DD setting a custom color palette, etc.
just add a .PRG to your auto-folder that turn off keyclick

[2017-01-02 11:50] mikrosk commented on #75
Try to look at it this way: if you asked Uwe Seimet to implement it in HD Driver, what would be his answer? ;-) I remember asking him to store NVRAM state for broken Falcons and he said to me that even he would be pleased with that feature (as he has a broken NVRAM in his Falcon) but it doesn't belong to a hd driver, so his answer was no. :-P

[2017-01-02 12:06] AdamKlob commented on #75
Well, I asked Didier to do the same (NVRAM fix) for CT60 TOS, and he did it. You can draw your inspiration from there :D

[2017-01-02 15:45] ggnkua commented on #75
Please don't turn it off - I loves the ST keyclick!

And I'm willing to be that lots of people will say that too. So then it has to be a configuration option, which means more code than just a move.b. Where's your logic now? :P

[2017-01-02 15:51] AdamKlob commented on #75
I don't ask to turn it ofr for everybody - just add an option for the people that want is - mr, myself and I :).

Configuration option only in UI, CE_DD could be generated with or without it. Modular bootsector :)

[2017-01-02 15:54] ggnkua commented on #75
So why don't you grab the source and compile a custom version then?

[2017-01-02 16:18] AdamKlob commented on #75
I'd prefer to have it mainlined so I do not have to compile my own binaries every time an update comes out. Also, I have a feeling, some other users may benefit.

[2017-01-02 16:23] ggnkua commented on #75
And I also have a feeling others will moan that it's bloat, like other people suggested before me...

[2017-01-02 16:25] AdamKlob commented on #75
You can have some bloat from time to time. For me CosmosEx is all about features, power wihtout price and bloat :P

[2017-01-02 16:30] ggnkua commented on #75
Yeah, so let's stick the mint kernel in there, since it's all about powa!!!111oneoneone

[2017-01-02 18:51] miniupnp commented on #75
@AdamKlob I'm not absolutely opposed to this kind of feature, but we have so much more important to do before. So just fork the github repository, do it the right way, (you're right, the ce main app can patch the boot sector before sending it to the ST) and we'll be happy to merge (or squash ;)

[2017-01-02 19:45] tin-nl commented on #75
Wow, turned my back for only five minutes and now I seem to have missed a whole party :)
@AdamKlob: I also think this isn't well suited for ce_dd or it's bootloader. **But** implementing an extensible third (or 1.5th) bootsector that loads and runs special PRGs the user could add, well _that_ would be nice. That way no patching is needed, and other features can be added w/o adding bloat to ce_dd (

[2017-01-02 19:53] tin-nl commented on #34
@miniupnp: are you working on sth here? I am about to start with an ASM debug print layer which can be included and can be used as an API. We could coordinate, if you like :) Or you can have all the fun on your own, your call ;-)

[2017-01-02 20:25] miniupnp commented on #34
@tin-nl : yes I'm starting something. CEDD cookie
I'm telling you as soon as I push a branch

[2017-01-02 22:11] mikrosk commented on #34
hey, reading through this thread has been quite useful, I had no idea we have a way to print something from an ST app (`st_print`) ! However I can't find it anywhere in the code?

[2017-01-02 22:48] mikrosk commented on #75
IMO, this is an overkill, esp. because we have AUTO. I can imagine then a more robust solution, let's allow the user to _write_ to boot drive, with his own AUTO, DESKTOP.INF, default ACCs etc. Again, I look at it from my perspective, I don't use any raw disk, only shared drive and rarely usb stick.

[2017-01-03 00:31] atarijookie commented on #121
OK, this shows the issue:
[code]

When idle, the core clock is 250 MHz, when under load, the core clock is 400 MHz, which is 1.6 of idle core speed. And that results into 15,625  MHz SPI clock when idle, and 25 MHz SPI clock when under load.

[code]

Now, when I force the gorvernor to powersave, it forces the thing to run on minimal frequency all the time - 250 MHz core, 600 MHz rest of the chip.

[2017-01-03 03:28] atarijookie commented on #121
OK, I decided to force core frequency to 250 MHz in /boot/config.txt. Will do a release and wait for user feedback on data transfer issues being resolved (or not).

[2017-01-03 04:17] atarijookie commented on #132
I have this in TODO, but it won't work on older CE without HW modification - you will have to replace one resistor with DS1818 chip to get this functionality. The new CE HW will have this minor tweak done.

[2017-01-03 04:19] atarijookie commented on #123
OK, so the user said it's better, although complaining now that he's forced to set DNS and gateway when using static IP ;) Closing.
(note: for that to be not-forcing again, maybe will have to skip saving empty DNS and empty gateway, because ifup complains on Raspbian about these two being empty and thus not bringing the interfaces up).

[2017-01-03 04:19] #123 closed, assigned to atarijookie

[2017-01-03 04:21] atarijookie commented on #99
Sync issues related to core_freq changing by cpu governor on RPI 3. I guess this issue is just a duplicate of #121, while observing other effects of it being broken, so closing and possibly will continue in #121 (or close that one if everything seems fine later).

[2017-01-03 04:21] #99 closed, assigned to nobody

[2017-01-03 04:23] atarijookie commented on #75
OK, closing this as it's a wontfix now... If anyone (nudge nudge, wink wink) does this later, we can merge it as suggested.

[2017-01-03 04:23] #75 closed, assigned to nobody

[2017-01-03 05:05] mikrosk commented on #132
Wouldn't be possible to solve this, at least partially, by running an executable very soon during the boot process? You know, statically linked, just forwarding the packets before any systemd crap is handled. As soon `cosmosex` is about to execute, we kill the binary and start CE.

[2017-01-03 10:55] mikrosk commented on #119
This is not reproducible on my setup at all. Can you still reproduce?

BTW I'm asking also because I'm redoing the retarded way in a slightly less retarded way so I'm wondering whether you will be able to confirm it is an improvement in general, not only for #73.

[2017-01-03 11:30] tin-nl commented on #34
@mikrosk: it's handled by the "st_log_print" command.

[2017-01-03 11:45] mikrosk commented on #34
@tin-nl: is the spelling right? I can't find any mention of st_log_print in the whole source tree. :-P

[2017-01-03 11:57] tin-nl commented on #34
@mikrosk: err,sorry shouldn't post on the go. It's st_log_text

[2017-01-03 12:20] atarijookie commented on #132
tIn had such idea and started to experiment with something similar for the hard drive functionality.
It's a cut down version of ce_main_app, currently handles only Hans, Franz would have to be added from the ce_main_app, but it's a good start :)
[https://github.com/atarijookie/ce-atari/tree/master/ce_preinit](https://github.com/atarijookie/ce-atari/tree/master/ce_preinit)

Btw., how long does it t

[2017-01-03 12:36] mikrosk commented on #132
That sounds pretty amazing! For me the boot takes more or less 15 seconds.

[2017-01-03 15:19] atarijookie commented on #127
Sooo, can we close this? :)

[2017-01-03 18:13] tin-nl commented on #127
Yup, @mikrosk proposal to request either merge or squash in the pull request depending on how much the history is "worth" is the way to go, I think.

[2017-01-03 18:30] #127 closed, assigned to nobody

[2017-01-03 18:32] atarijookie commented on #121
Two users reported that now it's good with Raspbian and RPi3, so closing as resolved.

[2017-01-03 18:32] #121 closed, assigned to nobody

[2017-01-03 18:33] atarijookie commented on #98
Added a warning there, won't solve this for now, closing.

[2017-01-03 18:33] #98 closed, assigned to nobody

[2017-01-05 03:04] atarijookie commented on #100
So user reports that it's better for smaller files, but on even larger files (9 MB) it begins to fail once again. The only good thing there is that the read/write error count from Hans keeps getting incremented, so at least we know that Hans knows that the operation failed.

Currently recommended to try other SD cards which might behave better, or use translated drive for large data.

[2017-01-07 01:00] atarijookie commented on #81
As mentioned month and half ago: Updated imagelist.csv on server to point to exxoshost.co.uk
May god repay Exxos for that ;) ('Pan boh zaplat' in Slovak language)

The ZIPed images moved from downloader to floppyImageFactory, so now ZIPed floppy images are supported through CE_FDD.PRG and also through web floppy interface :) Tested on Raspbian, closing.

[2017-01-07 01:00] #81 closed, assigned to atarijookie

[2017-01-07 20:57] atarijookie opened #133 "NEWDESK.INF not loaded on TT, because setting boot drive causes crash"
ccarl84 wrote:
Another thing bizarre, but this may be from the beginning: on the MSTE when I click on a floppy image, it automatically mounts. When I do this on the TT, it considers the image as a read-only file. I have to mount the image by the program for the floppy disks.

[2017-01-08 09:53] atarijookie opened #134 "Block USB keyboard in linux"
I swear to flying spaghetti monster that I've created this one, but I can't find it. If it's here somewhere, we can link them and close this one.

When using USB keyboard through CE, the input not only goes to ST, but also to linux console on RPi, which is auto-logged in in Raspbian.

Things to do:
1) disable auto login, so user won't be logged in automatically (seen through HDMI)
2) disable linux

[2017-01-08 12:07] mikrosk commented on #134
If Linux ce_conf works the same way the Atari version does (i.e. sending 'alive' pings to the CE), you'll get this for free in #73. I have it implemented since a couple of weeks ago.

[2017-01-08 12:09] mikrosk commented on #134
But I'm not sure what are you trying to prevent? So if I have a text editor open on Atari and I run CE_CONF in Linux, you don't want to see moving down in the text editor if I'm moving down in the menu?

[2017-01-08 14:12] atarijookie commented on #134
Currently:
Open a text editor / e-mail editor / game, and you - for some magical reasons - want to write a readme.txt / some e-mail / your geek name containing 'rm -rf /' and bam - you just unknowingly deleted your RPi linux files, while you were typing something on Atari through USB keyboard. The same goes for 'shutdown', 'reboot' and so on.

New behavior:
Until you press the magical combination,

[2017-01-08 14:15] tin-nl commented on #94
@miniupnp: Finally came around to testing install_ffmpg.sh on an yocto device - download/depack works, but the binary needs libxcb-shm.so.

On raspbian it works out of the box, cool stuff :)

[2017-01-08 14:17] atarijookie commented on #134
PS: replying to this was difficult:
[https://www.youtube.com/watch?v=_TwCIxy1ExE](https://www.youtube.com/watch?v=_TwCIxy1ExE)

[2017-01-08 14:26] atarijookie commented on #94
Do we already have that Atari player for non-STE machines? I'm using my CE with STFM mostly, and I would like to try the playback, include the player in the next release and make a short video about it :) (or miniupnp can do it, if he wants to be the one who makes that video).

[2017-01-08 15:25] tin-nl commented on #134
Incidently I just observed a similar issue: I rebooted my CE during some tests by accident just by pressing CTRL-ALT-DEL via USB during boot :)
So if say, someone is waiting eagerly for CE to boot (*cough* @mikrosk *cough* ;-) ), he might reboot the CE while rebooting his ST via keyboard...

And: if ce_main is needed to activate console input via keyboard, troubleshooting a device might get proble

[2017-01-08 15:40] tin-nl commented on #94
Haven't seen ST replay in the CEMediaPlayer. Main problem there is probably the DMA hogging the bus at transfer time, resulting in delayed replay interrupts. This would have to be carefully timed to reduce jitter and also determines the max replay rate possible. But it's safe to say that 50kHz (although easily possible from RAM) won't work on a bog standard ST with 8MHz.

[2017-01-08 15:46] atarijookie commented on #134
Does that Raspbian / Yocto react to Ctrl-Alt-Del? I didn't know that :)

Only for the troubleshooting on TV + USB keyboard - the ssh to device shouldn't be affected. If ce_main would be running, then even switching the for linux on and off shouldn't be a problem, the only case would be a problem when the ce_main refuses to run for some reason (or keeps terminating, when HW doesn't respond).

[2017-01-08 15:49] atarijookie commented on #94
I wouldn't go up to 50 kHz anyway, I would just stick to 16 kHz, mono, 8 bits / sample - that one could work, right? :) I think people will accept that without HW playback the quality won't be the best.

[2017-01-08 16:49] tin-nl commented on #94
Should work, yes. But even for 16 kHz (which is roughly 1 sample per scanline in 50Hz) there's only a ~400cc window where the ACSI transfer has to occur to not delay anything. So it has to be timed carefully either way.

[2017-01-08 17:02] tin-nl commented on #134
Yeah, surprising news to me, too :) Yocto isn't affected by this.

Yeah, I know. But that's (HDMI/Kbd) exactly the thing that people w/o network or with borked up CE/network config might need to unbrick their device.
No idea for a better solution atm, though :/

[2017-01-08 22:18] mikrosk commented on #134
Hehe, this is a fascinating problem, had no idea at all. I use Atari keyboard for my IKBD stuff (with occasional testing for its USB counterpart but never for typing), wow.

Well, if you says that you're actually typing in _command line_, the problem lies elsewhere, not in CE_CONF. You must first disable autologin (as you say) plus you must somehow prevent even having login prompt at all. And fran

[2017-01-08 22:24] mikrosk commented on #134
After some thinking -- we need that autologin because of "F8" functionality (i.e. switching to bash from Atari's CE_CONF)? If so, this is perhaps fixable with asking for login/password instead of skipping directly to command line.

But about disabling login prompt after boot... no clue. We could perhaps autostart an app in the foreground (!) which would eat all input (which could be possible to te

[2017-01-08 23:28] miniupnp commented on #94
I have to check for this  libxcb-shm.so issue.
@atarijookie 50KHz is not even possible from RAM !  I've been said you can go up to 20KHz or maybe 24KHz with special techniques (like not saving registers in the interrupt routines)
but I've not been able to play reliably at more than 12KHz. And that's without ACSI transfers going on simultaneously...
I've been quite busy lately, I'll try to get some

[2017-01-09 07:27] atarijookie commented on #134
NO, that is done through fork() and exec(), that HDMI console is not needed, unless you want to try to resolve some issue with CE on TV.

I wouldn't disable login prompt, I for now I would just hope nobody writes 'root[enter]ce[enter]' on USB keyboard while doing something on Atari ;)

Btw., if I remember correctly, the typical login program could be replaced with something else, which would just

[2017-01-09 07:31] atarijookie commented on #94
Well then, to write it in general matter - for non-STE machines lets just limit it to whatever lowest sampling rate that works ;)

[2017-01-09 07:33] mikrosk commented on #134
What about that idea of yours, the magic hotkey? Can't we replace /bin/login with a program which listens for LCTRL+LALT+RCTRL+RALT+DEL (impossible to do on Atari keyboard) and then show the login prompt? And if you reboot/power cycle the device, you're again in the fake login.

[2017-01-09 08:24] miniupnp commented on #134
F11 or F12 are good magic hotkeys too ;)

[2017-01-09 08:40] mikrosk commented on #134
Not really, they are mapped to UNDO/HELP (not in master but in my branch for #73)

[2017-01-09 08:42] miniupnp commented on #134
why not map Page Up / Page Down to Undo/help ? It is what hatari does

[2017-01-09 08:55] tin-nl commented on #94
Ah, the underestimation of our old friend the Atari ST - something has to be done there, so pardon my french ;-)

@miniupnp: I sincerely beg to differ. It's almost 30 years since I've coded a sample player from scratch, but IIRC setting the ym to a specific amplitude takes ~100cc per sample (~80cc if you're willing to use word samples). Sure, CPU Time gets cramped via IRQ - 50cc for IRQ+20cc for R

[2017-01-09 09:01] miniupnp commented on #94
@tin-nl https://github.com/miniupnp/AtariST/tree/master/ym_digit
http://atari-forum.com/viewtopic.php?f=103&t=29832&start=25

[2017-01-09 09:12] mikrosk commented on #134
Historically I remember it from Eiffel that way -- PU/PD was mapped to SHIFT+UP/SHIFT+DOWN (something I plan to do after #73, it requires multi mapping from one code to many).

[2017-01-09 11:29] atarijookie commented on #100
There's and idea to do write buffering through RPi, although that would be a lot of work...
[http://www.atari-forum.com/viewtopic.php?f=103&t=30390&p=309113#p309113](http://www.atari-forum.com/viewtopic.php?f=103&t=30390&p=309113#p309113)

[2017-01-09 11:30] atarijookie commented on #134
Yeah, that could be done, too, but it seems like too much work, and might behave differently on Yocto and Raspbian, while no one (yet) has complained about this not-blocked USB keyboard. So I would just go with no-autologin and no-ctrl-alt-del for now, and later the rest...

I'm still having trouble with #100

[2017-01-09 12:00] mikrosk commented on #134
@atarijookie: sounds reasonable although now I will be much more cautious when using USB keyboards. :D

[2017-01-09 12:30] atarijookie commented on #134
Disabling ctrl-alt-del:
[code]

Disable auto-login:
[code]

[2017-01-09 12:38] miniupnp commented on #134
I'm just thinking, is there a way for the ce_main_app to grab exclusive access of the usb keyboard ?
The magic key would then be to release that exclusive access :)

[2017-01-09 12:49] atarijookie commented on #134
I'm not sure, in theory yes, but didn't see / try that... But good idea :+1:

[2017-01-09 13:58] miniupnp commented on #134
http://stackoverflow.com/questions/1698423/how-can-you-take-ownership-of-a-hid-device/1698686#1698686

ioctl(fd, EVIOCGRAB, (void*)1); // grab exclusive
..
ioctl(fd, EVIOCGRAB, (void*)0); // release

[2017-01-09 14:35] atarijookie commented on #134
Wow, nice, thanks ;) If @mikrosk  adds another magical keyboard shortcut, adding this one would be easy ;) Or even MiKRO could then add it while he's doing his IKBD enhancements...

[2017-01-09 19:59] tin-nl commented on #94
@miniupnp: Cool, I'll have a look.

[2017-01-09 20:03] tin-nl commented on #134
Disabling C-A-D and grab all input via ce_main sounds good! There should probably be some text on the console above the login explaining the keystroke to unlock the keyboard.

[2017-01-09 20:48] atarijookie commented on #134
I've added disabling Ctrl-Alt-Del and disabling auto-login into shellscripts/copynewscripts.sh

Agree, I would just add it into **/etc/motd** which currently shows 'Raspbian Jessie running on CosmosEx device.'

@mikrosk - Will you do this improvement while you're playing with magical key strokes, or should I do it?

[2017-01-09 23:10] atarijookie commented on #126
The behavior is the same on TT and ACSI, so it's probably a feature of TOS not to load more drivers once there is at least one loaded, closing for now as there is no user complaining about this, and it's also work-aroundable by placing CE_DD.PRG in AUTO of SD card.

[2017-01-09 23:10] #126 closed, assigned to nobody

[2017-01-09 23:16] mikrosk commented on #134
Wait, how do you type CTRL+ALT+DEL with **disabled  HID device**? :D

[2017-01-09 23:18] mikrosk commented on #134
EDIT: deleted, I'm an idiot. ;)

Sure, I can take a look. So just to verify we understand each other:
- CE would boot with autologin disabled but with the login prompt
- if you try to type in root + ce, you can't because a small tool has grabbed the HID device
- this tool listens to CTRL+ALT+DEL (so we actually don't need that `ctrl-alt-del.target` stuff)
- if grabbed, the tool terminates
- for re

[2017-01-09 23:42] atarijookie commented on #134
No :)

- CE would boot with autologin disabled (done in the script, applied with next update), with login prompt
- Ctrl+Alt+Del sequence for reboot will be disabled (done in the script, applied with next update)
- the ce_main_app is running in the background, and it did grab the excluside access to USB keyboard (when keyboard available)
- you have one magic key combination for enabling / disabling

[2017-01-09 23:44] atarijookie commented on #100
On TT+ACSI+ICD Pro, tried:
- in CE_TSTHD - generate 3 files of 21 MB, verify - OK, no R/W errors
- in GEM - copy them in to the same partition - OK, then runned CE_TSTHD and shows no R/W errors

To try:
- TT+ACSI+HDDRIVER
- TT+SCSI+HDDRIVER
- Falcon+SCSI+HDDRIVER

[2017-01-10 01:03] mikrosk commented on #134
Ah, right. I've mistaken CE_CONF for ce_main_app, assuming that it can't run in background the whole time (I'm tired :-P).

It's a good concept, this could really work nicely.

EDIT: that being said, I fail to see why do we need these:

- CE would boot with autologin disabled (done in the script, applied with next update), with login prompt
- Ctrl+Alt+Del sequence for reboot will be disabled (done

[2017-01-10 08:34] tin-nl commented on #134
I think that even in the above scenario the user _could_ reboot the CE by accident while ce_main isn't running - we don't know yet if ce_main starts early enough to prevent that.

That accidental reboot probably happened to to users already (but probably unbeknown to them).

[2017-01-10 08:52] mikrosk commented on #134
So the assumption is that the systemd flag kicks in earlier?

And why do we need to disable autologin?

[2017-01-10 09:19] atarijookie commented on #134
No no, by executing this (in the script):
[code]

It will disable ctrl-alt-del reboot forever (until changed back), so after that even when linux is booting and ce_main_app is not running, it will not reboot RPi.

In case you still would be typing in console, while your keyboard grabbing feature is still not available ;)

[2017-01-10 09:31] mikrosk commented on #134
Why it wouldn't be available?

[2017-01-10 09:35] miniupnp commented on #134
Le 10.01.2017 à 10:31, Miro Kropacek a écrit :

until the ce_main_app is launched I guess...

[2017-01-10 09:38] tin-nl commented on #94
A quick test:
![26khztos](https://cloud.githubusercontent.com/assets/18448788/21799590/32f93ab0-d71a-11e6-986e-e2196675c8d5.png)
This is an unchanged AU file from RAM with IRQ, full register recoverage and w/o any dirty tricks.
One of the main culprits at higher frequencies for your old player could be the dreaded Timer C (aka 200Hz), which blocks quite some scanlines with 50Hz.
Since this is goin

[2017-01-10 09:42] atarijookie commented on #134
Because you haven't done it, commited it and pushed it to master branch? :)

No, it's a linux system setting - once you set it, it's there, independent of ce_main_app running or not.

[2017-01-10 09:43] miniupnp commented on #94
thanks !

[2017-01-10 09:47] tin-nl commented on #134
@atarijookie: I know, I was just trying to paint a picture that might happen if we don't do this :)
Edit: In that comment I was replying to Mikro, but did that poorly, sorry.

[2017-01-10 09:48] miniupnp commented on #134
the ce_main_app will be grabbing the keyboard. But until it is runing, the USB keyboard events still goes to the system console. That's why it is needed to disable CTRL-ALT-DEL and disable autologin :
the user can be logged a few seconds before ce_main_app is launched. Except if you can make sure autologin happens AFTER ce_main_app is able to grab USB keyboard exclusivity

[2017-01-10 09:51] miniupnp commented on #134
I can code USB Keyboard grabbing, but I have no HDMI screen to test ;)

[2017-01-10 09:55] mikrosk commented on #134
@miniupnp I don't have HDMI either. :-P IMO that autologin off is not needed (yes jookie, after I commit it ;)). My memory is vague here but from what I remember login happens at a certain init level so we just have to make sure to run ce_main_app on a lower one (what is the case right now, I believe).

[2017-01-10 10:35] tin-nl commented on #134
@mikrosk: on raspbian ce_main starts directly after mountall.
@miniupnp: I can test that (via dvi adapter).

[2017-01-10 11:43] miniupnp commented on #134
@tin-nl : could you test my branch https://github.com/miniupnp/ce-atari/tree/ikbd ?
only grabbing is implemented :)

[2017-01-10 16:39] miniupnp opened #135 "use inotify instead of polling"
in the main app, I noticed there are threads which are polling directories (ikbd polls /dev/input/by-path)
I would be more memory/cpu efficient to use inotify
I think the dev finder polls /dev/disk/by-id as well

[2017-01-10 16:48] tin-nl commented on #134
Cool, sure :) I'll test yocto & raspbian.

[2017-01-10 18:26] tin-nl commented on #134
@miniupnp; works fine on Raspbian - takes keyboard as soon as ce_main runs (faaaar before login), no input possible, input is routed to ST nicely. I can finally reboot my STe via keyboard w/o reboot the CE by accident ;-)

Could you shoot me a yocto binary? I can't cross compile to yocto ATM as it seems...

[2017-01-10 22:17] mikrosk commented on #135
This is a nice idea. Perhaps some other stuff could be moved away from the periodic thread, too (input keyboard/joystick events?).

[2017-01-10 22:22] miniupnp commented on #135
keyboard/joystick events are polled ? arghhhh

[2017-01-10 22:27] mikrosk commented on #135
I think it's because of simplicity/consistency -- CE asks whether there are some IKBD commands pending and while there, it asks for Linux keys/joysticks as well.

But if it's possible to have an event (interrupt) driven IKBD handling (i.e. if there's a "RECV buffer not empty" interrupt for the RPi's pins) then it would make sense to get rid of the polling, sure.

[2017-01-10 22:30] miniupnp commented on #134
@tin-nl http://nanard.free.fr/CosmosEx/cosmosex_yocto_20170110.tar.gz

[2017-01-10 22:36] miniupnp commented on #94
about the libxcb-shm issue, here us what I've got obn my "development" yocto image :
[code]
can you tell me what's ` ls -l /usr/lib/libxcb*` ?
it looks like theses library are present in the developement image, but not the "user" one...

[2017-01-10 22:57] miniupnp commented on #135
well Ikbd::processReceivedCommands(void) has the code
`int res = read(fdUart, pBfr, 127);`
so you should be able to select() fdUart, aren't you ?

[2017-01-10 23:05] mikrosk commented on #135
Damn, you're right. It has been long time ago since I played with select's and stuff. Yeah, it sounds like a plan to me. ;)

[2017-01-10 23:10] miniupnp commented on #135
[code]

[2017-01-10 23:10] miniupnp commented on #135
I nearly had an heart attack ;)

[2017-01-10 23:12] miniupnp commented on #135
and of course the inotify socket can be added to the select() set

[2017-01-11 04:12] atarijookie commented on #100
**TT+ACSI+HDDRIVER 9.00:**
- generated 3x21 MB on D: (63 MB)
- copied in TOS on D:, deleted original files, copied back on D: (63 MB + 63 MB)
- copied in TOS on E: (126 MB)
- no SD R/W errors, data verification on E: was fine

**Same results with TT+SCSI+HDDRIVER 9.00 - everything fine.**

**Falcon+SCSI+HDDRIVER 9.00:**
- generated 3x21 MB on D: (63 MB) - OK
- while copying from D: to D: in TOS, g

[2017-01-11 05:41] atarijookie commented on #125
Tested on Falcon through SCSI - tests 'F', 'H', 'I' - everything worked fine. I saw this issue on some screenshot from user, maybe he didn't had the Hans firmware (with these new commands) installed. Closing.

[2017-01-11 05:41] #125 closed, assigned to atarijookie

[2017-01-11 05:49] atarijookie commented on #133
On TT and Falcon (where trap_extra_offset != 0) the boot drive is not set to config drive, as this caused a crash on TT on driver exit. Thus NEWDESK.INF is not loaded and floppy image file is not associated with floppy image mounting tool...

[2017-01-11 08:13] tin-nl commented on #133
I'll try to have a look at the setting Boot drive crash with my fake CE Hd boot image for hatari. Might result in nothing, but worth a try.

[2017-01-11 08:37] miniupnp commented on #94
@tin-nl  I have recompiled without need for Xlib or libxcb
http://nanard.free.fr/CosmosEx/ffmpeg-3.2.2-poky-yocto-bin.tar.bz2
It looks better :
[code]

[2017-01-11 08:38] atarijookie commented on #133
Well, maybe... I was also thinking if it's related to content of NEWDESK.INF on TT:
- if deleting that config file and enabling doesn't result in crash, I would think that would be the cause, and maybe needs just a different generating of NEWDESK.INF for TT and/or Falcon
- but if it still crashes without NEWDESK.INF in config drive, then it might be trickier than that

[2017-01-11 08:46] tin-nl commented on #134
@miniupnp: Thanks a lot - works on yocto, too :)
Couldn't check IKBD forwarding aka if ce_main still gets events (I see no reason why it shouldn't).

I also can confirm that ce_main releases USB on SIGINT/KILL (ce_stop.sh). Dunno what happens if it's crashing, though.

[2017-01-11 08:50] miniupnp commented on #134
@tin-nl well it would be a linux kernel bug if the process keep exclusive access after exit, whatever the reason of the exit (crash, SIGTERM/SIGKILL/etc)

[2017-01-11 08:52] miniupnp commented on #134
@atarijookie / @mikrosk : should I merge that code right away, or wait for the "magic key" to be implemented for release ?
I can implement it if you tell me which magic key combination you want

[2017-01-11 08:59] tin-nl commented on #94
@miniupnp: Perfect, thanks alot!
install_ffmpeg.sh does work now, player does to, tested two different yocto devices (both with non-dev yocto).

Nice one :-)

Now back to ST replay, I don't need/want no custom chips ;-)

[2017-01-11 09:00] tin-nl commented on #133
Good idea, I'll check that first.

[2017-01-11 09:04] mikrosk commented on #134
@miniupnp: go ahead, I wont be able to do it earlier than during the weekend and it's possible the last pending tasks for #73 will eat my all time.

[2017-01-11 09:18] atarijookie commented on #134
I don't have a preference on Magic Key Combination, so maybe MiKRO should tell ;)

[2017-01-11 12:38] miniupnp opened #136 "IKBD : handle key auto-repeat"
I noticed that USB keyboard device have autorepeat enable and that  auto-repeat event are forwarded to ST...
I don't know if ST keyboard handle autorepeat...

If autorepeat in ST is handled only by TOS, we could completely skip the autorepeat events.
If ST IKBD does handle autorepeat, I guess it is needed to emulate its configuration
see EVIOCGREP / EVIOCSREP ioctl()

[2017-01-11 12:54] miniupnp commented on #134
I've implemented it with LCTRL+LALT+RCTRL+RALT
if you're OK, I merge

[2017-01-11 13:10] atarijookie commented on #134
I'm fine with it, and how about @mikrosk ?

[2017-01-11 22:17] mikrosk commented on #136
This is fixed in #73, closing. ;)

[2017-01-11 22:17] #136 closed, assigned to nobody

[2017-01-11 22:19] mikrosk commented on #134
@mikrosk is fine with that as well. So what's left to be implemented, if anything?

[2017-01-11 22:25] miniupnp commented on #136
still not merged ?

[2017-01-11 22:26] miniupnp commented on #134
left to be implemented :
update motd / documentation so user are aware of LCTRL+LALT+RCTRL+RALT

[2017-01-11 22:27] #135 closed, assigned to nobody

[2017-01-11 22:27] mikrosk commented on #136
No :-/ All in all it's all fixed and pushed but not merge, there's one remaining issue left and that is a burden I've given to myself with no good reason. ;) It's the "swap joy0 and joy1" checkbox, right now it works only for USB joysticks. I want to have it working for keyboard joysticks as well as classic (IKBD) ones. Switchable during any game with,  you guessed it, another key combo.

Right no

[2017-01-11 22:37] mikrosk commented on #134
Ah, right, because we don't have an CE_CONF entry about that. Btw, help related, I've been thinking that every screen could have a help section. I.e. you press F11/HELP and you'd see a short description what's what, similar to HDDriver.

[2017-01-11 22:57] miniupnp opened #137 "reduce amount of polling"
While working on the IKBD, I noticed there is quite a lot of polling in the ce_main_app.
Polling not only eats more CPU (power, etc) than "event driven" code, it also increases latency of processing : For example if you check for an event every 10ms, it can happen just  1ms after you last checked, and you'll wait 9ms for nothing.

IKBD was easy to fix : https://github.com/atarijookie/ce-atari/comm

[2017-01-11 23:02] mikrosk commented on #137
... not to mention it reduces number of random bugs when you mess up comparing timestamps. ;)

[2017-01-12 01:01] miniupnp commented on #134
it has nothing to do with CE_CONF. A user just plugging the RPi to HDMI output + USB keyboard have to be informed on how to activate the keyboard !

[2017-01-12 01:59] mikrosk commented on #134
@miniupnp: I'm aware of that. :) That's what I meant by "because we don't have an CE_CONF entry about that". Perhaps I should separate my thoughts because I just create chaos. The help key idea is unrelated to this particular issue.

[2017-01-12 07:25] atarijookie commented on #137
Holy cow, such a rework, nice work :+1: Although I hope nothing got broken :-D

That GPIO might be a problem - there is some support for some events or something when pin changes, but the description also contained some warning that there are some problems with that.... Can't remember more details on this.

[2017-01-12 07:39] atarijookie commented on #134
I will add that in the shell script to modify motd, possibly create a web help page for that...

[2017-01-12 08:19] miniupnp commented on #134
@atarijookie you may need to edit /etc/issue instead, it is shown BEFORE login.
http://unix.stackexchange.com/questions/16255/how-can-i-change-whats-displayed-at-a-login-shell

[2017-01-12 08:57] atarijookie commented on #134
You're right, motd is shown after login :+1:

[2017-01-12 21:05] tin-nl commented on #94
Quick update with a small progress:
![ym_math_vs_measured](https://cloud.githubusercontent.com/assets/18448788/21907674/ca00ebae-d910-11e6-90f9-ef8064a4ef9a.png)
Yellow graph is the math approach (aka the ym specs are lying) and white the table generated from Paulo Simoes measurements. Both are a 0-255 sawtooth played through the ym via the respective dac table.
I also have re-measured the three c

[2017-01-13 02:53] atarijookie commented on #100
When copying single 21 MB file, got 5 read errors, all are:
mmc_datatransfer.c:36 -- LOG_ERROR(10);

This is the problematic command:
[code]

SysInfo reports:
[code]

So the question now is - on Falcon does HDDRIVER:
**A)** alloc as much free RAM as needed, then does large reads and large writes (e.g. 14072 kB, but that wouldn't fit in 13988 kB of free RAM, or frees some RAM and then allocs just t

[2017-01-13 08:41] miniupnp commented on #100
A)
I guess sysinfo reports free ST-RAM once it is loaded. So Free ST-RAM before it is loaded may be 14072kB. And then TOS (or HDDRIVER) use all free ST-RAM when copying files.. To be confirmed by Uwe Seimet

[2017-01-14 06:08] atarijookie commented on #100
So HDDRIVER / TOS tries to do 13.77 MB data transfer, and each time it fails (time-outs) at around 11.3 seconds from the start. It looks like there's 10 second timeout in HDDRIVER as maximum for each transfer (+1 second of timeout in Hans, that's why it's 11, not 10 total). Will contact Uwe.

[2017-01-14 06:12] mikrosk commented on #81
Finally I was able to test it, works great!

[2017-01-14 06:29] atarijookie commented on #100
Mail to Uwe:

[2017-01-14 06:32] mikrosk commented on #119
IMO a candidate for close.

[2017-01-14 06:32] mikrosk commented on #16
Are you aware of some IKBD bugs? If not, I propose close.

[2017-01-14 06:35] mikrosk commented on #103
OK guys, what about this one? Who's for merging CE_FDD.PRG and CE_FDD.TTP into one binary (CE_FDD.TTP) which would act as an "UI" app when without params and as a mount tool when with a parameter.

[2017-01-14 06:36] #73 closed, assigned to mikrosk

[2017-01-14 06:57] atarijookie commented on #16
No, not at this moment, not that you didn't fix ;) So le'ts close this one, and we'll open a new one if something arises.

[2017-01-14 06:57] #16 closed, assigned to nobody

[2017-01-14 07:01] atarijookie commented on #103
I don't care if it's two apps, or MiKRO's proposed merged app. I'll leave it to others to decide :)

But I'm a supporter of creating a simple GUI (GEM / just drawing things on screen) for the floppy slot upload / select / swap part of CE_FDD.PRG, as mentioned in #46 - This console UI for floppy selection is ugly :)

[2017-01-14 07:03] atarijookie opened #142 "CE in Solo mode on Falcon+SCSI is detected on each SCSI ID"
- CE in SCSI mode
- Falcon
- switch CE to solo mode (by removing RPI or by running /ce/ce_stop.sh)
- let Falcon boot
- HDDRIVER finds CE on each SCSI ID

If it's something simple, could be resolved together with #100

[2017-01-14 07:14] atarijookie commented on #100
Adaptive timeout done in 4e3dad9

[2017-01-14 10:21] mikrosk commented on #103
There's no argument from my side, a GEM app would be awesome to have. Perhaps you could create a thread on AF with request like that? There's a few GEM programmers out there.

[2017-01-14 10:24] mikrosk commented on #100
How come this doesn't happen on TOS with regular medias like an SD/CF card on Falcon?

[2017-01-14 17:24] #131 closed, assigned to mikrosk

[2017-01-14 17:29] miniupnp commented on #100
@mikrosk IDE is different. Maybe no SCSI Hard drives is slow enough

[2017-01-14 17:32] miniupnp commented on #103
@mikrosk is that possible to pass argument to GEM program with TOS 1.x ?

[2017-01-14 17:36] miniupnp commented on #100
and maybe it DOES happen

[2017-01-14 23:42] mikrosk commented on #103
I'm not sure now, do you think there's a reason to think that .GTP is supported only from higher TOS versions?

[2017-01-15 05:18] mikrosk commented on #64
... aaaaaaand done here: https://github.com/atarijookie/ce-atari/wiki/How-to-setup-an-RPi-cross-compiler (tested and working, at least as far as `ce_main_app` is concerned)

[2017-01-15 18:12] miniupnp commented on #64
@mikrosk thanks !
That is for both Rapsbian and Yocto ? :)

[2017-01-15 18:41] miniupnp commented on #64
@mikrosk  if you make a .tar.gz with the result for ubuntu trusty, we can test the cross compilation with travis-ci. I'll have to update the Makefile :)

[2017-01-15 19:35] #119 closed, assigned to nobody

[2017-01-15 21:15] miniupnp opened #143 "use Singleton design pattern in ce_main_app"
a lot of object in ce_main_app are Signeton (object that must have one instance)
access to theses objects are not very clean : through SharedObjects or local pointer to the single instance, etc.

[2017-01-15 22:23] mikrosk commented on #64
@miniupnp basically yes, you might want to change some versions in the config file (gcc+support libs, glibc, maybe curl/openssl?) but I have no means to test on Yocto

about travis-ci, as I mentioned somewhere else, it's not really needed. For FreeMiNT & friends I've decided to let it rot with old m68k-atari-mint-gcc as well, there's no point of doing anything as long as compilation works. This is

[2017-01-15 22:29] mikrosk commented on #143
Yeah, I've seen a lot of non-`volatile` variables and I could only hope that due to the fact they're `external` the compiler wont cache their values. Plus as you say, it's not always very safely done, somewhere are mutexes, somewhere they are not...

[2017-01-16 00:01] miniupnp commented on #137
timesyncThreadCode has to be improved too... polling every second instead of waiting 1 or 30 minutes (depending on the success status of the previous time sync )

[2017-01-16 09:18] miniupnp commented on #137
@atarijookie it there a reason the TimeSync is in a dedicated thread and not in periodicThread ?

[2017-01-16 09:34] atarijookie commented on #137
Because current implementation is very much blocking (when server doesn't respond, or something), so it would block periodicThread a lot... If anyone would improve the timeSync code to be completely asynchronous and thus non blocking, then it could be in periodicThread (although I think this is not necessary, as it doesn't cause any issue the way it is now).

[2017-01-16 09:39] miniupnp commented on #137
well it is only eating some unecessary memory & power :)
It is very easy to implement NTP asynchronously because it is a UDP based protocol. HTTP is another problem, but it can be done in download thread, right ?

[2017-01-16 09:42] miniupnp commented on #85
@mikrosk I don't know how to set RPi localtime easily...

[2017-01-16 09:51] miniupnp commented on #85
ah ok, I think is is done by setting the TZ environment variable. On raspbian it may also use /etc/localtime.
@mikrosk What if you change your TZ value when you login to make ? :)

[2017-01-16 09:58] tin-nl commented on #94
@atarijookie: When you were building your endless stream of ACSI devices: did you at any point try to get ACSI PIO running (e.g. for data in). I got it working somewhat, but wanted to make sure there's nothing known on the CEs side to prevent it before I investigate further.

[2017-01-16 09:59] miniupnp commented on #117
@atarijookie I think you forgot to include ce_hdimg.ttp in latest update. it looks like you are not using the "make update " ;)

[2017-01-16 10:00] atarijookie commented on #137
Yes, it could be changed to download it through there, and after download do the sync...

[2017-01-16 10:04] mikrosk commented on #85
Hehe, I was just thinking about this one yesterday. I think The Cleanest Way would be to set the timezone from CE_CONF. So you type "Europe/Bratislava" or "Australia/Brisbane" and it will basically set the correct timezone on the Pi.

[2017-01-16 10:06] mikrosk commented on #85
Right now I have offset = 0 and time set via command line so I have more or less exactly what I wanted but not everyone can do that. :)

[2017-01-16 10:22] atarijookie commented on #94
No. The usual flow for fast data transfers is:
- command: 6 to 11 bytes - PIO OUT
- data: large blocks (multiple of 16, when transfering sectors then multiple of 512) of DMA IN / OUT
- status: single byte - PIO IN

I'm not sure if data transfer is doable in PIO mode - maybe it is. I never tried as I needed to achieve highest possible speed, and that PIO would slow it down (compared to DMA).

If it

[2017-01-16 10:23] atarijookie commented on #117
No, I didn't get to that, as the last release was still from home, but now I'm at work, so possibly next release (when you and MiKRO agree on the IKDB changes, which seems like you already did) will be probably from work, using that...

[2017-01-16 10:55] miniupnp commented on #117
@atarijookie well if the CE_CONF advise user to use the CD_HDIMG.TTP tool, it has to be included :)

[2017-01-16 11:15] #117 closed, assigned to miniupnp

[2017-01-16 11:24] miniupnp commented on #120
@atarijookie could you test my patch so I can merge it and close the issue ? (if that works ok, of course :)

[2017-01-16 11:28] #32 closed, assigned to nobody

[2017-01-16 12:47] atarijookie commented on #120
@miniupnp OK, I'll test it during this night or tomorrow's night and let you know...

[2017-01-16 22:32] miniupnp commented on #137
I found also that pthread_cond_wait() should be used in mounter Thread and Download thread.

[2017-01-17 11:38] atarijookie commented on #120
@miniupnp I didn't have a chance to test this at home, as both of my kids got fever, but I've tested it on QEMU at work, and it did the job...

I did manually c&p the changes, I don't know what branch or whatever that patch was in, but it works, sooo thanks for the fix :+1:  You can merge it in...

[2017-01-17 16:13] #120 closed, assigned to miniupnp

[2017-01-17 22:15] miniupnp opened #145 "remove unecessary files from git repository"
ce_main_app/webroot/css/combined.css.gz
ce_main_app/webroot/js/jquery-combined.js.gz
ce_main_app/webroot/js/zepto-combined.js.gz

files are built by makefile. is there a reason to keep them in git repository ?

[2017-01-17 22:23] mikrosk commented on #145
yeah, I'd like to know that, too. My very first commit attempt assumed that they are somehow depend on the code I wrote, too so I made them part of my patch. :)

[2017-01-17 22:24] miniupnp commented on #145
also what is ce_main_app/webroot/js/log.js.gz ?

[2017-01-18 01:47] atarijookie commented on #145
This is a good question on @tin-nl , as web interface is his contribution. My guess is that the generated ones can be deleted, as when doing release, I copy the whole webroot dir to the release, and the generated files are there...

[2017-01-18 15:58] miniupnp opened #147 "improve detection of other instances"
relying on ps has issues
the right way to do it seems to be .pid file +flock
http://stackoverflow.com/questions/25267451/how-to-avoid-to-running-program-twice

[2017-01-19 05:04] atarijookie commented on #100
HDDRIVER 8.49

[code]

HDDRIVER 9.00:
[code]

HDDRIVER 10.01:
[code]

HDDRIVER 10.02b:
[code]

[2017-01-19 08:22] miniupnp commented on #130
I think indeed the mouse packets should not be injected if a joystick is supposed to be connected to port 0
Or maybe this can be a config option "do not send mouse packets when IKBD port 0 is in joystick mode"

[2017-01-19 10:10] mikrosk commented on #130
Trouble is you can't really know this in advance -- in desktop is super beneficial (both joysticks connected and still have a [usb] mouse) . In a game, on the other hand, it can have disastrous implications.

Hmm... now reading after myself:

The desktop doesn't do this by default, i.e. the IKBD is set to mouse mode for joy0. So perhaps you're right Thomas, we should disable it.

[2017-01-19 19:52] miniupnp opened #148 "VT-52 support in CE_CONF console"
I'm playing a bit with the linux console in CE_CONF and noticed issues when editing the command line.
using left arrow then backspace produce strange things

I then noticed that TERM env variable is set to "linux" and not "vt-52" is that a reason for that ?

once TERM is set to vt-52, things works better !

[2017-01-19 20:59] miniupnp commented on #148
according to  https://en.wikipedia.org/wiki/VT52 the Atari terminal support extensions
However no extended "st" or "tw52" are in the terminfo db of my Yocto RPi.
On my FreeBSD, there is "ST" in termcap ;)
[code]

[2017-01-19 22:34] mikrosk commented on #148
Great catch! "tw52" (and "tw100") are TosWin2 extensions (terminal emulation app for the ST/Falcon on FreeMiNT).

[2017-01-19 23:52] miniupnp commented on #148
I've added terminfo files for atari and atari-color to my yocto /etc/terminfo

[2017-01-20 09:01] miniupnp commented on #148
Still some issues with colors, b&w is working better :)
![vim](https://cloud.githubusercontent.com/assets/1070377/22142545/e940e1d6-def6-11e6-87c7-d68a1469fc35.png)
![vim-bw](https://cloud.githubusercontent.com/assets/1070377/22142648/5c019c74-def7-11e6-8918-165d65c02355.png)

[2017-01-20 09:02] miniupnp commented on #148
is there /etc/termcap in raspbian ?

[2017-01-20 10:17] tin-nl commented on #94
I know :)

I got pio running (or at least sth that _looks_ like pio), but ran into some caveats:
a) it's more like snooping the ACSI bus - seems like DRQ runs at DMA speed (and DMA is not writing to memory) so it's not quite usable for most purposes
b) the data register introduces waitstates. Didn't measure exactly yet, but while reading from the register the loop takes <> the 160k cycles it shoul

[2017-01-20 13:53] miniupnp commented on #94
@tin-nl where can I get a table generated from Paulo Simoes measurements ?

[2017-01-20 18:49] tin-nl commented on #94
@miniupnp: as said above - from the brute force search added to the table generator :) See attached. Note that for now I only measured the l33121.s (see graph above) not the calculated "optimal" one (l28806.s). I think there is still room for improvement re accuracy of YM DAC, but I'll first tidy up the replays before I get on with that.

[ymtable.zip](https://github.com/atarijookie/ce-atari/files

[2017-01-20 19:21] tin-nl commented on #145
Don't think so, probably sth from way back when it wasn't build via makefile. Have to check.

A JS exception logger.

[2017-01-21 11:09] atarijookie opened #149 "Add simple SD card driver for noobs"
Target audience: total noobs, who only can insert a PC formated SD card

This could be added as enhancement to CE_DD, which automatically boots on new devices, the existing state is pre-prepared for this:
- we already have code for accessing ACSI peripherals
- we already hook to Rwabs(), Mediach() and GetBPB() (for Pexec() stuff)
- we don't need to install the SD card driver on the SD card, becaus

[2017-01-21 17:39] miniupnp commented on #149
I would advise total noobs to only use USB Sticks / translated :)

Anyway your idea is great, but that's a lot of work.
The issue is that TOS cannot handle FAT32 anyway, and the PC formated card will be FAT32 (except 1GB or below)

[2017-01-23 05:10] #142 closed, assigned to atarijookie

[2017-01-23 05:53] atarijookie opened #150 "Fix handling of bad SCSI commands"
SDRVTEST.TOS from Uwe complains about some things, here's the SCSI_MON log file:

[sdrvtest_aux.txt](https://github.com/atarijookie/ce-atari/files/722724/sdrvtest_aux.txt)

And here's the SDRV TEST log file:
[SDRVTEST.txt](https://github.com/atarijookie/ce-atari/files/722726/SDRVTEST.txt)

[2017-01-23 06:02] atarijookie commented on #150
- INQUIRY - Calling with non-existing LUN 7
the command has to pass (status 0), but has to have correct inquiry data:
inquiryData.peripheralQualifier = 0x03
inquiryData.deviceType = 0x1f
Cmd $12:E0:00:00:24:00

- REQUEST SENSE for non-existing LUN 7
the command has to pass (status 0), but has to have correct sense data:
localSenseData.senseKey = 0x05
localSenseData.addSenseCode = 0x25

- Reading b

[2017-01-23 06:37] atarijookie commented on #150
Inquiry:

[code]

[2017-01-23 07:18] atarijookie commented on #150
OK, that should have beeb 0x7f and not 0xff, so now the results:

[code]

[2017-01-23 07:24] #150 closed, assigned to atarijookie

[2017-01-23 08:52] #145 closed, assigned to nobody

[2017-01-23 10:24] miniupnp commented on #137
Downloader could be improved to use CURL asynchronous API too :
https://curl.haxx.se/libcurl/c/libcurl-multi.html

[2017-01-23 10:55] miniupnp commented on #137
Looks like I forgot https://github.com/atarijookie/ce-atari/blob/master/ce_main_app/floppy/imagesilo.cpp#L49

[2017-01-23 12:49] atarijookie commented on #149
Yeah, me too, but for some reason people trust / use the SD card more. Plus some software (Notator or something similar) might not like CE_DD, but might work just fine with HDDRIVER.

You're right... So then there's only 2nd best option available, and I can forget about the 1st best option... It's still and option ;) and I agree, although it looks like it's simple, it would be a lot of work. Let's

[2017-01-23 13:05] atarijookie commented on #149
Some notes to MAGIC_SD.TOS / NOOB_SD.TOS (I might repeat something which I already wrote):

1. do INQUIRY scan of ACSI / SCSI bus, detect existing IDs
2. using some special command read the boot sector (without enabling the SD card on ACSI bus)
3. check if the card already contains HDDRIVER / ICD Pro / Ppera boot sector, if so, show extra warning
4. detect if HDDRIVER, ICD Pro or Ppera driver are

[2017-01-23 20:20] tin-nl commented on #94
@miniupnp: here's the optimized YM DAC routine. I included it in your AU player, see attached (only changed/added files).

It is TOS compatible (saves registers and doesn't need autointerrupt) and plays up to 31kHz without dirty tricks. Having said that: it needs a 64k-aligned playbuffer (64k in size) and a 64k-aligned code buffer (again 64k in size) .
There's a slow 26kHz timer in there, too, jus

[2017-01-23 23:33] miniupnp commented on #94
nice !

[2017-01-24 03:51] atarijookie commented on #149
HDDRIVER + HDDRUTIL show these limits on partition size:
TOS 1.00 - 1.02 - 256 MB
TOS 1.04 - 3.0x - 512 MB
TOS 4.0x - 1 GB

Tested 250 MB partition with HDDRIVER and TOS 1.02, it worked fine (first it failed as I've set the partition compatibility to TOS 1.04 but was running on TOS 1.02).

**Another idea:** automatically create AUTO folder on that SD card, install FOLDR100.PRG if TOS version needs

[2017-01-24 04:18] atarijookie commented on #100
As expected, RAW media on USB suffer from the same issue (or one of them)...

More info on the RAW issue in #152

[2017-01-24 04:44] atarijookie commented on #100
The first part, which needs fixing is that it doesn't fit in the data buffer in scsi.cpp and datatrans.cpp - the current implementation has
- in scsi.cpp - 1 MB buffer for read and write, 1 MB buffer for verification
- in datatrans.cpp - 1 MB buffer for read, 1 MB buffer for write

- retarded fix: statically grow buffers from 4 MB total to 4*32 MB (128 MB) - one transfer can be up to 64k sectors,

[2017-01-24 05:04] atarijookie opened #152 "Large transfers on RAW drives fail"
This is related to #100...

As expected, RAW media on USB suffer from the same issue (or one of them):

[code]

[code]

The first part, which needs fixing is that it doesn't fit in the data buffer in scsi.cpp and datatrans.cpp - the current implementation has
- in scsi.cpp - 1 MB buffer for read and write, 1 MB buffer for verification
- in datatrans.cpp - 1 MB buffer for read, 1 MB buffer for writ

[2017-01-24 05:25] atarijookie commented on #152
@mikrosk @tin-nl - guys, can a Falcon or TT have more than 16 MB of ST RAM? I'm asking because:
- only ST RAM is used for DMA transfers, right?
- I need to do more development if I need to support >= 16 MB transfers, so if you say no, then it means less development ;)
- Uwe S. mentioned that through some SCSI emulation on Hatari the HDDRIVER can try to make up to 32 MB transfers - SCSI READ(10) an

[2017-01-24 05:33] mikrosk commented on #152
Nope. Not even 16, only 14. And don't forget that 14 MB is a theoretical limit. You have to have screen buffers somewhere, too. :)

(and yes, you can use DMA only for buffers in ST-RAM)

[2017-01-24 08:30] miniupnp commented on #152
I think the "grow buffer" as needed can be easily done

[2017-01-24 09:10] atarijookie commented on #152
Yes, but it's a waste of memory, so I'll rather do the sub-transfers in a loop....

[2017-01-24 09:16] miniupnp commented on #152
and probably a waste of time too :) I mean the performance is better if making several transfers continiously during the ACSI / SCSI data flow

[2017-01-24 10:34] miniupnp commented on #103
http://www.atari-wiki.com/?title=History_of_Atari_TOS
GTP appeared in TOS 2.X

[2017-01-24 13:19] atarijookie commented on #152
Sub transfers in ce_main_app were done in d6d0c6c , not tested - will test during next free night.

Added timeout to RPi transfers of Hans in 62dbc1c , not tested. Also just timer used for timeout, this limits us to 19 MB transfer timeout, which should be fine with maximum 14 MB ST RAM size.

In theory - this should be all that's needed to fix this issue. Have to test it though...

[2017-01-24 21:23] tin-nl commented on #94
Some new findings on the PIO front - unsynchronized PIO is possible indeed, But: lossy. Since DRQ/ACK seems to be driven only by DMA, there are two options: doing PIO completely synchronized to DMA/CE speed (unusable IMHO) or starting the DMA, snooping the ACSI bus and stopping the DMA again. With the latter I read only every 4th byte (varies a bit), but after that I can wait as long as I want (an

[2017-01-25 06:33] atarijookie commented on #73
@mikrosk

Could you, please, make a small documentation on what you achieved with this? E.g. the description of the RSHIFT and other user written keys, new assignment of HELP and UNDO keys, and so on?

I will c&p it on my page, in the manuals section, so please write it here, or in some text file.

[2017-01-25 06:46] mikrosk commented on #73
@atarijookie the "log" from #139 isn't enough? It's pretty much everything I had done.

[2017-01-25 07:37] atarijookie commented on #73
@mikrosk Holy cow, that's enough ;) Thank you, I will use that.

[2017-01-25 08:34] atarijookie commented on #73
OK, so I've c&p it here:
[http://joo.kie.sk/?page_id=793](http://joo.kie.sk/?page_id=793)

These features are not released yet (will be in few days).

Btw., what's the next thing you will make us happy with? :)

[2017-01-25 08:45] #128 closed, assigned to nobody

[2017-01-25 08:46] mikrosk commented on #73
Reading that reminded me... didn't you consider putting the whole manual into this project's wiki? It would be much more accessible / editable, we could cross reference issues etc...

Next things... I've been quite busy with [freemint transition to github](http://freemint.github.io) but that's more or less done. So, in order of probability / importance:
1. #83 (auto floppy reboot)
1. #85  (proper

[2017-01-25 08:51] atarijookie commented on #73
Nice :) How about #46 ? Or do you have any tip, where can we get someone who would do the simple interface for CE_FDD.PRG?

[2017-01-25 09:07] mikrosk commented on #73
Did you try to ask on AF? You know, that you're specifically looking for someone to write this exact tool with this and that features (i.e. an opposite to "guys, we're looking for GEM programmers, please help us").

It's not that hard, I could even do it but I don't want to waste my time on GEM stuff if there are still active GEM developers, certainly there's more people able to hack an app like t

[2017-01-25 12:33] atarijookie commented on #109
As more important things need to be done, closing this...

[2017-01-25 12:33] #109 closed, assigned to atarijookie

[2017-01-26 03:08] atarijookie opened #153 "USB drive doesn't get attached on Raspbian"
Steps to reproduce:
1. use Raspbian (might happen on Yocto, but not tested)
2. set some ACSI ID to RAW (might happen in translated mode, but not tested)
3. plug in USB drive
4. do bus scan in HDDRIVER, the RAW drive doesn't appear

Happens with latest git revision.
4ec3dce26f01e271f19cdbbe41de02a18c0f570d -- last commit before 'Less polling' commit - works OK
release_2017-01-03 -- works OK

So I g

[2017-01-26 03:28] atarijookie commented on #153
notes:

- devFinder() doesn't get called when USB drive is removed and reinserted

- the new DISK_LINKS_PATH doesn't contain the USB drive:

[code]

[2017-01-26 04:26] atarijookie commented on #152
[code]

[2017-01-26 04:54] atarijookie commented on #152
If the current version fails during read, it will still tell ST that it succeeded, because of sending read status on start (was fine with small blocks, doesn't make sense with large blocks).
- alter sendData_start() to not set status
- Hans should ignore this status and wait for proper status on the end, like when doing write - add different STATE_DATA_READ command for long transfers?
- after long

[2017-01-26 07:42] atarijookie commented on #152
More work done in 215ce1f24938b0cdb4c256405940d01a04b2d442 and 100342bbf032ce1264618bc8e56263da57cf2ebe , needs testing with HW...

[2017-01-26 08:38] atarijookie commented on #149
FAT32, 3.69 GB (default format of SD):
![fat32_4gb_druhe](https://cloud.githubusercontent.com/assets/18427437/22371508/caa1e904-e497-11e6-9e4b-148811103541.png)

BGM, 250 MB, HDDRIVER, TOS 1.02
![hddriver_bgm_250mb_tos_102](https://cloud.githubusercontent.com/assets/18427437/22365289/e7d4825a-e476-11e6-8516-fff346f55898.png)

For PC there's a Partition entry no. 1 at 0x1BE, 16 bytes length:
https:

[2017-01-26 13:28] miniupnp commented on #153
OK I think I understand the issue. I had the Translated disk in mind when rewriting this.
I will update to make sure "unformatted" (from Linux point of view) disks are inserted

[2017-01-26 17:25] miniupnp commented on #153
@atarijookie : does my issue_153 branch fixes it ?

[2017-01-26 21:28] miniupnp commented on #147
@atarijookie : I think I have found the right way to do it. and very simple :)
I just do not rely on the existence of /var/run/cosmosex.pid but check for the process binary being the same

[2017-01-27 00:09] mikrosk opened #154 "Move the manual to the wiki"
We have a [pretty sweet wiki](https://github.com/atarijookie/ce-atari/wiki) here and some things are even there already. I think it's a good idea to move every document there and not to keep it on joo.kie.sk -- in this way users would be free to edit / contribute with fixes, clarifications etc (you don't need to know a thing about git, just press the pencil edit button and you're set).

[2017-01-27 06:12] atarijookie commented on #153
Yes, it seems that now it's able to find the RAW device and attach it :+1:  The remaining thing now is:
// TODO : update wd when configuration is changed

[2017-01-27 07:48] atarijookie commented on #154
Sure, you can c&p the documentation here from my page...

Most people don't know that this github space exists for this project, so I would have to (re)direct them here in case of need.

[2017-01-27 08:17] mikrosk commented on #154
If your website says: for all documentation click here, everybody will be aware. ;)

[2017-01-27 08:35] miniupnp commented on #153
yes, I need to make a better  wait for conf to notify the relevant threads that something is changed

[2017-01-27 08:36] #153 closed, assigned to miniupnp

[2017-01-27 08:41] atarijookie commented on #153
Thank you for your fix :+1:  :)

[2017-01-27 22:18] miniupnp commented on #147
@atarijookie do you think I can merge b1dd101e249a2d77c1f5af4b28bf9bf30337ae2c ?

If you still experience problems, we will fix this code (instead of rewritting everything again :)

[2017-01-28 06:37] atarijookie commented on #147
Yes, I'm fine with it :)

[2017-01-28 14:41] #147 closed, assigned to miniupnp

[2017-01-28 17:05] miniupnp commented on #143
see also 2684c07f2af13c49004828fc0c433bce697810e8

[2017-01-29 00:17] atarijookie opened #155 "Status page (through web) shows 'eth0 up and running' as 'no'"
Status page (through web) shows 'eth0 up and running' as 'no' while being connected to it through ethernet...

[2017-01-29 03:11] atarijookie commented on #152
More fixes done to the work in progress (I accidentally broke booting)...

The transfer from RAW drive stops around 3 MB of data, I have to check the signals with the logic analyzer to make sure it's not in Xilinx...

[code]

[2017-01-29 03:28] mikrosk opened #156 "Add floppy write support"
If I run CE_FDD.PRG, press "N" to create a new disk, I can open it in the desktop. However, if I write a file to A:, nothing is shown (copy operation ends with success but that's it).

[2017-01-29 03:31] mikrosk opened #157 "Download disk from the Internet bombs out"
OK, so #156 wont let me copy anything so I thought I'd download something. Press F9, mark, download, file selector, progressing... by 100% it says communication error and bombs out.

However, I can open the downloaded ZIP -> MSA -> mount and reset.

[2017-01-29 06:58] atarijookie commented on #156
Write support not done (yet) on floppy.

[2017-01-29 07:32] mikrosk commented on #156
Excuse my ignorance but then what is the new disk good for? :-)

[2017-01-29 07:53] atarijookie commented on #156
For the future write support :) You want to help with that one?

[2017-01-29 16:46] tin-nl opened #158 "Regresson regarding vdevs"
Just noticed that there seems to be a newly introduced problem that breaks the vdevs used by the webserver. The remote control doesn't work anymore,

ikbdlog sais:
[code]

A build from 24.01. works as expected.

[2017-01-29 17:05] atarijookie commented on #158
This is probably due to the less polling refactoring...

[2017-01-30 20:36] miniupnp commented on #158
that is strange because the "less polling" refactoring took place before... ( Mon Jan 23 09:38:34 2017 +0100)
Which commit does work as expected ?

[2017-01-30 21:19] miniupnp commented on #158
grabExclusiveAccess() should not be called on vdev's but that shouldn't cause any issue...

[2017-01-30 21:41] miniupnp commented on #158
@tin-nl can you try again with full log enabled ?
As the IKBD injector is not installed on my ST, I cannot test properly
But I see some stuff :
[code]

[2017-01-30 22:01] miniupnp commented on #158
I think I have spotted a problem. the write are not checked in virtualmouseservice.cpp
[code]

[2017-01-30 22:04] miniupnp commented on #158
OK, it is because the fifo are continiously open/close in virtualmouseservice.cpp
so linux send EOF to the ikbd code...

[2017-01-30 23:05] #158 closed, assigned to miniupnp

[2017-01-30 23:07] miniupnp commented on #158
the solution is to keep the fifo open

[2017-01-30 23:08] miniupnp commented on #155
indeed :)

[2017-01-30 23:21] #155 closed, assigned to miniupnp

[2017-01-30 23:22] miniupnp commented on #155
sorry for the regression

[2017-01-31 03:03] atarijookie commented on #155
Thank you for your fix :+1:  :)

[2017-01-31 03:56] atarijookie commented on #152
Transfers happen for the first 2 seconds, then the bus keeps waiting for something, then the bus signals get reset to idle after 7 or 8 seconds.

The bus reset is caused by main app failing the large transfer, doing Hans reset, while Hans still waits for data...

When the issue happens, the ACK stays low for a long period (until reset).
ACK usually is 400 - 500 ns.
REQ is 90 ns long (guessed from

[2017-02-01 14:28] miniupnp commented on #157
what's the logs on the CE ?

[2017-02-07 06:36] atarijookie commented on #152
Extended REQ to 240 ns, the issue still happens. It's hard to catch on logic analyzer...
- add software trigger on this issue
- log (in Hans) after how many bytes this happens
- try slower bridge functions for this to see if anything changes
- try it with normal SCSI HDD

[2017-02-13 05:22] atarijookie commented on #92
MC:
- SCSI interface is detected instead of ACSI, HDIF near Xilinx is 2.4V, while when I touch the wire near the ACSI connector, it then drops to 0.1V and then it's detected as ACSI
- spacing pillars between MC and RPI need to be 11 mm tall

[2017-02-14 13:09] mikrosk opened #159 "Support for MIDI softsynth"
Just an idea: https://www.facebook.com/groups/133161394213/permalink/10155096700679214/

Basically you can play the cool music from Sierra (and others: http://www.atarimania.com/list_games_atari-st-midi_midi_1_S_G.html) games via MIDI, using a cheap USB->MIDI adaptor. Of course, you'd need to connect RPI's AUDIO OUT to speakers.

[2017-02-16 04:08] atarijookie commented on #113
Currently it seems it doesn't work under Windows + cygwin:
- can't make bootsectors, as make can't compile native app on my cygwin and thus convert those PRGs to .BS
- can't compile Sting test server app under cygwin
- bad argument to cp when doing 'make update', it then stops the make:
cp -p ../ce_dd_bootsectors/ce_dd.bs configdrive/drivers/ce_dd.bs
cp: preserving permissions for ‘configdrive/dri

[2017-02-16 04:32] mikrosk commented on #113
@miniupnp said I should reopen it once cross-compiling for the RPi is available and it is, for quite some time: https://github.com/atarijookie/ce-atari/wiki/How-to-setup-an-RPi-cross-compiler ;)

[2017-02-16 05:16] atarijookie commented on #149
Getting CE HDIF pointer works (thus storing and retrieving from cookie jar), using it works.
Fails to get info about SD card...

[2017-02-16 10:31] miniupnp commented on #113
`$ make ce_main_app CC=arm-linux-gnueabihf-gcc CXX=arm-linux-gnueabihf-g++ DISTRO=raspbian`
Does work

@atarijookie I guess you can install cygwin mtools. can you give error output of make for boot sectors and sting test server ?

[2017-02-16 14:37] miniupnp commented on #159
you need something like this https://www.thomann.de/fr/thomann_midi_usb_1x1.htm right ?

[2017-02-16 19:41] mikrosk commented on #159
Exactly.

[2017-02-16 23:47] miniupnp commented on #58
I think I have nice speeds. 600kB/sec using  CNbyte_count() / CNget_block();
I've found new bugs ; )

[2017-02-17 00:41] miniupnp commented on #58
bof...
[code]

[2017-02-17 14:23] atarijookie commented on #58
600 kB/s sounds good, way better than any other network adapter on ST...

What is that 'bof...'?

[2017-02-17 15:06] miniupnp commented on #58
114 or 140 kB/sec are "bof"
Now that I have fixed the test_server, everything is good.
I dont think we can go faster than 800kB sec !
[code]

[2017-02-17 15:29] #58 closed, assigned to nobody

[2017-02-17 15:32] miniupnp commented on #58
CNget_NDB() speed could/should be improved, but 300kB/s is already not so bad
Can someone test on TT/ACSI and TT/SCSI Falcon/SCSI ?

[2017-02-20 05:22] atarijookie commented on #149
- Fix for not sending non-SD card commands to RPi.
- Fix for not sending correct CS command to CE/CS. PRG renamed to TOS for SD NOOB.

TODO:
- The current version breaks CE_DD Pexec() functionality, as there's some error on sector access code after extending it with SD NOOB.
- report to RPi, that we got the SD card, so it can generate the SD NOOB partition icon

[2017-02-21 03:51] atarijookie opened #161 "Pexec() fails for files copied in later to config drive"
I'm working on other issue, and this one keeps appearing (I think it shouldn't be related to mine, as I've turned off those features, but still could).

Pexec() fails with 2 types of errors:

[code]

[code]

[2017-02-21 03:56] atarijookie commented on #161
The 2nd is probably due to file being too large to fit in the memory (static allocation of 10 MB), so please ignore this issue while I investigate things further.

[2017-02-21 04:33] atarijookie commented on #149
SD card read, the status and sense after removing card and reinserting the card.

[code]

[2017-02-22 05:38] atarijookie commented on #149
TODO:
- ST freezes or bombs on SD partition access
- make tool to test partition sectors access? (fill sectors with physical sector number, access logical 100th, 1000th, last sector and verify the right physical sector number, also sector read size in rwabs()).
- write many files, verify files
- add FAT read cache

DONE:
- CE_DD do request sense when starting - (can't load MBR after card inserted)

[2017-02-22 12:20] miniupnp commented on #159
I don't see that as a base CosmosEx feature, more an additional feature because it needs additional Hardware.
In my opinion, that should be a wikipage / how to setup this and jookie could then advertise this "optional feature" :)

[2017-02-22 13:38] atarijookie commented on #132
Got code for IKBD pass through in branch, have to test it... If it will work (or gets fixed and then will work), you will have 2 options:
- either replace single resistor to a small 3 pin chip, this will turn on Franz immediately after power on and allow pass through, or...
- work on that pre-init thing, and put it in the linux init process as soon as possible...

I will test the code for IKBD pas

[2017-02-22 23:10] mikrosk commented on #132
I like the first option more because even if you f**k up everything, you still get a working mouse/keyboard.

Of course, having a fast pre-init in the software as an additional option can't offend anyone.

[2017-02-23 05:20] mikrosk commented on #159
Of course it's not something vital to CE as such but it would certainly help to boost sales. Just an idea.

[2017-02-23 05:30] mikrosk opened #162 "List of all Pexec() problems"
I'd like to take a look at the original Pexec() implementation (i.e. reverting the disk image hack by Jookie) sometime in near future. Can anyone remember problems with the original implementation? In other words, the problems which led Jookie to implement his workaround?

(I don't mean claims like "it didn't work in TOS 1.00", more like what exactly)

The original implementation was badly designe

[2017-02-23 05:44] atarijookie commented on #162
- TSR (drivers) had issues, as Ptermres() didn't work correctly - either didn't tell TOS correctly what memory to not use anymore, or something similar
- nested Pexec() didn't work - I have only one set of pointer and states there, so one PRG calling another PRG and then another would definitelly cause some misbehavior

My guess is that TOS has some variables inside, which store some vital info wh

[2017-02-23 05:49] mikrosk commented on #162
Yeah, another (more mature) approach to debugging is one of my goals, too. Because let's face it, if I replace trap#1 vector with my own and redirect all calls through your code, there's no way I wont be able to debug this kind of scenarios (incl. different TOS versions etc). As I said, it was just implemented in rush, I didn't think of debug capabilities and similar stuff very much.

@ggnkua coul

[2017-02-23 05:55] atarijookie commented on #132
Tested on STFM.
- before linux main app start it works immediatelly (if Franz is running)
- after terminating linux main app it takes around 3 seconds to resume pass through again (might annoy people when doing update, but it's still better than before)

So there will be a Franz firmware release soon(ish). Then you need the HW mod or SW preinit.

[2017-02-23 08:23] atarijookie commented on #132
The only thing to change now is that you don't call the  Utils::franzToResetState() on line 51:
https://github.com/atarijookie/ce-atari/blob/master/ce_preinit/ccorethread.cpp#L51

That would have Franz in running (not reset) state. It still could happen that Franz refuses to start (due to some chip start up issue), and you might need to to reset of Franz after a while, but if you're lucky, then Fr

[2017-02-23 08:30] atarijookie commented on #132
Btw., if I'll add that check-if-Franz-alive-and-reset-if-no thing to pre-init, are you willing to extend the current start up on Yocto and Raspbian by adding this pre-init app?

That would be:
- adding it to init script, as soon as possible, as this might not need anything at all - no linux partition access, no network access
- adding killing of pre-init app to script, when ce_main_app starts

Lat

[2017-02-23 10:53] miniupnp commented on #159
so who's able to write that "how to" on the wiki ? ;)

[2017-02-23 11:53] mikrosk commented on #159
As soon as I force myself to try it out on the RPi I will. :) Right now I have it working only on my desktop but there was literally zero work needed, just installing the right apps/libs.

[2017-02-26 06:06] atarijookie commented on #149
[code]

Fixed sector count from 1 to variable, now it freezes like this:
[code]

[2017-02-26 21:21] emilm commented on #121
My CPU freq goes between 600 and 1200 MHz and I can clearly see that SPI takes half the time when it happens. It makes it very difficult to time things. Is this really resolved?

Update: core_freq=250 seems promising

[2017-02-27 08:22] atarijookie commented on #121
@emilm
Yeah, it's not much about CPU going 600 and 1200 MHz, it's about core going 250 and 400 MHz, and the core_freq=250 fixes the core frequency to 250 MHz, and thus fixes the SPI frequency to what you set it...

[2017-02-27 08:22] emilm commented on #121
That worked! Thanks :)

[2017-02-27 14:34] atarijookie commented on #149
[code]

[code]

[code]

[code]

[code]

- the params look the same on TOS 1.04 and 1.06
- what is sector 1?
- fix last CHS value

[2017-02-28 03:37] mikrosk opened #164 "Merge in the BeePi project"
Just when you though I can't come up with dumber idea than #159, I present you another one: merging the cool looking ARAnyM/FreeMiNT based distro: https://sites.google.com/site/emaappsarch/news/beekeyandbeepibeta9areavailable with Raspbian. That way you would have two Ataris -- one ST/E/Falcon and one Aranym-based TOS clone in super resolution etc. Both sharing Atari keyboard, mouse, partitions, u

[2017-02-28 03:39] mikrosk commented on #164
Obvious problems are video output (Atari vs. native RPi) and (de)activating the distro as soon as you start working in TOS. Funny thing is that the BeePi uses Hatari for games/demos, imagine the option to make it running on the real ST instead. :)

[2017-02-28 03:54] mikrosk opened #165 "Get rid of the update app"
We have the debian package manager so why on earth are we not using it? Jookie could easily setup a repository and the CE_MAIN would just call... apt-get update && apt-get upgrade.

Not to mention you can roll back and all sorts of crazy stuff.

[2017-02-28 03:56] mikrosk commented on #165
Of course, this somehow renders my "zero tweaking" idea obsolete: https://github.com/atarijookie/ce-atari/issues/65#issuecomment-231578820

[2017-02-28 03:59] mikrosk commented on #8
It seems I'm going to get a CT60e in following weeks so I might take a look at this finally.

[2017-02-28 04:01] mikrosk commented on #7
Nobody's complaining, closing then.

[2017-02-28 04:01] #7 closed, assigned to tin-nl

[2017-02-28 05:33] mikrosk opened #166 "Option to run Atari programs directly from the console / web ui"
As a follow-up to #164 -- I don't know about you but sometimes I'm quite frustrated to manually navigate via the Desktop to a tool/game I want to run. When we are already patching Pexec(), file system and whatnot, I guess it can't be a problem to remotely execute an Atari prg via script. I can imagine three modes:
1. mount disk image, reset ST (see #83), play
1. create a virtual desktop.inf with a

[2017-02-28 05:36] mikrosk commented on #164
Btw, imagine the long awaited #46, executed from environment like this -- cool colours, resolution, desktop and still an Atari app! :)

[2017-02-28 05:41] mikrosk commented on #132
Wait where exactly? Because if we wait, then we don't need the keyboard, do we. :) Or you mean something like "CE is still booting, don't be surprised that there are no translated drives. Press any key do continue." ?

I'm working on different stuff these days but I'll be back in ~2 weeks at most.

[2017-02-28 10:00] atarijookie commented on #149
OSFMount:
- when mounting whole image, Win7 doesn't recognize anything...
- when mounting just parition, Win7 seems to play nice with it

Reference + 250 MB partition + TOS 1.02:
- writes and reads good on ST
- shows as 127 MB on Win7, doesn't show files :(
- 120 MB partition is shown as 64 MB partition on Win7, still empty
- when TOS 1.02 is trying to access TOS 1.04 partition, it fails to do so

[2017-02-28 12:58] atarijookie commented on #165
apt-get, dpkg don't work on Yocto, so for backward compatibility we still need to keep the current way of doing it, at least for Yocto.

[2017-02-28 12:59] atarijookie commented on #166
Yeah, could be done, sounds nice, and will be useful for lazy people like you ;) or those who do the cross-compilation on PC and use ST just for testing the result...

[2017-02-28 13:01] atarijookie commented on #132
Yeah, but until it boots (until you wait for it), you aren't able to do much with it anyway, so it's worth waiting. And while you're waiting you won't get the hells bells, and you can do Ctrl+Alt+Del if needed.

Yes, exactly...

[2017-02-28 15:45] miniupnp commented on #166
@mikrosk can you give an example of DESKTOP.INF which autostart the PRG ?
I think you forgot the AUTO/ directory solution.

[2017-02-28 22:58] mikrosk commented on #166
@miniupnp on the contrary, you certainly don't want to copy anything into AUTO. How would you start a .TOS app this way?

DESKTOP.INF with autostart can be created from Desktop's app options, at least I hope that it isn't a feature of NEWDESK.INF only.

[2017-02-28 22:59] mikrosk commented on #166
@atarijookie think of unit tests, too.

[2017-02-28 23:01] mikrosk commented on #165
"Forget Yocto, now we have Raspbian for development, focus on that" are more or less your words. :) So Yocto can have its old unreliable update process but no reason why Raspbian has to follow it.

[2017-03-01 03:13] atarijookie commented on #165
Yeah, that was about being limited with Yocto tools, when doing nice new features, like video player :)

The other thing is, that the update process also does update chips, which still would have to be added somehow to debian package update.

[2017-03-01 03:16] mikrosk commented on #165
`dpkg` is pretty flexible, you can hook building of the kernel on it so updating some chips can't pose a problem. It's even desired, if new firmware screws up something, it's super easy to roll back to previous revision. If there are dependencies between different packages (firmware, ce_main), you can specify that as well.

[2017-03-01 09:01] miniupnp commented on #166
@mikrosk I guess you can rename to .PRG. Anyway I've no Idea if this is better or not than the DESKTOP.INF solution

[2017-03-01 09:04] miniupnp commented on #166
https://github.com/libretro/hatari/blob/4930236a07250b038bc0c9adeb34189401aa7f32/src/tos.c#L326
`"Only TOS versions >= 1.04 support autostarting!\n"`

[2017-03-01 09:05] mikrosk commented on #166
Me neither. I guess the .INF / AUTO solution isn't really needed.

[2017-03-01 09:12] miniupnp commented on #166
The DESKTOP.INF solution is about adding a line :
`#Z 01 C:\PATH\TO\FILE.TOS@`
(should be 01 for GEM programs, 00 for TOS ones)

[2017-03-01 09:15] mikrosk commented on #166
@miniupnp trouble is the .INF solution isn't always _desired_. Imagine running a desktop, having fun and you just want to test one binary. Forcing a reset when you could just do simple Pexec() is pretty lame.

[2017-03-02 15:19] atarijookie commented on #149
[code]

[2017-03-03 08:19] mikrosk opened #167 "Priority handling for the shared drive via eth0/wlan0"
Just today I've noticed that if I have both wlan and ethernet connected, when opening the shared drive wlan0 is also active (transmitting packets, blocking opening...). I guess there should be some mechanism which would prefer wired connections over wireless.

[2017-03-03 10:00] miniupnp commented on #167
yes, default route...

[2017-03-03 10:15] mikrosk commented on #167
yep, why not, seems like the simplest approach.

[2017-03-03 11:05] miniupnp commented on #167
are you using DHCP on both interfaces ?

[2017-03-03 12:50] mikrosk commented on #167
Yes, same router.

[2017-03-03 13:33] atarijookie commented on #149
- partition with SD NOOB, use under Win
- partition with SD NOOB, use under TOS
- compare if they write FAT and dir entries to same sectors (and fix)
- test data transfer between them
- if nothing goes well, there could be a test with fixed values (e.g. physical & logical sector size 512 B), see if it works....

Partition should be created fine.
Configuration and BPB in CE_DD is probably wrong.

-

[2017-03-03 13:50] miniupnp commented on #167
so it all depends how the DHCP client set the route and which interface is up first

[2017-03-03 16:51] miniupnp commented on #167
@mikrosk I wouldn't label this as "bug". This is standard OS functionning...

[2017-03-04 00:25] mikrosk commented on #167
Ftom developer's point of vjew, yes but imagine a poor user who bas no idea what route table means. Certainly CE can help out here, making default routes more user friendly?

[2017-03-05 20:05] miniupnp commented on #167
that is an average user point of view : connect any computer to a LAN with both wired and wireless ethernet and you've got no other way of choosing which one to use than disabling one of the interface !
That's exactly the same with CE, I don't know why you would complicate things with a priority handling that only network admin would understand

[2017-03-05 20:09] miniupnp commented on #167
In any case, I just can't understand why you've labeled this as a bug.
If that is a feature that you want, that is an enhancement

[2017-03-05 22:40] mikrosk commented on #167
Maybe we don't understand each other. On my PC, regardless of Windows or Linux, when I connect Ethernet cable, this connection is used (unless I do some explicit changes). All I'm asking is to do the same in CE.

[2017-03-07 04:30] atarijookie commented on #149
[code]

on TOS 1.02:
- when physical sectors / atari sector is 16, the 1st RW operation freezes the ST
- creating dir goes like this:
SDnoobRwabs r/w:0 noRet:0 noTra:0 logStart:0009 logCount:0001 midBuf:0 (root dir)
SDnoobRwabs r/w:1 noRet:0 noTra:0 logStart:0005 logCount:0001 midBuf:0 (fat 2?)
SDnoobRwabs r/w:1 noRet:0 noTra:0 logStart:000C logCount:0001 midBuf:0 (dir entry?)
...and crashes with

[2017-03-24 01:45] mikrosk commented on #8
Good news sweeties, the CT60e did arrive so I can definitely help with debugging.

[2017-04-04 13:52] atarijookie commented on #149
I thought that only SD NOOB has issue with writing more than 2MB to file, but the reference driver also fails with that on TOS 2.06

[2017-04-11 23:39] miniupnp commented on #167
@mikrosk you are lucky with your windows, because it is not what all user experience... just google a bit and you'll see...
About linux, il all depend on how the DHCP client sets the interface and the route. So find a way to have this working with raspbian

[2017-04-12 02:16] mikrosk commented on #167
Interesting, I'm pretty used to this feature, never really experienced anything else. ;-)

Anyway, I agree, if there's a way to do this via a DHCP settings, let's do it, if it's too hard or hacky, we can leave it as is.

[2017-05-07 19:15] blind opened #168 "CEPI cookie installed twice"
Using the latest release version, there is two instances of the CEPI cookie in the cookie jar, both with the same value.

[2017-05-09 10:34] miniupnp commented on #168
@blind what's your TOS version ?

[2017-05-09 14:45] blind commented on #168
I'm running the Swedish version of TOS 2.06 on a 4MB STe.
I used SysInfo to view the cookie jar and noted that the CEPI cookie existed twice, next to each other.

(I should have added this info from the start, sorry about that)

[2017-05-09 15:40] blind commented on #168
I took a look at the code and it's a pretty obvious bug.

This line:
https://github.com/atarijookie/ce-atari/blob/63da5f06cdfc1332d3e6087b27c45ec27eba231c/ce_dd_prg/main.c#L687

should be inside the scope above.

[2017-05-09 15:41] miniupnp commented on #168
youre right :)

[2017-05-22 06:45] atarijookie opened #170 "K400 keyboard doesn't work with new app"
User reported:
- has K400 wireless keyboard
- has 2 devices, one with older and one with newest firmware
- the K400 doesn't work with newest FW, works on the older FW
- the touchpad on K400 works on both versions
- the older FW is: MainApp 2016-05-01, Franz: 2016-01-17

[2017-07-06 07:56] miniupnp commented on #170
K400 is a Logitech keyboard right ?
I guess we need some more information, like logs...

[2017-08-15 02:20] atarijookie commented on #170
It looks like the keyboard part of the wireless keyboard+touchpad doesn't appear in the /dev/input... Maybe it was ok on Yocto and acts like this on Raspbian...

00182628 00000001 (2017-08-15 01:55:51.988535)	ce ikbd thread created
00182632 00000002 (2017-08-15 01:55:51.992397)	Ikbd::processFoundDev(platform-3f980000.usb-usb-0:1.3:1.2-event-mouse, /dev/input/event0)
00182633 00000001 (2017-08-15 0

[2017-12-12 11:58] AdamKlob opened #172 "Bad Apple Demo"
Bad Apple (https://fenarinarsa.com/badapple/fenarinarsa_badapple_sv2k17.zip) demo gave me a lot o headaches trying to run on CosmosEx. It crashed. A lot.

I found out that it does not like 'cold' run. If I try to run it just after I turn on cold STE+CosmosEx, it will crash, most likely after a second or two. If I leave ST running for about 15 minutes before running Bad Apple, it runs ok.

I'm unsu

[2017-12-12 12:14] ggnkua commented on #172
I think I already gave it a go on my MSTE and it ran fine. But I will repeat the test and will see if I can set up the STE as well.

[2017-12-12 12:17] tin-nl commented on #172
Are you using an translated (aka network/fat formatted USB stick) or raw (aka sd card or atari formatted usb stick) device?

[2017-12-12 12:26] miniupnp commented on #172
I've seen fenarinarsa last saturday, it is using a UltraSatan on his 4MB 520STE and his Mega STE
But he never tried with a cosmosex in translated mode. I will try

[2017-12-12 17:56] ggnkua commented on #172
I just tried it on translated network drive from a stone cold MSTE. 0 issues.

[2017-12-13 10:40] AdamKlob commented on #172
I ha ce_dd at Id 0 and sd at Id 1, and I have been running it of SD card, without translation,

[2017-12-13 10:56] tin-nl commented on #172
@AdamKlob K, thx, I‘ll test that config and report back.

[2017-12-13 10:57] miniupnp commented on #172
@AdamKlob If you're running from SDCard, which HD Driver are you using ?

[2017-12-13 11:01] miniupnp commented on #172
@AdamKlob  Bad apple makes a lot of use of the blitter. Maybe your blitter has issues when cold...
as few programs use blitter, a blitter problem may well stay unnoticed

[2017-12-13 12:11] miniupnp commented on #113
@atarijookie ping ? :)
I fixed the "cp -p" issue, but can you tell me which errors you have when trying to build boot sectors and sting test server with cygwin ?

[2017-12-13 12:31] atarijookie commented on #113
@miniupnp
I'm currently hibernating (not doing anything), but there's some effort going on to get floppy write done, so if people will help me a bit with tools, I will resurrect myself and I'll let you know about this...

[2017-12-13 15:31] tin-nl commented on #172
Odd - I can't get BA to run on SD card at all. It just freezes during the loading bar in the first fread() that has all demo IRQs activated (at TEXT+1006, inside the folowing trap).  Translated works fine, though.
All CE Tests (TST_FSYS/CE_TSTHD) work fine.
Interrestingly I only get ~798kB/s from Hans, Didn't we get around 1MB/s on Hans transfer sometime in the past?

Tested:
- STE 4MB TOS 1.06
-

[2017-12-13 17:20] ggnkua commented on #172
Okay, I just tried running the demo from hddriver 9.03 and I also get a freeze in the first fread.

It's a bit tricky to try and debug on my MSTE as there are a few bent vectors that cause all sorts of havoc with Bugaboo. Perhaps I'll set up my STE and try there, that's usually more reliable.

In my mind there's no doubt that the problem is caused exactly from those bent vectors, especially since

[2017-12-13 17:43] ggnkua commented on #172
Yup, I just had to test it on Ultrasatan on the same SD I used on the cosmosex - runs totally fine there. Now I'm confused.

[2017-12-13 17:53] AdamKlob commented on #172
I was using ppera driver.

śr., 13.12.2017, 18:43 użytkownik ggnkua <notifications@github.com> napisał:

[2017-12-13 18:57] miniupnp commented on #172
It may be just a problem with the CosmosEx driver loaded in memory badly interacting with the HD driver.
I think fenarinarsa told me Bad Apple does all the display job in the HBL interrupt.

[2017-12-13 19:43] tin-nl commented on #172
@AdamKlob Ah, okay, so I‘ll test that one too, then. Which CE do you use? V1, V2 or Microcosmos? Is the latest Firmware installed or an earlier version? If an earlier version: which date is shown?

@ggnkua Thanks for checking on your machine. IIRC Hans code is heavily based on Ultrasatan, but changed quite a bit this/last year due to some timeout issues with certain SD cards or sth like that. Sour

[2017-12-13 19:45] AdamKlob commented on #172
V2, latest firmware. I have V1 too and I can try on it too.

śr., 13.12.2017, 20:43 użytkownik tin-nl <notifications@github.com> napisał:

[2017-12-13 23:36] miniupnp commented on #172
just ran the bad apple demo fine on my STE with MicroCosmos...

[2017-12-15 23:15] fenarinarsa commented on #172
Hi, I know it might crash in some cases, I only used Pperas drivers with UltraSatan :) The only incompatibility I found is when BIGDOS.PRG is loaded in memory, it always crashes.

I didn't test HDDRIVER since I don't have it. Also I couldn't test ACSI access on emulators, when I install Ppera's driver on Hatari with a blank ACSI image, it hangs on the loading screen (I don't know why). Since it wo

[2017-12-15 23:16] fenarinarsa commented on #172
(note that I will release the source code, I just currently don't have time to clean it up and make a correct archive with all needed assets)

[2017-12-17 18:09] tin-nl commented on #172
BA works with Ppera driver on a warm machine. Retested on same partition with Hddriver 9.x and 10.10 - freezes at the loading bar. Sea of Color also works with pperas driver, but doesn‘t with Hddriver. Have to check on a cold machine.

 But this probably isn‘t a sole Hddriver issue - SoC used to work with Hddriver 9.x on an older CE firmware. P158DR.TTP/Moleman2 also did work on an older CE firmwa

[2017-12-19 08:58] tin-nl commented on #172
Cold run of BA with Pperas driver works here.

[2018-01-23 15:28] Biker1bob commented on #168
So I noticed this exact same thing. If I do not load through AUTO and load CE_DD after the fact then I only get it once. Is there a fix for this? I am running the latest version of the comos software, I am also on 2.06 with MegaSTE.

[2018-03-08 12:02] miniupnp commented on #137
the current code check for Hans & Franz "ATN" by polling pin 16 and 18 (BCM 23 & 24) of the GPIO.
[code]
It would be better to use "interrupt" driven code. It seems possible using the GPIOsysfs API  :
https://www.raspberrypi.org/forums/viewtopic.php?t=119472
[code]

[2018-03-08 13:59] atarijookie commented on #137
That would be awesome, but it will require massive amount of testing - lots of reading and writing over ACSI / SCSI to see if this doesn't screw up somehow... (e.g. false interrupts)

[2018-03-08 14:00] miniupnp commented on #137
missed interrupts is a bigger problem :)
You have a kind of "synchro" over SPI after getting the ATN.
(waiting for "0xcafe")

[2018-03-13 22:39] miniupnp commented on #162
I'm thinking, why not look into the EmuTOS implementation of Pexec() ?

[2018-03-14 08:36] atarijookie opened #175 "New distro vs older distros support"
Hello all,

maybe you've noticed, but new Raspberry Pi 3 B+ has been announced:
https://hackaday.com/2018/03/14/raspberry-pi-gets-faster-cpu-and-better-networking-in-the-new-model-3-b/

That means that we will possibly need to start using newer (newest) Raspbian, if we want to support that. As previously, I would like to stick to the older RPIs and older distro, but the situation might end up like

[2018-03-14 10:03] miniupnp commented on #175
I've ordered a Nano PI a64 http://www.friendlyarm.com/index.php?route=product/product&path=69&product_id=159
When I receive it, I will try to compile on it :) I think it is Ubuntu-core.

Indeed for the end users you should stick to a limited number of linux distributions.
I don't really know which version of raspbian is used on the current CosmosEx devices...
But I think binary compatibility is ma

[2018-03-14 10:13] miniupnp commented on #175
about the cross compilation,I think it is already  done on travis-ci ;)
[code]

then to build :
`$ make ce_main_app CC=arm-linux-gnueabihf-gcc CXX=arm-linux-gnueabihf-g++ DISTRO=raspbian`
But I think I never tested the resulting binaries ;)

[2018-03-18 22:21] miniupnp commented on #137
Hum my first tests are not conclusive :(
@atarijookie  I'm using /sys/class/gpio/gpio23/ /sys/class/gpio/gpio24/  (SPI_ATN_HANS / SPI_ATN_FRANZ)
Are they the right GPIO ?

[2018-03-18 23:20] miniupnp commented on #137
it is working...

[2018-03-19 00:05] miniupnp commented on #137
there are strange things about floppy encoding, I think I need to clean the code, right ? :)
the inter-thread communications are a bit strange :)

[2018-03-19 07:31] atarijookie commented on #137
Yeah, why not...

It's because I'm retarded, that's why ;)

[2018-04-08 17:39] Biker1bob opened #176 "IO errors and bomb outs when AUTO loaded in Geneva"
I have MegaSTe 4mb. TOS 2.06 with HDD driver 9.3 and microCosmos. I have had this reproduced on one other similar setup.

Bare SD card. formated with 9.3 HDD installed NeoDesk 4 (new ver.) and Geneva (new version) everything working great. Autofolder has only 20slot cookie thing, Genenva and Neoload in it.. WORKS FINE.
Load CE_DD AFTER auto.. np .. everything working. Move CE_DD to the autofolder

[2018-04-08 21:34] mikrosk commented on #176
Geneva is an operating system. It overwrites the functions CE_DD
implements. For the same reason it doesn't work in FreeMiNT and MagiC.

On Monday, 9 April 2018, Biker1bob <notifications@github.com> wrote:

--
MiKRO / Mystic Bytes
http://mikro.atari.org

[2018-04-09 04:06] tuxie01 commented on #176
Hi,

As we was working on out Lightning VME usb Interface we have similar issues. We are thinking that Geneva does the gemdos calls in a other way then Tos. So I think this could be a Geneva related issue.

Von meinem iPhone gesendet

[2018-04-09 15:31] Biker1bob commented on #176
But, if CE_DD is loaded as an startup item in xboot, or just after, as a program run from the Desktop.. everything works fine.. I have no issues at all.
BUT - if in the autofolder.. even loaded as the last item in the autofolder.. it does not.. seems odd.
Just thought I would report it. As Geneva is now Freeware, it might be a growing OS that CE will have to work in.

[2018-04-09 23:53] mikrosk commented on #176
@Biker1bob you're missing the point. The sequence is important because:

1. CE_DD install new i/o functions -> MagiC/Geneva/FreeMiNT overwrites them -> CE doesn't work
2. MagiC/Geneva/FreeMiNT install new i/o functions -> CE_DD overwrites them -> CE works

Why 2.) doesn't work for FreeMiNT remains to be investigated but this is the problem in the nutshell. I plan to write an XDD driver for FreeMiN

[2018-04-11 11:25] atarijookie opened #177 "multiple floppy image lists support"
here's the list of apps:
http://stonish.net/CosmosEx.csv

List is provided & maintained by Bruno Mathieu

[2018-04-24 10:40] atarijookie opened #178 "flash_xilinx fix / performance improvement"
There is an issue with burning XC9572XL on full speed, the issue was 'fixed' by adding sleep:
https://github.com/atarijookie/ce-atari/commit/d26a7bde94713a9d5c22f63284fbc209e705187d

However, I would like to fix this and change 50 seconds of flashing back to 5 seconds...

This document:
[https://www.xilinx.com/support/documentation/application_notes/xapp503.pdf](https://www.xilinx.com/support/docu

[2018-04-26 05:39] atarijookie commented on #178
I've made some tests with newer (2.2) and older (2.1) CE, and even with removing the usleep(1); it worked fine and flashed xilinx in 8 seconds (instead of 50 seconds). I'm not going to remove it yet, as for sure there were some units which had issues with this, it's just interesting in this moment.

The minimum pulse width of TCK was 140 ns, which is around 3.8 MHz. The xilinx XAPP058 says that TC

[2018-05-04 02:12] atarijookie commented on #175
So I guess you can do your build on the latest raspbian, and we'll test the binary on the old one, we have 90% chance it works right away.

I've just run Raspbian Stretch (2018) on RPi 3 B+ (2018), while the binary was built Raspbian Jessie (2016), and it started and seemed to work, but I still need to test more things so see if anything was broken, or just working fine...

@miniupnp Do you have a

[2018-05-09 09:47] atarijookie commented on #175
- auto-start - done
- ACSI / SCSI / IKDB reliability - done
- flash_stm32 and flash_xilinx - done...

More to do:
- build and test on yocto
- create update package

[2018-05-09 09:52] atarijookie commented on #164
Closing, when someone will work on this later, he can reopen it :)

[2018-05-09 09:52] #164 closed, assigned to nobody

[2018-05-09 09:52] atarijookie commented on #159
Closing, when someone will work on this later, he can reopen it :)

[2018-05-09 09:52] #159 closed, assigned to nobody

[2018-05-09 09:52] atarijookie commented on #149
Closing, when someone will work on this later, he can reopen it :)

[2018-05-09 09:52] #149 closed, assigned to nobody

[2018-05-09 09:53] #132 closed, assigned to atarijookie

[2018-05-09 09:53] atarijookie commented on #130
Closing, when someone will work on this later, he can reopen it :)

[2018-05-09 09:53] #130 closed, assigned to nobody

[2018-05-09 09:54] #92 closed, assigned to atarijookie

[2018-05-09 09:54] atarijookie commented on #65
Closing, when someone will work on this later, he can reopen it :)

[2018-05-09 09:54] #65 closed, assigned to nobody

[2018-05-09 09:55] #12 closed, assigned to nobody

[2018-05-09 09:56] atarijookie commented on #85
Closing, when someone will work on this later, he can reopen it :)

[2018-05-09 09:56] #85 closed, assigned to nobody

[2018-05-09 09:56] atarijookie commented on #176
Closing, when someone will work on this later, he can reopen it :)

[2018-05-09 09:56] #176 closed, assigned to nobody

[2018-05-09 10:02] atarijookie commented on #165
Closing, when someone will work on this later, he can reopen it :)

[2018-05-09 10:02] #165 closed, assigned to nobody

[2018-05-09 10:03] atarijookie commented on #154
Closing, when someone will work on this later, he can reopen it :)

[2018-05-09 10:03] #154 closed, assigned to nobody

[2018-05-10 08:48] atarijookie commented on #177
While working on it and moving to multiple image (and apps?) list I originally thought user would have to select between the lists and then search within them, but then I thought that's unnecessary, so maybe just merging lists together would be enough...

So the device on start should:
- download some list of lists
- check if have all the lists downloaded and if downloaded lists have the latest ve

[2018-05-10 08:49] atarijookie commented on #178
As couldn't reproduce it on my devices, closing for now, and once I will be in the mood to work on this, I might reopen this one...

[2018-05-10 08:49] #178 closed, assigned to atarijookie

[2018-05-10 08:50] atarijookie commented on #175
- update containing yocto, raspbian jessie and raspbian stretch created
- new raspbian stretch image uploaded on web

[2018-05-10 08:50] #175 closed, assigned to nobody

[2018-05-10 09:58] atarijookie commented on #168
Closing as this is resolved.

[2018-05-10 09:58] #168 closed, assigned to nobody

[2018-05-15 04:08] Biker1bob commented on #168
You say closed because it was resolved. I have the latest version of the firmwares and it still does this now.

[2018-05-15 05:13] atarijookie commented on #168
2018-05-10 on Raspbian Stretch?
Or you have this version on Raspian Jessie? Don't you have boot issues like other users? :)

[2018-05-19 03:21] Biker1bob commented on #168
Does Raspbian get updated by the firmware check? if not I have never updated the Raspian, why would I if it boots and works. I have no issues booting.. just if I dont load the way I describe by loading the CE drivers as an autostart program I get 2 cepi cookies when I look in SYSINFO.

[2018-05-19 05:49] atarijookie commented on #168
And if you never updated it, you still will see CEPI cookie twice, because it's fixed in the latest version, not the old one which you are running...

[2018-05-20 02:22] Biker1bob commented on #168
If I never updated Raspian? how do I do that? All the software that is updated with the firmware check is now up to date.. I noticed there was a new Main program when I checked the other night. Is this what you are refering to? or is there a proceedure to update the raspian on the Cosmos?

[2018-05-20 05:22] atarijookie commented on #168
Okay, that should be enough... Are you booting the CE_DD driver from CosmosEx device directly, or did you copy it to floppy / SD card / other hard drive and boot it from there?

[2018-06-25 21:01] mikrosk opened #179 "Add a hotkey to bypass mounted floppy boot"
Correct me if I'm wrong but unless I have the web server accessible from outside, there's no way to disable floppy boot other than switching the Atari off?

[2018-06-26 06:24] atarijookie commented on #179
What's wrong with pressing front button on the device to choose no_floppy_image (all floppy LEDs off) and then you won't boot any floppy image from CE?

[2018-06-26 07:42] mikrosk commented on #179
If nothing else, I failed to find this information in either manual under Floppy section. :-P But you're right, it's sufficient.

[2018-06-26 07:42] #179 closed, assigned to nobody

[2018-09-10 18:50] mikrosk commented on #8
A bit late to the party but I can't see one thing failing on the CT60 which works in 030 mode... so if there are any reports, I'm all ears otherwise I pronounce CE as CT60 compatible. :) (the thread on AF seems to be about AB040 issues and that card is a world of its own...)

[2018-09-10 19:20] ggnkua commented on #8
I'll see if I can set up my ct60 this week and verify this

[2018-09-26 16:51] ggnkua commented on #8
Okay, I just ran as many tests I could here on the ct60, everything seems to be working fine.

So unless anyone else has an objection we can close this down and open a new one for 040 accelerators.

[2018-09-26 16:55] mikrosk commented on #8
thanks @ggnkua, one problem less to worry about!

[2018-09-26 16:55] #8 closed, assigned to nobody

[2018-10-12 07:06] atarijookie opened #180 "Fix MSA floppy write function"
Related to #156 (Add floppy write support) we need to have support for MSA floppy images writing. The code already has the function for writing the MSA image to file, but it's commented out and not compilable  at this moment... The functions I'm talking about are in this file:
https://github.com/atarijookie/ce-atari/blob/master/ce_main_app/floppy/msa.cpp

Things to do here:
**1.** Make msa.cpp com

[2018-10-12 07:31] miniupnp commented on #180
write support for MSA image is a bit complex, as the whole file needs to be changed even when only 1 sector is writter, because of the compression.

[2018-10-12 07:41] atarijookie commented on #177
The other way of doing this would be on web server, once a day, and there would be no need for change on devices then... So we could modify this file, which gets called by each device on start-up:
https://github.com/atarijookie/ce-atari/blob/master/list_merger/report.php

Changes that need to be done:
**1** Add code in that report.php, which gets last DATE (no need for time, just year-month-day) w

[2018-10-12 14:20] ggnkua commented on #180
Unless we demand that the user supplies unpacked MSA images.

[2018-10-13 07:12] beki007 commented on #180
I will work on it :)

[2018-10-16 15:13] sinodko commented on #177
@atarijookie I would like to take this one :)

[2018-10-17 03:08] atarijookie commented on #170
The device now appears only as mouse device instead of mouse+keyboard devices. Added a quick fix - if mouse handler doesn't handle the pressed key (not mouse left or right button), then let the keyboard handler handle it.

Nicer fix (for possible future issues solving) would be: extend both keyboard and mouse handler to return true/false when they do handle / don't handle current event, and if the

[2018-10-17 03:08] #170 closed, assigned to nobody

[2018-10-19 13:15] atarijookie commented on #177
I've done the image list automatic merging in php, it will be run by webCron on my hosting once per day, and in a day or two if it will look ok (from the e-mail reports the webCron should send), I will turn it fully on.

[2018-10-23 08:14] atarijookie opened #181 "Floppy Images download and insert through browser"
I had a nice idea about how to make playing games on CE (using floppy emulation) even easier - just open the browser, find an image in the search / download window, press download button, then insert button and you can then reset your ST... Most of the functionality is done in origin/webdn branch, however few things need improvements, and I might need some help with that...

It currently looks lik

[2018-10-23 11:09] atarijookie commented on #181
Okay, so I've done 4), 6) and 7), but there's no difference now in message between downloading and encoding... Plus it would be nice if ongoing download wouldn't block further images search, so complete screen overlay in browser on download isn't the best thing... So this needs some improvements (javascript + html + css only), and also the 1), 2), 3) which don't need no change in C++ backend...

S

[2018-10-24 09:43] atarijookie commented on #181
The **1), 2), 3), 5), 7)** now done. Things that still can be done (or we can skip them):
**8)** button highlighting if the image is already inserted in that slot
**9)** page switching support in the bottom of the page

![webdn2](https://user-images.githubusercontent.com/18427437/47421979-f8d10100-d781-11e8-8da1-511683ceb1a8.png)

[2018-10-24 10:02] atarijookie commented on #177
Okay, so the e-mails from webCron don't come, but the script is executed and lists are merged, so closing this task.

[2018-10-24 10:02] #177 closed, assigned to atarijookie

[2018-10-24 10:53] atarijookie commented on #181
**8)** is done, so there's still **9)** (page switching) and one more:
**10)** show all the images that are downloaded and can be used (without searching) - that needs more code in C++. If the page switching would be added, maybe I could just skip this and let user just click through the pages to see what he has downloaded.

[2018-10-24 11:56] atarijookie commented on #181
Page switching done, not going to do **10)** for now... Will test on device, and if everything will look okay there, I'll merge this thing into master...

[2018-10-24 14:03] atarijookie opened #182 "add automatic floppy image extraction from ZIP file after download"
Having the possibility to load the floppy images directly even if they are in ZIP file is nice, but it will end up as a problem when there will be write support added (#156) - it would be silly do ZIP the image back after doing write, or possibly holding ZIPed and unZIPed version on disk and checking for them when doing write. So I suggest following changes:

**1)** when floppy image is downloaded

[2018-10-24 14:07] atarijookie commented on #157
Probably related to trying to mount ZIPed image + the enabled ZIP DIRs support + some weird / unhandled response in CE_FDD... This might get solved / worked around by doing #182

[2018-10-24 18:24] atarijookie commented on #182
Extracting it with right name, so it would be usable with #181 is going to be probably tricky, because:

**A)** in a best case there will be only one floppy image file in the ZIP, which can be extracted and possibly renamed to match the filename part of the ZIP file

**B)** in the worst case there will be multiple files, some of them won't be even floppy image files, and those who would, either on

[2018-10-26 02:44] atarijookie commented on #157
I'm not able to crash the app the way you described, but I managed to crash it in a different way, for which I don't have the explanation yet:
when you are in the download images screen. hold down the DOWN arrow to keep scrolling through images and pages on end of each page, and in few pages I get bomb when loading / showing the page... The data and logs on CE look normal...
This looks like it tak

[2018-10-26 03:00] atarijookie commented on #157
Okay, now I'm able to get it in weird states, but I must not touch anything else (no mouse interaction, no other keys):
start CE_FDD.PRG
F9 (switch to download page)
F1 (mark)
F3 (download)
...file selector pops up, I press ENTER
...download starts, app freezes :-o

[code]

It looks like the method void FloppySetup::searchDownload(void) in ce_main_app goes some path which ends up in not returning

[2018-10-26 04:45] atarijookie commented on #157
That state machine in **FloppySetup::searchDownload(void)** is totally weird... I don't know what kind of drugs I was abusing when I wrote that ;) but I should never do them again :-D

Anyway, after working on #181 (floppy images download and insert through browser) and looking at the mess in FloppySetup::searchDownload(void) I realized / decided, that this should be done in a different way - just

[2018-10-26 08:06] atarijookie commented on #182
Okay, all the changes needed were done, and it's handled the same way as it was when inserting ZIPed image directly - find and insert first found floppy image in the ZIP archive... So Now the first image is extracted after the download and it replaces the ZIP file in the download folder. Fixes made so even web interface knows that the unZIPed image is downloaded and is inserted.

[2018-10-26 08:06] #182 closed, assigned to atarijookie

[2018-10-26 08:13] atarijookie opened #183 "Floppy images download and insert from CE_FDD.PRG remake"
As I've mentioned this in #157, after working on #181 I relized that even in CE_FDD.PRG it would be more convenient to do it like it's done in the browser (#181), so the CE_FDD.PRG should be remade like this:

**1)** get rid of this state machine, which downloads images one by one (waiting for one to finish before adding another to download queue)

**2)** don't allow downloading to native drive -

[2018-10-26 08:16] atarijookie commented on #156
The write support needs first the #183 to be done - if the floppy image will be downloaded and inserted on native (RAW) drive, writing to it from ce_main_app would be problematic, so for most of the cases downloading, inserting and writing from ImageStorage (USB drive or shared drive) will be the way to go.

[2018-10-29 06:58] atarijookie commented on #180
Your pull request has been merged to master, I made a minor changes to the code afterwards, but in general it looks OK.

[2018-10-29 06:58] #180 closed, assigned to nobody

[2018-10-29 09:05] atarijookie commented on #183
Most of the work is done, needs some testing (and possible fixing) on Atari, and then it all should be good.

[2018-10-29 11:15] atarijookie opened #185 "CE low level HDD IF moved to library"
The source files for ACSI and SCSI access were copied to all those CE ST apps when they were developed. While working on cart interface I've remade them and moved those ACSI and SCSI sources to ce_hdd_if library. As the work on cart version is now postponed because of floppy related tasks, and (which I hope won't happen) I might not work on the cart version soon, I wanted to have this improvement

[2018-10-30 05:46] atarijookie commented on #181
Few notes after tests on RPI:
- [x] the ce_main_app needed few fixes, wasn't compilable on Raspbian Jessie
- [x] the downloading overlay is at the bottom of the page, but when you scroll the page down, the overlay stays, so it gets in the middle of the page or so...
- [x] failed downloads keep appearing in download count, overlay showing forever
- [x] we should get rid of loading the image list on

[2018-10-31 11:23] atarijookie commented on #181
Some fixes done in 6 commits, still need to test and fix CE_FDD.PRG
The web part of the task seems to be finished, so closing this issue and will continue in the CE_FDD.PRG issue on the remaining issues.

[2018-10-31 12:47] atarijookie commented on #183
TODO list:
- [x] add refresh of page in CE_FDD after successful download
- [x] test / fix status line
- [x] test / fix no storage state + message
- [x] image list from bruno's page is somehow now showing image names in CE_FDD.PRG

[2018-10-31 12:48] #181 closed, assigned to atarijookie

[2018-10-31 12:49] atarijookie commented on #157
Floppy image download now being in the remake process, so this exact issue won't happen, so closing it.

[2018-10-31 12:49] #157 closed, assigned to nobody

[2018-11-01 06:48] atarijookie commented on #183
Previous things done, things still TODO:
- [x] hide download icon on first showing of Download web page when no storage attached
- [x] make CE_FDD look nicer on mid + high res (e.g. center header, menu, footer)
- [x] don't send too much data in low res - the line width is only 40 chars there if I remember correctly, so no point of sending long game list (and slowing down games redraw) on low res

[2018-11-04 07:54] atarijookie commented on #68
Also we could add automatic search for image in the folder when no image path is specified. AdamK is copying the ce_fdd.ttp separately next to each image when he's running demos on atary parties...

[2018-11-06 03:58] atarijookie commented on #183
All those major and minor issues have been done, so closing this one.

[2018-11-06 03:58] #183 closed, assigned to atarijookie

[2018-11-06 05:18] atarijookie commented on #68
TODO:
- [x] 3 second count down for upload slot change
- [x] if no path supplied, search for 1st image

[2018-11-06 07:51] atarijookie commented on #68
Done, closing.

[2018-11-06 07:51] #68 closed, assigned to nobody

[2018-11-06 08:08] atarijookie commented on #83
@mikrosk @ggnkua @tin-nl Guys, how to perform the software reset (from C / assembler on ST)? That would be the easy part...

About skipping the CE_DD boot - I'm not sure how to do that. I could send something to linux app, so the next boot attempt of CE_DD would result in CE_DD not booting from the device, so you won't have to press ALT, but I'm worried about this resulting in some situations, whe

[2018-11-06 10:08] atarijookie opened #187 "improve floppy image encode speed"
Currently the floppy image encoding takes around 4 seconds on RPi, and around 450 ms on PC, and I think it should be less... By running it with gprof it reported these to be most time consuming functions:
[code]

I've added 'inline' to those 4 functions, the performance change was small (427 ms -> 424 ms), even though the function execution time changed a bit:
[code]

So even if the compiler didn'

[2018-11-06 10:25] atarijookie commented on #187
But hey, if I merge the appendTime() into appendChange() by deleting lines 383-387, the encoding drops from 424 ms to 326 ms -- drop to 77% of original execution time... This task looks more like try-and-see than some heavy investigation :)

The other thing I have in mind I could do right there is to remove all those params passed (BYTE chg, BYTE *bfr, int &cnt) and use some member variables inste

[2018-11-06 13:08] atarijookie commented on #187
Used table based CRC calculation, further speed improvement done - 65% of original execution time.
https://github.com/atarijookie/ce-atari/blob/master/ce_main_app/floppy/mfmcachedimage.cpp#L497-L509

[code]

[2018-11-06 14:22] atarijookie commented on #187
After removing silly params to each function in encode (buffer, count), it improved only a little bit:
[code]

Obviously the appendChange() which gets called 14.3M times needs some work to be done (if possible).
Current duration on PC is 56% compared to original execution time (that is 44% improvement). I hope it's similar on RPi.

[2018-11-07 13:06] atarijookie commented on #187
I've changed the mfm encoder to work on 3 bits at the time, now the encoding time takes 27% - 30% of original time on PC. If that would be the same on RPi, then it would change those 4 seconds to 1.2 second, which is a nice improvement.

The profiler output looks like this now:
[code]

The new encoder makes slightly different data, so before considering it good, I need to test it on real ST...

[2018-11-07 21:22] mikrosk commented on #83
Since CE controls everything - Floppy, CE_DD and IKBD - what about reversing the behaviour? I.e. if you press a magic key during the floppy boot (CE knows it has mounted an image), floppy boot gets ignored otherwise CE gets ignored.

That way you solve another annoying issue and that would be auto boot working only on the first boot.

There can be even two magic keys - one for not disabling CE and

[2018-11-08 03:56] atarijookie commented on #187
So the numbers on Raspberry Pi are not that good, but hey, it's an improvement anyway...
CRC calculation improvement + refactoring: 82% of original time (3.7 s -> 3.0 s)
New encoder: 45% of original time (3.7 s -> 1.7 s)
What's even worse, that the new encoder output doesn't work on Atari... It might be something small, but finding it might be problematic. I wonder how much effort should I put int

[2018-11-08 04:50] atarijookie commented on #187
So I've managed to fix the new encoder - the A1 mark byte was badly generated (missing one 4-6-8 time on start and encoder wasn't initialized again after the A1 mark), so it works the same as the old encoder, but faster.
One this which I noticed when running floppy tests was that floppy sequential test were showing lots of lazy reads on side 1 (side 0 worked fine), no matter which encoder I used (

[2018-11-08 04:50] #187 closed, assigned to atarijookie

[2018-11-08 04:53] atarijookie commented on #83
For the last question - there is no cure, just eject the floppy image / change the floppy slot. For the things before that - you will explain that to me when we meet next time, because I'm not getting it here right now ;)

[2018-11-08 04:54] atarijookie commented on #83
btw., you still could tell me more about the only thing I'm sure will be the easiest and straightforward - how to do the software reset of ST?

[2018-11-08 07:43] mikrosk commented on #83
To be honest, I have never done that. ;-)

[2018-11-08 08:31] atarijookie commented on #156
TODO:
- [x] 1) alter encoding in imageSilo to work on tracks and allow access to tracks sooner than all the tracks are encoded (kick out copyFromOther)
- [x] 2) if the track in imageSilo isn't encoded yet, force floppy encoder to encode that track first and then let it continue with the remaining tracks
- [x] 3) alter encoding order algorithm - instead of adding image to queue, let encoder look at

[2018-11-08 15:12] ggnkua commented on #83
```move.l $4.w,a0```
```jmp (a0)```

This basically jumps into TOS start, which part of its duties is to fully reset the CPU and peripherals

[2018-11-08 15:37] atarijookie commented on #83
Thanks @ggnkua , will try and add that 👍

But wait, isn't that just some variable in memory? Atari Compendium on page 724 (of pdf) says this:
0x00000004 LONG ROM Reset: Program Counter

[2018-11-09 09:32] ggnkua commented on #83
0x00000004 LONG ROM Reset: Program Counter

Yup, this actually points to TOS' startup (boot) sequence. Like I said, this fully resets the machine as if you pressed the reset button. RAM TOS loaders do the same thing btw, just load the image and jump to the start of the code :).

The equivalent code would be ```jmp $fc0000``` or ```jmp $e00000``` depending on TOS version, but this is always stored

[2018-11-09 10:00] atarijookie commented on #83
Awesome, thanks for the explanation 👍 will use it!

[2018-11-09 13:10] atarijookie commented on #156
I've made changes for tasks 1), 2), 3), 4), so later I can easily do 9), but I've completely made a mess there, not yet tested, needs a lots of improvements until I can say that 1-4 are done 👎

[2018-11-10 06:38] atarijookie commented on #156
Things TODO next:
- [x] split encoder thread and addEncode...() functions to separate file - refactoring (imagesilo functions vs going through slots and encoding tracks)
- [x] move loading of image file from addEncodeWholeImageRequest() to encoding thread, so addEncodeWholeImageRequest() will take as least as it could
- [x] protect corethread vs encodethread access to imagesilo by mutex, but don't

[2018-11-10 17:31] atarijookie commented on #156
- [x] Each encoded track should have two DWORDs associated:
- Encode start - written by encoder thread when it starts ti encode
- encode request - written by core thread after write - on reencode request

When encoder finishes encoding that track, he should look and compare times, and if start time < request time, there was another reencode request while it was encoding that track, so it should re

[2018-11-16 14:12] atarijookie commented on #156
Most of the code is there, but nothing was tested since I've done all the refactoring on reading and added writing, so the plan now is:
- [x] test / fix floppy reading
- [x] test / fix / improve floppy writing

[2018-11-27 12:12] atarijookie commented on #46
In the past and present days I'm working on GEM version of CE_FDD.PRG, most of the GEM code is already there, partially tested under Hatari. Now I need to go and test it on real ST with real data, then fix all those issues that there might be...

[2018-11-27 12:27] atarijookie commented on #103
TTP version now has a feature that if you don't supply anything, it will find and insert first image in the same directory (used by AdamK in a similar way)
PRG version is now under development to become GEM version (#46)

They could get merged to one like this:
- no argument (just press enter) - open GEM GUI (#46)
- '*' as argument - find first image in directory, load it and select slot
- path to

[2018-11-27 13:59] atarijookie commented on #83
Reset and possible cancel added. Not sure if will do the rest (automatic skipping of drive boot). Closing for now, if someone will want to do the rest, he might reopen this, work on it in branch and create pull request for review and approval process ;)

[2018-11-27 13:59] #83 closed, assigned to mikrosk

[2018-11-28 01:44] atarijookie commented on #103
...or another option would be - merge the code for PRG and TTP, so we will have one source that does it all, but copy it twice to the config drive - once with PRG extension, once with TTP extension - that way the  code would be united, needs to be compiled only once, plus we would not annoy people with extra Enter / click on the start?

[2018-11-28 09:33] mikrosk commented on #103
Although I'm no fan of two binaries, it does seem like the most plausible approach.

[2018-11-28 14:34] atarijookie commented on #103
Now the silly question - how do I tell if the app was runned as TTP or as PRG? I was hoping for good old argv[0] having name of executable in it, but this isn't the case on atari - there seems to be only the arguments passed to the executable...

The dumb way now I'm going it is the one which I've mentioned above - no arg means GUI, single char means find first, longer string means filename, and w

[2018-11-28 14:47] mikrosk commented on #103
Since you are going to compile two apps anyway you can cheat and `#ifdef` the code accordingly. :)

Nice discussion about the topic is here: http://www.atari-forum.com/viewtopic.php?t=33702

[2018-11-29 12:31] atarijookie commented on #103
Hmm, I wanted to compile only one app and just copy and rename it after compilation ;) but since I really can't figure out other method for determining PRG / TTP, this might be just it...

[2018-11-30 08:19] atarijookie commented on #46
Some things were fixed and improved in CE_FDD.PRG, it was merged into master. I guess other ST apps won't be rebuilt to GEM soon, so closing this as 'done' :)

[2018-11-30 08:19] #46 closed, assigned to nobody

[2018-11-30 08:21] atarijookie commented on #103
Mouse in ce_conf.prg is not enabled anymore (for a long time). Sources of CE_FDD.PRG and CE_FDD.TTP were merged, now they need to be compiled with different flag in makefile into two separate apps. I guess this task / issue is done, so closing.

[2018-11-30 08:21] #103 closed, assigned to nobody

[2018-11-30 08:23] atarijookie commented on #167
I won't work on this one and nobody else seems to work on it, too, so closing this for now... Once someone wants to add this feature, he or she can reopen the task, assign it to himself / herself and proceed...

[2018-11-30 08:23] #167 closed, assigned to nobody

[2018-11-30 09:43] atarijookie commented on #185
One nice feature, which should / could be used in CE_FDD.PRG would be:
- add a way how the **BYTE findDevice(BYTE whichIF, BYTE whichDevType)** would output everything into dialog, which would be opened only if required - most of the apps could keep their console output, but CE_FDD.PRG with GEM windows would have a nice find device dialog.

Requirements on this feature:
- can use console output or

[2018-12-01 05:19] atarijookie commented on #156
The floppy read now hangs a bit due to encoding / badly marked flags:
[code]

[2018-12-03 05:29] atarijookie commented on #156
Floppy reading tested and fixed and reading works fine again. With improved encoding speed :) Possibly we could also skip waiting in web and ST apps for encoding to finish completely as the encoding now works per individual tracks and prioritizes track if it's needed for reading but it's not encoded yet.

[2018-12-04 04:31] atarijookie commented on #156
[code]

- [x] track / sector numbers are swapped on write - is track 2, sector 1, should be sector 2, track 1
- [x] code fails to find A1 sync

[2018-12-04 08:13] atarijookie commented on #156
Okay, so the decoder can't find the sync word in the written stream... Reasons and possible improvements:
- [x] check floppy write signal with scope
- [x] if the scope shows longer pulses instead of short ones like when doing read, then there will be needed changes of capturing stream - it seems that timer can capture either falling or rising edge, but not both
- [x] check / do byte swapping (was

[2018-12-04 09:42] atarijookie opened #188 "mp4 video player for ST"
I would like to do a mp4 player for ST based on ffmpeg, with most of the functionality there it could be extended to stream other video sources to ST, e.g. Chocolate Doom ;)

I know this isn't a feature that most of the people want (as they want floppy write support, SLM printer emulation, hard drive bugs to be solved), but this thing would introduce some fun into my ordinary work stack, and it's

[2018-12-04 16:43] ggnkua commented on #188
This reminded me of a project gasman demo'd at a demoparty that would render quake on a rpi, convert the graphics to spectrum format and then send it to the spectrum for rendering. So essentially the spectrum would only show graphics and sound and send the keyboard input back to the pi!

Alas, he never released the sources for that :( I did ask him for the project in person once but that didn't do

[2018-12-04 18:04] atarijookie commented on #188
Yeah, the idea is the same here, others sources not needed now, let's see how it will go ;) (some time after I finish the floppy write support - #156)

[2018-12-06 03:43] atarijookie commented on #156
So the floppy data signal is made of the shorter pulses of same polarity, which can be captured on the falling edge of the signal...
![scope_0](https://user-images.githubusercontent.com/18427437/49560107-76effe00-f911-11e8-8c41-e6d5821b6fa2.png)

[2018-12-06 04:54] atarijookie commented on #156
Even though I can't get debugging on Franz going :( the chip managed to send some sector data to RPi, which now looks better:
[code]

- [x] plus the test tool seems to write only once after starting, have to check that out, verify with scope
- [x] kick out geometry detection on write single sector test

[2018-12-06 07:27] atarijookie commented on #156
I've tested the decoding on PC, the data up there seem to be valid! I was able to decode it, even received and calculated CRC matched. Byte swapping on host not needed, so I should remove it (```// swap bytes - Franz has other endiannes```).

[2018-12-11 04:21] atarijookie commented on #156
Code changed a bit, written and decoded sector seems to be fine, so issues which remain are:
- [x] don't slot->encImage.askToReencodeTrack immediatelly, but instead after the written sector is decoded
- [x] image file saving after sector write doesn't seem to work
- [x] the reencoded track is not sent back to Franz for immediate streaming, so the write-read test fails -- add code to Franz that whe

[2018-12-14 04:25] atarijookie commented on #156
Floppy write works - mostly, the write-read-verify test fails in 2 cases out of 50 (or 500, depends on point of view), looks like this (crc error):
[code]

On 427 kB file it had 10 empty / corrupted sectors (5 kB) -- 1.2% error... Good enough for science [EEEEEEEEE] Not Aperature Science! ;)

TODO:
- [ ] **investigage / fix CRC error from above**
- [x] add log ERROR on good: 0, so in normal (not d

[2018-12-14 08:23] atarijookie commented on #156
- Read track resized from 15000 bytes to 13800 bytes.
- Write sector resized from 550 to 650 words (1100 B -> 1300 B).

[code]

- old mfm encoder removed
- mfm track buffer protected against overflow
- encoding overlay removed from web, it shouldn't block users anymore

[2018-12-14 10:26] atarijookie commented on #156
Possible reasons why 1.2% of write sectors are failing:
- Franz misses a pulse due to being under a load for a while
- some captured pulse is too long or too short and gets ignored
- if that would be the case, then we could disable interrupts during capturing, or go back to HW capturing
- cd ce_franz_fw ; git diff 069da82e64...ad043b05ef . (to see the HW capturing code from past)
- create a load o

[2018-12-26 08:53] atarijookie commented on #156
Can't make hw capturing work - captures around 680 B while sw capturing captures around 810 B...

- Find out, where the corrupted data in sw capturing is - start, middle, end - tests showed that the data is OK, there's only difference in CRC

- mark (counter?) how many pulses on write were too short or too long (less than 4 us, more than 8 us) - might help to understand why the data was wrong...

[2018-12-27 07:28] atarijookie commented on #156
With stream length determination + next sector index determination from stream table (instead of using a loop to find it manually) the situation didn't improve, and the CRC on bad write is still off just by one bit:
[code]

[2018-12-28 06:59] atarijookie commented on #156
- the data corruption seems to be only on CRC part (last 2 words) of the captured stream
- when this happens (1.2% of written sectors) the difference in calculated and received CRC is only 1 (0x2acf vs 0x2ace, 0xfadf vs 0xfade)
- when this error is considered as OK (accepting this difference), the write-read-compare test went OK through the whole floppy without single error (so all the read data w

[2018-12-28 08:14] atarijookie commented on #156
TODO:
- [x] fix W-R-V with custom functions and multiple sectors
- [ ] check what causes fail on W-R-V with custom functions on single sector (lazy read?) -- it seems that the new data hasn't been sent yet to Franz at the moment the ST tries to read it back
- [x] fix lazy read on linear floppy read test
- [x] enable floppy saving in floppy PRG
- [x] test floppy saving through ce_fdd.prg
- [ ] add

[2019-01-10 01:47] atarijookie commented on #156
While working with all of this, I've also hit another issue:
- when ce_main_app runs with noreset argument, Franz doesn't want to start with HSE, ends up running on 8 MHz and won't communicate with RPi 👎
- when ce_main_app runs normally (and does Franz's reset), the HSE starts, ends up running at 72 MHz as it should be 👍

...so I've added a code, that if the external clock (HSE) doesn't want to st

[2019-01-11 15:55] atarijookie commented on #156
**IKBD refactoring options:**
**A)** simple but might not work - either let IRQ handlers receive UARTs during write

**B)** simple but might not work -- c&p UART receiving to floppy_write() function. Possibly handle only UART3 RX (to slow down floppy write as least as possible), plus use some local buffer for faster storage of received bytes (circular buffer might be too slow here), and put all th

[2019-01-15 08:12] atarijookie commented on #156
Notes after today's tests:
- Timer Capture while handling one capture at a time doesn't work well - same as when using it with DMA - it captures ~720 pulses instead of ~820 pulses when doing it by GPIO checking - fixing this would also fix the DMA capture, which could possibly work with IKBD at the same time...
- adding UART / FIFO handling after capture doesn't work with FIFO functions, which are

[2019-01-17 07:22] atarijookie commented on #156
Finally some positive results - I've managed to get the Timer Input Capture to work - it was just bad processing of data and ignoring the short pulses... I still need to figure out how to solve the IKBD receiving and sending while doing floppy write...

I can't send the UART data only in main read loop - when doing write of 9 sectors in a row, the buffers get full as they aren't emptied often enou

[2019-02-22 18:27] ggnkua opened #189 "Latest CE firmware does weird things with raspbian jessie"
See thread here: http://atari-forum.com/viewtopic.php?f=103&t=35520&p=367853#p367853

It's so weird that in my fresh jessie install everything works great (keyboard, ethernet etc) until I run "ce_update.sh" and then "ce_start" (I actually plugged in a keyboard and hdmi directly to the pi so I can be sure of this).

As a first step maybe roll back the firmware version to a previous version while th

[2019-05-18 11:39] mikrosk commented on #134
Guys, didn't we forget about one scenario? Now I have used the magic combo to unlock the keyboard so I can type in shell, shouldn't Atari keyboard emulation be disabled until I lock it again? Because Atari is mirroring my shell commands, quite odd. :)

[2019-05-18 12:58] mikrosk opened #190 "Long filenames do not work over NFS"
I'm not sure when this happened or whether it has worked before but I can steadily reproduce it: I have a file with LFN on my NFS shared drive, I see it as `conhol~1.tgz` (original name `conholio-0.8.tgz`). If I try to copy it over, I get "An error occured while reading the source file", Skip/Abort. If I rename it to `conholio.tgz` on Linux, it goes all right.

[2019-05-18 13:01] mikrosk opened #191 "Erasing ZIP files (as folder) doesn't work"
First I thought this is some read-only issue but nope. On the same shared folder I have a couple of files and some ZIPs among them. All the other files are OK to erase from the desktop but not the ZIPs.

[2019-05-18 16:10] miniupnp commented on #190
what do you mean "LFN" on NFS shared drive.
LFN is a concept specific to FAT filesystems, that is not supported by NFS.

SMB is another story

[2019-05-18 16:12] miniupnp commented on #190
the short names sent to the Atari are not the same things as FAT names, are they ?
I'm not sure if we use ~ to shorten them

[2019-05-18 16:16] miniupnp commented on #190
yes we are using ~ to shorten the names :
https://github.com/atarijookie/ce-atari/blob/master/ce_main_app/translated/filenameshortener.cpp#L226

What are the debug logs ?
your should have lines such as :
`Debug::out(LOG_DEBUG, "FilenameShortener found mapping %s <=> %s", shortFileName, longFileName);`

[2019-05-18 17:18] mikrosk commented on #190
I was lazy ;-) LFN = long filename.

I'll check the logs.

[2019-05-18 17:39] mikrosk commented on #190
[code]

[2019-05-18 17:49] mikrosk commented on #190
I should have mentioned that I'm running on the official driver / app, not custom made from git sources.

[2019-05-18 18:08] mikrosk opened #192 "Working on NFS-mounted drive leaves strange hidden files behind"
What I did: put LHarc and JAYMSA18.LZH on the shared drive. Unpacked the archive, it created a folder called JAYMSA18 with files inside it. I tried to delete it afterwards but couldn't - while the files inside the folder were deleted, on the linux side I can see there are strange leftovers in that folder:
[code]
Perhaps that is the reason why Atari refused to remove the folder.

[2019-05-18 18:36] mikrosk opened #193 "LZH depacking fails on NFS drive"
I tried to reproduce this scenario: http://atari-forum.com/viewtopic.php?f=103&t=30390&start=75#p319956 (the lzh depacking issue) and indeed I was able to. However looking into the log, I fail to see how is this a communication / uneven address allocation issue, there is clearly something wrong with the translation:
[code]
Repro steps:
- copy lharceng.ttp to NFS drive
- copy some big (in my case 6

[2019-05-18 18:41] ggnkua commented on #193
Do we know if this happens on Falcon only?

[2019-05-18 18:56] mikrosk commented on #3
Is this really a bug? That's like reporting that two hard disk drivers do not like each other.

I think the supported scenario should be left as "First your native driver, then CE_DD.PRG in AUTO" for this case. As every Falcon owner, I have already a hard disk setup and I wouldn't expect CE booting my drives at all - just added to the chain.

[2019-05-18 20:27] miniupnp commented on #191
what's in the logs ?

[2019-05-18 20:39] mikrosk commented on #191
[code]
I'm trying to delete N:\LANG1.ZIP. Funny thing is that I actually see the name of the disk image - the desktop's error dialog says "Cannot delete file SHDRIVER.RAW".

[2019-05-18 20:41] mikrosk commented on #191
I think CE is trying to delete a folder named after the ZIP file instead of the file itself.

[2019-05-18 20:56] miniupnp commented on #190
[code]
the translation is done right, I don't know why 0 entries are found... maybe it is filtered because of attributes

[2019-05-18 20:59] miniupnp commented on #193
also does it happen on a Translated USB flash drive, or is it specific to NFS ? or SMB ?

[2019-05-18 21:02] miniupnp commented on #191
One issue is that we show the ZIP as a folder to the Atari. So the TOS is trying to delete a folder, not the zipfile

[2019-05-18 21:03] mikrosk commented on #193
Same for a translated usb flash drive.

[2019-05-18 21:04] mikrosk commented on #190
But if I take the same file but with a shorter filename, attributes wouldn't change, would they?

[2019-05-18 21:05] mikrosk commented on #191
AFAIK this is a feature. ;) You can enable it in the Translated drives menu. And yes, if I disabled it, it works fine.

[2019-05-18 21:08] miniupnp commented on #192
is your shared drive NFS or SMB ?

[2019-05-18 21:10] mikrosk commented on #192
As the title says, it's NFS. :)

[2019-05-19 02:40] d-hedberg commented on #193
Here's my test program I sent to Jookie about a year ago with regards to the even/odd file buffer bug. It reads the data file (included in the archive) into a buffer at an odd address and into a buffer at an even address. It checks that the data before and after the file buffers are not touched, and that the first 3 bytes read and the last 2 bytes read are correct.  If everything is read correctly

[2019-05-19 08:26] mikrosk commented on #193
@d-hedberg I can reproduce it, too. Logs are much cleaner now:

[code]
I'll try to take a look sometime today although no promises -- if there is a bug in the atari driver, I will find it but if it goes deeper into that Pexec() / fake disk image emulation, I'm at lost.

[2019-05-19 09:06] #193 closed, assigned to nobody

[2019-05-19 09:07] mikrosk commented on #193
Good news, everyone! It was easier than I thought. I'm attaching a fixed `ce_dd.prg` as it is a critical update.

[ce_dd.prg.zip](https://github.com/atarijookie/ce-atari/files/3194915/ce_dd.prg.zip)

[2019-05-19 09:19] mikrosk opened #194 "Fcreate() fails with STZIP.TOS on NFS"
Run attached STZIP.TOS from a NFS (and I presume USB translated, too) drive. It fails immediately on:
[code]
So it is not another variant of #193 as I thought, it looks closer to #190.

[stzip.tos.zip](https://github.com/atarijookie/ce-atari/files/3194925/stzip.tos.zip)

[2019-05-19 09:22] mikrosk commented on #194
I think it is related to creation of that directory (`STZIP`) because if I run `LHA310.TOS` (what is basically the same thing, a self-extracting archive), it works. The only difference seems to be that it doesn't create its own folder: it calls `Dgetpath` before and uses `Dcreate` instead of `Fcreate` ?
[code]

[2019-05-19 09:28] mikrosk commented on #194
Hmm.... this must be related to an error code or something... when running in Hatari I can see it fails as well but then it recovers and continue:
[code]

[2019-05-19 14:53] d-hedberg commented on #193
Well done! Thanks!

[2019-05-20 11:53] miniupnp commented on #194
@mikrosk I think I have fixed the bug, but I'm not able to test. could you test ?

[2019-05-20 11:56] mikrosk commented on #194
@miniupnp I'm pretty sure you need to handle EPTHNF in CE_DD.PRG as well (actually I have it in my local git repo already). If you attach a binary I can run on CE, I'll give it a try (I can't compile it by myself now, no dev/cross-compiler setup).

[2019-05-20 11:59] miniupnp commented on #192
This sould be NFS version 2 or version 3
http://nfs.sourceforge.net/#faq_d2

the presence of .nfsxxxxxx files means the files were deleted while still open.

I think my commit e1464ae8dda8eea9c5d023fdde9854b15cd26381 may have fixed it.

[2019-05-20 12:02] mikrosk commented on #192
Possible. If you make me a build for #194, I can test this one, too.

[2019-05-20 12:11] miniupnp commented on #194
@mikrosk You are right !!! fixed in 5e67820260c734d7e3b538ffad9575c8f0adf74e
I cannot build right now :( only the CE_DD.PRG ;)

[2019-05-20 12:47] miniupnp commented on #190
I suspect that the short name <=> long name is not properly handled when the search string is not a pattern containing * and/or ? but a single filename.
see 273737abebb22e08795216b13bc1a86d9b26fa29 for better debug log

[2019-05-20 13:01] miniupnp commented on #137
hum I have to rebase my code for interrupt driven GPIO stuff

[2019-05-21 20:23] mikrosk commented on #194
@miniupnp I'm either blind or there is some wizardry going on but... where exactly is that commit of yours? I can't find it in git history at all.

[2019-05-21 20:25] miniupnp commented on #194
@mikrosk  you need to have my github repo setup...
[code]

[2019-05-21 20:26] miniupnp commented on #194
here they are : https://github.com/atarijookie/ce-atari/network

[2019-05-21 20:47] mikrosk commented on #194
Ah OK, I was totally confused by the fact that clicking on 5e67820 didn't show any reference to your repository.

[2019-05-22 07:34] mikrosk commented on #113
Additionally, maybe we could finally tune the CE executable for performance? Right now we release unoptimised binaries. This makes debugging easier but I don't think there have been many reports where a core dump was the only option how to investigate.

Nice table how different RPi models can be optimised: https://gist.github.com/fm4dd/c663217935dc17f0fc73c9c81b0aa845

[2019-05-22 10:30] miniupnp commented on #113
the most important thing for performance is to remove all polling in the ce_main_app...
I have a branch with GPIO interrupt support

[2019-05-22 10:33] miniupnp commented on #190
@mikrosk have you been able to test ?

[2019-05-22 10:33] miniupnp commented on #194
@mikrosk have you been able to test ?

[2019-05-22 10:58] mikrosk commented on #113
Anyways - I have updated the wiki with my latest findings about cross-compilers: we can use Ubuntu's `g++-arm-linux-gnueabihf` package + cross compile the four (bcm2835, zlib, openssl, curl) packages during Travis `install` phase.

Commit https://github.com/atarijookie/ce-atari/commit/2887b43c5b1d154d26f1d87bbb40be40fd2b6546 makes the needed flags explicit so really, all we need is some cleanup an

[2019-05-22 15:18] mikrosk commented on #192
Confirmed, when compiled CE from master, the bug is gone.

[2019-05-22 15:18] #192 closed, assigned to nobody

[2019-05-22 15:24] mikrosk commented on #194
Just now. It is better but still not 100% working - now I get "Extracting : STZIP\README   Error while extracting (disk full ?)" (for each file) and nothing is extracted.

[code]

[2019-05-22 15:29] mikrosk commented on #190
Logs from your version below. I just drag&dropped the file from N:\ into D:\
[code]

[2019-05-22 15:31] mikrosk commented on #191
Present also on latest master.

[2019-05-22 15:34] mikrosk commented on #194
I think the problem is that you are handling Fcreate() but not Fopen(). See my Hatari log, it is Fopen() which returns -34. I'll try to verify this.

[2019-05-22 15:36] miniupnp commented on #194
great, we are making some progress :)

[2019-05-22 15:39] mikrosk commented on #194
@miniupnp indeed:

[code]
fixes the issue. Feel free to fix & commit it. :)

[2019-05-22 15:50] miniupnp commented on #194
@mikrosk  you can try my branch "issue_194"

[2019-05-22 18:56] mikrosk commented on #194
Yep, compiled both ce_dd.prg and new ce app, ST Zip is happy as never before. :) OK to merge.

[2019-05-22 20:39] #194 closed, assigned to miniupnp

[2019-05-22 21:33] miniupnp commented on #190
@mikrosk  thank you for the logs. can you check with my branch "issue_190" ? (if it does compile ?)

[2019-05-23 14:26] mikrosk commented on #190
Not only it compiles, it also works! :)

[2019-05-23 20:30] #190 closed, assigned to nobody

[2019-05-23 20:38] miniupnp commented on #191
I'm afraid we should close this as #wontfix because we don't know how to fix.

I do think we should rewrite "zip folders" support to actually read(write) into zip files without first extracting them to a temporary folder...

[2019-05-24 06:28] mikrosk commented on #191
What do you mean we don't know? Obviously, delete both the ZIP and its folder counter part. If it wasn't clear, it's failing from top level, i.e. I click on "ARCHIVE.ZIP", not its content.

[2019-05-24 07:58] miniupnp commented on #191
I should have written "I don't know how to do it"
Deleting a folder is not the same thing as deleting a file :
The atari ST is seeing a folder, so it will first recursively delete all files in the folder before deleting the folder. Deleting the ZIP "content"  fails as ZIP are read-only. So the ST is never trying to delete "ARCHIVE.ZIP" itself.
If you know how to do it, go for it !

[2019-05-24 08:08] mikrosk commented on #191
In theory: we know what we are deleting (ARCHIVE.ZIP) ... so if we get a request to delete ARCHIVE.ZIP/whatever, we can just return OK and not delete anything. So, if somebody is trying to be funny and delete something from that zip -> no harm done and if TOS does it + the last step is deleting the "folder" itself -> we delete it -> everything OK. Plus then we can delete the real file as well.

Pe

[2019-06-15 15:59] mikrosk opened #197 "Hidden files are visible on Atari side"
I'm not sure whether this is something introduced recently with the shared drive fixes but right now I can see folders and files like ".git" in my shared folder.

I guess those should be hidden?

[2019-06-15 18:43] miniupnp commented on #197
that's possible I added this bug recently :)

[2019-06-15 19:01] miniupnp commented on #197
@mikrosk  couly you test my patch ?

[2019-06-16 07:45] mikrosk commented on #197
Sorry, it doesn't work. I even don't understand how it could, you are just changing the check for `FA_DIR`, what has this to do with hidden files and folders (starting with dot) ?

[2019-06-16 13:36] mikrosk opened #198 "Case sensitivity problem on shared drive"
Funny issue - I had a file named TUBES.BIN on N:\ (shared drive), created by an Atari app.

I didn't want commit it to git in uppercase, so I renamed it in Linux to tubes.bin. Since then it got reported to TOS (and any atari app) as not found. Nothing really helped (i.e. asking for "tubes.bin" or "TUBES.BIN" from Atari side), I had to stop and start the CE again to flush its filename cache.

[2019-06-16 21:41] miniupnp commented on #198
well you mean you renamed a file after browsing the directory from Atari ? Indeed there must be a cache problem...

[2019-06-16 21:42] miniupnp commented on #197
.git is a directory right ? I thought it could be reported in a file only request.

sorry.

[2019-06-17 05:46] mikrosk commented on #197
Well, it is a directory and it doesn't work even for that, let alone files. :-)

[2019-06-17 05:48] mikrosk commented on #198
Yes, exactly.

[2019-07-02 18:27] atarijookie opened #199 "make update on devices per individual files"
Having one ce_update.zip seems fine for download using single wget, but it gets annoying when you update just one file - you have to rebuild even ce_main_app binaries, as the version of the main app is stored there...

What I would like to have is something just like 'svn up' or 'git pull' or 'wget whole directory', so when there is fix for single file, we won't need to create whole zip file...

I

[2019-07-02 19:38] mikrosk commented on #199
Actually, using `git pull` (or `svn up`) is quite common on web servers -- only people like Xi are uploading their html files via FTP. ;) So I can imagine update process like that, too. (remember, you can do `git pull` even locally, from another folder).

However, this wont provide you other services like restarting something, copying it to some specific location (/etc/config_file for instance) et

[2019-07-02 20:47] atarijookie commented on #199
Yes, that's where I got the idea from ;)

Some additional script would be needed for that work, but at least the update could be possibly simpler... Let me think about this one.

[2019-07-03 09:20] atarijookie commented on #199
Which one of the two mentioned would be easier to set up?
- svn can check out only a sub directory if needed (e.g. distro subdirectory)
- git could directly point to github as a free service for that
- but I remember that git was downloading a lot of objects / stuff when doing first 'git clone'
- maybe something other than svn / git?

[2019-07-03 09:40] mikrosk commented on #199
`git clone --depth=1 --branch=master` :)

[2019-07-03 10:28] atarijookie commented on #199
Hmm, to the 'lot of objects' issue would be solved by depth.
What about not downloading all the unnecessary sources from master? So either having different branch for updates distribution, or having completely separate repo for updates distribution (instead of using ce-atari)...

[2019-07-07 05:57] atarijookie opened #200 "otherInstanceIsRunning() seems to not work"
Longer time ago I've added this function, so I wouldn't try to run two instances of CE at the same time (e.g. one from /ce/app/, the other from build dir). There have been some changes to the function through time, but currently it seems that it doesn't work - I've managed to run the development build while I was having the /ce/app one running in the background.

This should get fixed, otherwise I

[2019-07-07 06:03] atarijookie commented on #199
Few things come to mind:
- the CosmosEx binary for each distro should have it's own branch, so it won't need a rename from cosmosex_[DISTRO_NAME_HERE] to cosmosex
- firmware binary files should come with a text file next to them, so the update script can figure out the versions of the fiemware files and thus if it needs to flash chips or not
- update script should check for presence of git and if

[2019-07-07 17:13] atarijookie commented on #200
Maybe the ce from /ce/app is an older version which doesn't write expected stuff into .pid file like the current otherInstanceIsRunning() does and expects, but I would rather have an version of this function which handles this fine even it's just older vs newer ce app (because from time I do download the older development images of CE from my web to get into clean state and end up with older app i

[2019-07-08 18:27] atarijookie commented on #156
After few months I've made few improvements and tests, and the results are as before:
- SW capturing results in good floppy data, but bad mouse behavior during write
- HW capturing results in good mouse behavior during write, but bad floppy data

I was thinking of HW (DMA) UART handling, but that's not possible with the current UARTs vs free DMAs.

There's also another option for partial HW captur

[2019-07-09 07:50] atarijookie commented on #156
TODO:
- TIM3 CH1 period seems to be wrong - TIM_TimeBaseStructure.TIM_Period = 0xff; - we let it go up to 0xff, but store it and work with it as with WORD - this seems very wrong ;)
- store count of occurrence of captured durations, but don't limit to 100, but rather to 200 or 300, to see the real length of 'ticks too long'
- try leaving DMA on, don't do DMA off, DMA on and so on
- set higher prio

[2019-07-09 17:50] atarijookie commented on #156
Okay, so it was TIM_Period = 0xff; instead of 0xffff; -- floppy write now works with HW capturing and you can move the mouse during that and nothing bad happens :-D

I'm closing this task as the floppy write has been now added and merged to master, any other related tasks or bugs might get an own issue.

I don't want to continue in this issue, it's too long and depressing :-D (create new issues fo

[2019-07-09 17:50] #156 closed, assigned to atarijookie

[2019-07-10 06:40] atarijookie commented on #199
TODO:
- [ ] change the way the update is shown and checked for in ce_conf
- [x] check for presence of git in linux, if not present, do apt-get install git (will be mostly used after first new update requiring git)
- [x] check if /ce/ is tracked by git - if not then git clone, if yes then git pull
- [x] retrieve current Franz and Hans FW versions from chips, compare to current ones from repo, decid

[2019-07-12 14:26] atarijookie commented on #199
TODO:
- [x] add missing /ce/update/hans.version +  /ce/update/franz.version + xilinx.version to releases repo
- [x] add checking for update pending
- [ ] test and fix

[2019-07-13 18:49] atarijookie commented on #199
hmmm, so on yocto or without git I still could check if there's a update pending or not - by wget github api to get last commit...

[2019-07-14 14:48] atarijookie commented on #199
Anyone - any idea what to place as text for online update? 'Online' looks just like state of device, 'Internet' looks like internet configuration button, 'From web' is technically wrong as it will go mostly from git, 'OnlineUp' is messed up, too ;)

![ce_update](https://user-images.githubusercontent.com/18427437/61185217-06535180-a657-11e9-996c-69373f4a4623.png)

[2019-07-15 08:48] atarijookie commented on #199
Added storing and showing checking-for-update-status and if update is available or not...

Now for some final testing and fixing and then we're good.

[2019-07-17 14:02] atarijookie commented on #199
Most of the things are now fixed for Jessie.

TODO:
- [x] test and fix on stretch and yocto
- [x] make and commit new builds for stretch and yocto (current doesn't copy the scripts)
- [x] test and fix update using ce_config.tos
- [x] 'update not neededte' in web config, probably will show on ST, too

[2019-07-17 14:03] atarijookie commented on #200
too lazy to work on this, closing for now

[2019-07-17 14:03] #200 closed, assigned to nobody

[2019-07-19 21:38] Atari260STE commented on #189
Hi Team,
I've faced an issue with the update CosmosEx v1 (v2 went ok):
http://www.atari-forum.com/viewtopic.php?f=103&t=37103&p=378101#p378101

[2019-07-22 06:12] atarijookie commented on #199
[code]

-- on yocto the wget is compiled without https support

[2019-07-22 06:26] atarijookie commented on #199
@mikrosk @miniupnp @ggnkua @tin-nl
- could any of you try the new update - if it works - on stretch or jessie? When you don't have git on device, update might take around 6 minutes due to git installation.

- I guess this is the end stop for yocto - wget on yocto doesn't support https (only http), github doesn't support http, and I guess t's not worth spend my time here - let the users upgrade to

[2019-07-22 07:55] atarijookie commented on #189
I've responded there with this - it's related to #199 :

[code]

[2019-07-22 14:55] ggnkua commented on #189
Well, I updated both my active devices, a v1 with raspberry pi 1 model b and a v2 with same raspberry pi model (iirc!). Both running raspbian Jessie. For the first I used the ST updater application and for the other I ssh'd to the pi and ran ce_update.sh.

Both seem to have updated fine. But is there something else I should have done? All this talk about git confused me a bit :)

[2019-07-22 15:37] atarijookie commented on #189
first update would go through the old download-from-web path. the second update will install git (might take 6 minutes) and the will issue 'git pull' when asked for update instead of downloading from web... but from the user point of view it looks almost the same - through ce_conf or by running ce_update.sh

[2019-07-22 16:26] ggnkua commented on #189
Well, as an addendum to my report above, I'm sad to report that my V1 device went fubar again :/

The MegaSTE can connect to it fine via acsi, but network is unresponsive (was working before the update, as I did web update) and usb is also down as when I plug in a keyboard it does not show any keystrokes on screen. Actually I double checked that - I started typing random characters while raspbian

[2019-07-22 17:36] tin-nl opened #201 "ACSI speed regression"
I noticed a speed regression from ~1MB/s to 500k/s ACSI transfer rate on V1 (jessie) a while back. This seems to be introduced with the 2018-05-10 release (tested myself) and is still in place in the current https://github.com/atarijookie/ce-atari-releases/commit/5c659756877c75f315033d03f700c2d42533e83a (quickly confirmed by @ggnkua).

- all tests were done with plain ST hw and CE v1
- testing tra

[2019-07-23 07:31] atarijookie commented on #201
Thank you for finding out where the issue started to appear - it will be easier to find the problem...

[2019-07-23 08:50] atarijookie commented on #189
Thank you, @ggnkua, I will have to investigate why it's behaving badly on v1 device. In the ideal situation we will have one Raspbian (Stretch, which is newer than Jessie) running on all the devices...

[2019-07-23 14:34] ggnkua commented on #189
Well, when I re-read my post above I got cold feet and booted the pi again. It is indeed raspbian jessie. (I'm confusing debian versions - I thought jessie was the latest. What's wrong with people not using version numbers instead of "cute" nicknames? :P)

Anyway, I tried the same experiment as above, kept mashing the keyboard till it stopped outputting characters on screen. It seems to stop at th

[2019-07-23 16:17] ggnkua commented on #189
It gets curiouser and curiouser...

Downloaded a fresh stretch image, flashed it on the sd card, booted the pi.... and console/network is frozen without even updating.

BTW if it's not clear from the above: The ST can talk to the CosmosEx without issues and you can change settings from ce_conf.prg etc. But no matter what I do it cannot connect to the network (ethernet) and plugging a usb keyboard

[2019-07-23 17:06] ggnkua commented on #189
Just flashed the pi with a fresh jessie image and it's back to normal.

Now, call me Mr unadventurous but I'll leave it be for now :D.

[2019-07-23 17:18] ggnkua commented on #201
Continuing from #189, I flashed a fresh jessie image to my v1 Cosmosex with a raspberry pi 1 model b and the speed test gave ~1mb/sec, if this helps

[2019-07-23 19:12] atarijookie commented on #189
Yes, this is probably because I've updated and uploaded the Stretch image yesterday...

Because that one is not updated and I'm not planning to update it.

No, don't do that - they have differently placed USB and ethernet connectors plus the internal connector is different, so they won't fit in the device.

I've just made some tests with Stretch + RPi 1 and the keyboard and ethernet is indeed not

[2019-07-23 19:14] mikrosk commented on #189
@ggnkua I know this takes you back from your grandpa wheelchair ;) but maybe you could try the official https://www.raspberrypi.org/downloads/raspbian/ ? Just to be sure something didn't break it on CE side.

EDIT: Oh I see, it's most likely a CE issue after all.

[2019-07-23 19:50] atarijookie commented on #189
GPIO6 on RPI 1 is eth+usb reset, on RPI 3 its used by the mentioned new features of CE v3:
https://electronics.stackexchange.com/questions/140485/lan9512-usb-hub-and-ethernet-controller-problems

[2019-07-24 04:54] atarijookie commented on #189
I've made a fix and tested it on Stretch + RPi 1, the ethernet + USB now works after the boot. It was the mentioned issue with the GPIO vs LAN chip..

https://github.com/atarijookie/ce-atari/commit/052882d861bba76ec7ca34bfb5ed6e3cd8b550c5

The Stretch image on my web isn't updated yet, I will do it during the day (from the place where internet is faster than at my home ;) ), I will let you know af

[2019-07-24 05:47] atarijookie commented on #201
After making a fix in #189 I've made a speed test - oldest CE (v1) running oldest RPi 1 (with only 2 USB ports, not 4), with Raspbian Stretch, and I've got 1064 kB/s when tested through CE HD test...
![speed](https://user-images.githubusercontent.com/18427437/61768127-c58dd200-ade6-11e9-858f-477930c533bb.jpg)

The Stretch image on web isn't updated yet, don't try until I update it as it causes the

[2019-07-24 08:50] atarijookie commented on #189
The new Raspbian Stretch image is on my web page, try it and report how it went...

[2019-07-24 08:50] atarijookie commented on #201
The new Raspbian Stretch image is on my web page, try it and report what speed you got on what device and RPi version.

[2019-07-26 18:43] mikrosk commented on #199
Uhm, for me the experience hasn't been very good so far. I'm on stretch - I got an update, so I updated it. After reboot I got random freezes and even more interesting - CE_CONF still insisted that there's an update available.

It complained something with git (couldn't read the whole message) so I went ahead to make its life easier and installed it. Rebooted everything, got a message "git is foun

[2019-07-26 18:50] mikrosk commented on #199
Starting the exe:

[code]
... encouraging :)

[2019-07-27 06:48] atarijookie commented on #199
Jeebus Crust, that went terribly bad, I've never seen it go that bad. And even exe not communicating with both of the chips - terrible (but never happened to me).

The 'got 1st update, updated, got 2nd update, updated' thing is due to 1st update being from the web (old way of update), then having the exe which checks for update in the new way, and you find new update on github (or just by missing

[2019-07-27 08:17] mikrosk commented on #199
It's even worse. I `dd`'ed the new Stretch image from scratch but the initial symptoms remain (freezes). Generally speaking, I can observe the following:
- random freezing for 2-3 seconds (mouse/keyboard, communication timeouts in CE_CONF)
- USB keyboard randomly switching off in the console, I have to re-enable it via LCTRL+ALT+ALTGR+RCTRL
- Franz FW reports as 0000 despite the fact that update t

[2019-07-27 08:24] mikrosk commented on #199
I suspect that maybe something went wrong during Franz/Hans update, is there a way to force update / rewrite firmware?

[2019-07-27 08:42] mikrosk commented on #199
Tried the old Stretch, update went well:
![IMG_20190727_103416](https://user-images.githubusercontent.com/3062260/61992167-13127500-b05b-11e9-8fa3-e6b623e89466.jpg)

and yet all of the problems persist (incl. Franz version 0000). Now I know how all those poor souls feel when "CE just doesn't work" :) I have an old ce_update.zip on my disk, I'll try to update/downgrade it, if possible.

[2019-07-27 09:21] mikrosk commented on #199
What really surprises me that even after a clean rewrite of the SD card, I get versions like this (old Stretch):
![IMG_20190727_111841](https://user-images.githubusercontent.com/3062260/61992576-96829500-b060-11e9-8cad-ec150a364b2f.jpg)
That would imply that there is something like a first time flash when the new card is booting? But if so, I can't understand why Franz stays at 0000?

[2019-07-27 09:34] mikrosk commented on #199
OK, the final nail to my unhappy endeavour - 'update from usb' as per http://joo.kie.sk/?page_id=484 doesn't work at all - I get only frozen screen after "from USB" and after a while return to the main menu.

[2019-07-27 09:39] mikrosk commented on #199
Hmm, it seems that CE_CONF just doesn't check Franz status at all:

[code]
i.e. when RPi boots, it should perhaps halt if Franz is dead, shouldn't it. That would explain that zeroes. Now the question is, how to revive Franz? :-P

[2019-07-27 10:02] mikrosk commented on #199
To my big relief, I have managed to get it working again. Basically I had to erase everything from /tmp, unpack my old ce_update.zip (as the USB is totally dead) there, run scripts from /ce/update one by one and got it to this state:
![IMG_20190727_115607](https://user-images.githubusercontent.com/3062260/61993025-27a83a80-b066-11e9-8a46-cf295a273b93.jpg)
As I have some Atari work to do, I'm leavi

[2019-07-27 10:10] ggnkua commented on #199
Aww look, grandpa is now making excuses instead of testing :P

[2019-07-27 12:04] atarijookie commented on #199
Okay, we need to get this working nicely, it's the best option of anyone allowed (you, him and me, and also him) doing minor fixes and releasing them to public, instead of the previously used complicated update system which only I could push out as a release... (this is still cry for any possible help).

If the chips are not written, the /ce/ce_update.sh script checks if the file /tmp/FW_FLASH_ALL

[2019-08-02 05:51] mikrosk commented on #199
Another strange update report (xilinx version 0000): http://atari-forum.com/viewtopic.php?p=378819#p378819

[2019-08-02 13:14] atarijookie commented on #199
The 'xilinx version 000000' issue is due to the fact that:
- the version of xilinx is not read from chip, but from file
- that file name changed because of this update change
- there wasn't a change to read the version from the new file in the ce_main_app, but now there is: https://github.com/atarijookie/ce-atari/commit/29914fb977b81862a97ba8928c414d93c6a61064
- ...but it's not tested as I'm 1200

[2019-08-02 14:32] atarijookie commented on #199
Another issue is / was that once you write the new SD card image, you might still have old chips FW, but the ce_main_app is new and requires newer ones. So I've added check for FW chips version to ce_start.sh, hopefully it will detect this situation and write new chips FW. I've also added the /ce/ce_force_flash.sh for manually forcing the FW flashing.

I need to test these ones once I get home to

[2019-08-02 19:05] ggnkua commented on #199
Ok, I finally got some time to test this on my devices. I'll list them for the record:

a)
[code]
b)
[code]

When I booted (a) the network wasn't working (as mentioned in #189) but the keyboard was running ok, so I got a usb stick and stuck the latest update. That did the trick and now the device is at latest firmware for everything.

(b) had network working so I simply hit update and it upgraded

[2019-08-02 19:07] ggnkua commented on #189
My comments [here](https://github.com/atarijookie/ce-atari/issues/199#issuecomment-517812004) are relevant here too I'm sure

[2019-08-02 19:09] ggnkua commented on #201
Just tested with latest firmware on the offending device and it seems to have gone back to normal speeds. I think we can close this now, well done @atarijookie :)

[2019-08-02 21:12] atarijookie opened #202 "adding wait-for-linux-start bootsector"
- when storing acsi / scsi config, store it also in hans (like sd card id now), so we would have id for ce_dd - in handleAcsiConfig(), where we have all the enabledIds

- when hans starts and host (rpi) is not up, when reading ce_dd id bootsector, return custom bootsector (stored in hans)

- custom bootsector sends command to hans only, retrieves host-is-up flag

- host not up? try again in one se

[2019-08-04 05:49] atarijookie commented on #201
Thanks, but I still want to test it on multiple devices (older and newer) to see if something is not slowing it down on some of them :)

[2019-08-04 18:05] atarijookie commented on #199
note to self: change the fake update progress in ce_conf to have 6 minute timeout, because it might take that long due to git installation...

[2019-08-08 04:34] atarijookie commented on #199
tested the xilinx version reading, seems to work fine...
So things to do:
- [x] that change in ce_conf
- [x] put new image of stretch on web

[2019-08-08 04:36] atarijookie commented on #189
The dead usb and network issue has been fixed, closing.

[2019-08-08 04:36] #189 closed, assigned to nobody

[2019-08-08 14:37] atarijookie commented on #198
So you created in on Atari, but then renamed it on your PC or on your Raspberry Pi (inside CosmosEx)?

The translation dictionary between Atari 8.3 names and linux filenames is done when you open some directory on your Atari. If you rename it under linux (or windows) then the ce_main_app doesn't know what you renamed it to and it doesn't do a refresh of the dictionary in that case.

What could be

[2019-08-08 18:39] mikrosk commented on #198
Yes, it should be definitely 2). I would even go further - and make the cache case insensitive by default. Two reasons:
1. Windows doesn't allow you to have TUBES.BIN and tubes.bin next to each other anyway
2. Linux does but what do you show on Atari side? So I'd just call this a known limitation.

[2019-08-09 05:26] atarijookie commented on #199
After changing ce_conf and submitting it to releases git, I've did the update, and there seems to be one additional problem -- open ce_conf -> check for update -> update found -> do update -> open ce_conf -> check for update -> update found, and so on - it seems that it doesn't update the files now or what :(

[2019-08-09 07:09] atarijookie opened #203 "ST fails to access floppy images inserted by CE_FDD.PRG and CE_FDD.TTP"
The short description is in the title, the longer description in czech language follows (too lazy to translate it to english at this moment)...

[code]

[2019-08-13 05:21] atarijookie opened #204 "shell doesn't work from ce_conf"
If you press F8 in CE_CONF, the shell doesn't work there.

root@cosmosex:~# ps -A | grep 'cesuper.sh\|cosmosex\|doupdate.sh\|ce_update.sh\|ce_start.sh\|ce_stop.sh'
  393 ?        00:00:00 cesuper.sh
  867 ?        00:00:03 cosmosex
  869 ?        00:00:00 cosmosex <defunct>

[2019-08-13 05:36] atarijookie commented on #199
The issue was due to killing cesuper.sh from ce_update.sh, but that killed also ce_update.sh and the app then couldn't start. It seems that I've fixed this now...

[2019-08-13 15:51] atarijookie commented on #203
This seems to work fine at my place, when using the new CE_FDD.PRG. Maybe user was using older CE_FDD.PRG?
But the ST desktop freezes when I get back to it from CE_FDD.PRG, so there's some other issue anyway.

[2019-08-13 16:16] atarijookie commented on #201
Tested on:
- CE v1 + Stretch
- CE v2 + Jessie
- CE v2 + Stretch
All devices with the current release had 1 MB/s of transfer speed, so I guess we're fine now and we can close this.

[2019-08-13 16:16] #201 closed, assigned to nobody

[2019-08-13 16:38] atarijookie commented on #204
Okay, so on my pc with Debian 9, at least the shell runs when I use it with 'cosmosex ce_conf' and F8.
On Raspbian 9 (Stretch) it doesn't work even when used with 'cosmosex ce_conf' and when used with CE_CONF.PRG

I would like to get rid of the 'forkpty()' in main.cpp, as that starts (and shows) another cosmosex process in PS and it's an ugly way anyway, I wanted to move it to shell script (e.g. c

[2019-08-13 16:42] atarijookie opened #205 "Static IP doesn't work"
@ggnkua mentioned this issue in #199

If this will happen only on Jessie and will work fine on Stretch, this might get ignored, as we're focusing now on Stretch (because Jessie doesn't support newer RPi which Stretch does).

[2019-08-13 16:45] atarijookie commented on #199
As the statis IP bug has own github issue #205, if people will report that the new update works, this issue will get closed and the static IP issue might get looked into in that other #205 .

[2019-08-13 17:43] atarijookie commented on #204
Now I've tested it and it works on Stretch :(
...and then it didn't work when it started after power up... It's random, but less working than more ;)

[2019-08-14 18:46] atarijookie commented on #198
Partially fixed for fopen() in this commit:
https://github.com/atarijookie/ce-atari/commit/fd9ca866de0cd3d6032de192ed6561826c4592b6
...by adding hostPathExists_caseInsensitive()

Two more things to do:
- [x] update dir translator with newly found filename
- [x] possibly find in which other functions than fopen() this happens and add it there, too

[2019-08-15 07:35] atarijookie commented on #198
Done the update of dir translator, not tested (but compilable).

[2019-08-15 18:19] atarijookie commented on #198
Tested, works, closing ;)

1st fopen() in original file - open OK
2nd fopen() after file renamed - found with case insensitive, updated dir translator / filename shortener
3rd fopen() went directly for renamed file because it already used the updated dir translator.

[2019-08-15 18:19] #198 closed, assigned to nobody

[2019-08-15 18:23] atarijookie commented on #199
Update seems to work on Stretch, closing.

[2019-08-15 18:34] atarijookie commented on #205
The static IP configured through CE_CONF.PRG seems to work fine on Stretch.

[2019-10-14 20:03] mikrosk commented on #199
Just for the record, I was brave enough to try the update again (from the rescued ~2018 state as mentioned above) and fell into the same trap. It's showing exactly the same symptoms as described above.

I'm going to download the new stretch image, I guess that will do the trick here. Will report later.

[2019-10-14 20:42] mikrosk commented on #199
Nope, sorry.

The symptoms are exactly the same - keyboard/mouse freezing, CE_CONF reporting lost connection (and then finding it again), ...

I even did manual flash update of all chips, it succeeded but didn't change anything (including the 0000 version of Franz).

So for me there is no other way than to revert back to 2018 versions with new CE_DD.PRG. @atarijookie I guess you still have to come

[2019-10-15 17:20] #199 closed, assigned to atarijookie

[2019-10-15 17:31] mikrosk opened #206 "20190709 franz.hex makes system unusable"
OK, finally I had time and motivation to investigate #199 further. It's not an update process bug, it's really bad firmware. When I use the latest stretch image and update everything I get into the state described in #199:

- atari keyboard and mouse is randomly freezing
- usb keyboard switched into the console (LCTRL+LALT+RALT+RCTRL) is randomly switching back
- franz version shows 0000 in CE_CON

[2019-10-15 17:33] mikrosk commented on #206
Btw that 'update not needed' is of course a ticking time bomb because I have locally overwritten franz.version & franz.hex so the next time an update is available, git will loudly complain that it can't update the working directory because of local changes.

[2019-10-15 17:34] mikrosk commented on #206
Looking at the log for franz firmware, I see there's a lot of floppy-related commits but also a few dangerously looking ones like "refactoring" or "making XY faster/better" ;-)

[2019-10-15 18:19] mikrosk opened #207 "ST-Zip depacking fails with certain archives"
This is very similar to #193. Put https://www.pouet.net/prod.php?which=74937 on a shared drive (NFS in my case), depack it to some HDD partition. ST-Zip reports CRC errors, unzip.ttp doesn't. It must be something ST-Zip specific. Doesn't happen on all archives, doesn't happen even on huge archives, it seems quite random.

[2019-10-15 18:23] mikrosk commented on #207
However it is possible that ST-Zip it just triggering some generic error - for instance, with this specific archive I could observe that Linux said it's fine, copied to a HDD partition, copied back to shared drive and CRC failed on Linux.

[2019-10-17 18:51] mikrosk commented on #207
Oops. This looks like an ST-Zip bug after all. Verified again and it fails on (double checked) archives depacking from normal HDD _and_ in Hatari, too.

However that mysterious corruption of an archive when copied back to NFS remains a mystery. I'll try to reproduce that one, too.

Closing for now.

[2019-10-17 18:51] #207 closed, assigned to nobody

[2019-12-09 17:54] mikrosk commented on #206
An update on this one, this must be somehow Falcon related. During Silly Venture 2019 we were updating some CE 3.0 units and I could see the exact same behaviour. So it's not my faulty (v2) unit, it's some Franz FW bug.

[2020-01-24 21:42] drummerjoe commented on #206
Any chance you can provide a downgrade process for v1 users?  I'd be willing to test this entire process but my device is totally hosed at the moment from attempting to upgrade.

![IMG_20200124_163949](https://user-images.githubusercontent.com/49952774/73106044-78d7a080-3ec8-11ea-80b9-52b763473d82.jpg)

[2020-02-02 19:42] mikrosk commented on #206
As improbable as it sounds, this has been an user error the whole time. Namely, my error. ;) The original 34-pin floppy cable wiring in Falcon is actually the opposite of the usual HD floppy drives' standard so when I installed Gotek in my Falcon, I made a cable which is the opposite to the Falcon/ST standard and used that the whole time. CE naturally respect the Falcon/ST standard so one doesn't

[2020-02-02 19:42] #206 closed, assigned to nobody

[2020-02-02 19:51] mikrosk commented on #205
Hmm, it looked like a cannot reproduce but I could reproduce it after all:

- disable DHCP, fill in all the other fields (DNS, gateway etc)
- check the IP has changed via ssh
- reboot or power cycle
- no network interfaces found!
- enable dhcp
- reboot or power cycle
- IP assigned

[2020-02-02 19:53] mikrosk commented on #204
I can't get to the shell via F8 either. Just blank screen + cursor. Latest stretch.

[2020-02-06 21:19] mikrosk opened #208 "readme.txt on O: has Unix line endings"
Should be CR/LF so it's readable on Atari.

[2020-02-06 21:27] mikrosk opened #209 "Why CE_FDD has button "Internet" when it looks for a storage?"
I thought it would show me some kind of disk images list downloaded from the Internet (there has been such feature, hasn't it?) but as I see in the code, it basically just checks for USB/shared network storage.

[2020-02-10 08:26] mikrosk opened #210 "Update to latest Raspbian"
There's faster SSL, new RPi firmware, ... http://downloads.raspberrypi.org/raspbian/release_notes.txt

[2020-03-18 07:24] mikrosk commented on #203
Duplicate of http://atari-forum.com/viewtopic.php?p=396512#p396512 ? In that case it would seem that it is a recent bug.

[2020-03-18 11:02] mikrosk commented on #208
Fixed in https://github.com/atarijookie/ce-atari-releases/commit/ec83f84e80fd37ccfc301183a10e5faad4d7869c, https://github.com/atarijookie/ce-atari-releases/commit/4da534f6a7d7c804ee9f579a9d07ff6f995e983c and https://github.com/atarijookie/ce-atari-releases/commit/a8997526d2efa1e6a9cb9b8e694e1376fda15457.

Should with with simple `git pull`, nothing is needed to be done on the user's side.

[2020-03-18 11:02] #208 closed, assigned to nobody

[2021-05-19 16:27] Atarinside opened #211 "Can't open some directories"
Hi,

I noticed that some directories can't be opened : when you click on the directories on the ST, nothing is happening.
Same problem on both my CE3 accessing :

- a remote SMB share on my Synology.
- a local copy of the directory on a SDCard.

IE : Directory "\MSLUG" containing only the following 53 files :
bazg.emx
bazgdead.emx
bexp.emx
bgshoot.emx
birds.ems
bshoot.emx
bullet.emx
cshell.emx
deb

[2022-01-04 06:42] nilskt commented on #203
I am running version 2019-02-22 on my CE v. 1 on Yocto. Mounting of images seems to work fine from both web-gui and from CE-FDD.PRG, and I can see the files in TOS. I can also open some files. Unfortunately most of the PRG starts loading, but ends up with the error "Data on the disk in drive A: may be damaged" (I have Scanadinavian version of TOS, so the actual error message is of course in local